@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Reports
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.BookingConfirmation.BookingConfirmationAirExportHawbModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}


<div style="width:900px;background-color:white;" id="form" name="form" class="edit">
    <div class="container" style="background-color:black">
        <div style="display:flex;justify-content: center;" class="item-left">
            @*<button class="btn"><i class="fa fa-file-pdf-o"></i></button>
            <button class="btn"><i class="fa fa-print"></i></button>*@
            @*<a class="btn" href="../OceanExports/print?handler=Download"><i class="fa fa-print">儲存PDF或列印</i></a>*@
            <a class="btn" href="#" id="reportLink" name="reportLink"><i class="fa fa-print">儲存PDF或列印</i></a>
        </div>
        @*
        <div style="float:right;" class="item-right">
        <button class="btn zoom" id="zout" name="zout"><i class="fa fa-search-minus"></i></button>
        <button class="btn zoom-out" id="zin" name="zin"><i class="fa fa-search-plus"></i></button>
        </div>
        *@
    </div>

    @*Start of template*@
    <div class="wrap oe-booking-confirmation">


        <div class="item-edit topbar">




            <div class="topbar-block">
                Data Source :
                <select class="select w-160px" onchange="loadDataSource(this)">
                    <option selected="selected" value="loadInitial">Shipment</option>
                    <option value="loadDraft">Last Modified</option>
                    <option value="loadEmptyFromDraft">Load empty fields from last modified</option>

                </select>

            </div>


        </div>
        <div class="header header-normal _padding-0">
            <table>
                <tbody>
                    <tr>
                        <td class="w-15 logo">
                            <img src="/img/hardcore-tech-logo.png">
                        </td>
                        <td class="w-48">
                            <h1 class="auto-font-size office-name"><span>HARD CORE TECHNOLOGY(GST/VAT)</span></h1>
                            <div class="auto-font-size office-des">
                                <span>
                                    77792 COBB CAPE<br>
                                    TRISTANCHESTER, NE 47478<br>
                                    TEL: 08417606080 FAX: 08417606080<br>
                                    EMAIL: hanjun.lin@dolphin-gp.com

                                    <br><strong>Prepared by Hanjun Lin 07-14-2023 11:39 (CST)</strong>

                                </span>
                            </div>
                        </td>
                        <td class="w-2">&nbsp;</td>
                        <td class="w-35 title border-deep-blue">
                            <div class="text-center">
                                <h2 class="blue-lg">BOOKING CONFIRMATION</h2>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="header header-horizontal-logo _padding-0">
            <table>
                <tbody>
                    <tr>
                        <td class="w-75">
                            <h1 class="text-blue-deep">BOOKING CONFIRMATION</h1>
                            <h2 class="auto-font-size office-name"><span>HARD CORE TECHNOLOGY(GST/VAT)</span></h2>
                            <div class="auto-font-size office-des">
                                <span>
                                    77792 COBB CAPE TRISTANCHESTER, NE 47478<br>
                                    TEL: 08417606080 FAX: 08417606080 EMAIL: hanjun.lin@dolphin-gp.com

                                    <br><strong>Prepared by Hanjun Lin 07-14-2023 11:39 (CST)</strong>

                                </span>
                            </div>
                        </td>
                        <td class="w-2">&nbsp;</td>
                        <td class="w-22 logo">
                            <img src="/api/office/logo/1/">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="con">
            <h1 class="text-16 text-right">

                HAWB NO. :

                <div class="inline-block">
                    @*<div class="item-pdf"><span>@Model.HblNo</span></div>*@
                    <div class="item-edit hover-toggle-icon-text-template">
                        <input type="text" name="BL_NO" value="@Model.HblNo" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.BL_NO" class="text-16 ng-isolate-scope" id="id_BL_NO"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                            <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 198px;"></span><!---->
                            @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a6f475846782" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                        </hc-input-template>
                    </div>
                </div>
            </h1>
            <table>
                <colgroup>
                    <col class="w-50">
                    <col class="w-50">
                </colgroup>
                <tbody>
                    <tr class="border-t">
                        <td class="td border-r border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">SHIPPER</td>
                                    </tr>
                                    <tr>
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="shipper_area" cols="40" rows="6" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.shipper_area" id="id_shipper_area">
                                                        @Model.ActualShipper
                                        </textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 328px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="ad83555575db" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf auto-font-size __textarea-md"><span>ABBOTT-CRAIG<br>
                                                0433 PENA MOUNTAINS SUITE 145<br>
                                                MIRANDAVIEW, HI 32157-3162<br>
                                                UNITED STATES<br>
                                                ATTN: PAUL BARTLETT TEL: 431.432.4057 FAX: +66(5)1874450909</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="td border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">BOOKING INFORMATION</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table-padding">
                                <colgroup>
                                    <col class="w-32">
                                    <col class="w-1">
                                    <col class="w-68">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>FILE NO.</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data text-md">
                                                <div class="item-pdf auto-font-size __width-bkg-info">
                                                    <span>@Model.File_No</span>
                                                </div>
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="filing_no" value="@Model.File_No" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.filing_no" id="id_filing_no" class="ng-isolate-scope">
                                                    <hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 208px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a1370e9a5be9" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>BOOKING DATE</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-pdf">@Model.BookingDate</div>
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="booking_date" value="@Model.BookingDate" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.booking_date" id="id_booking_date" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 208px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="ad56b275def5" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>P/O NO.</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="po_num_list" cols="40" rows="2" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.po_num_list" id="id_po_num_list">
                                                        @Model.PoNo
                                        </textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 210px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a3a7ae58c856" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                <div class="item-pdf auto-font-size __textarea-xxs"><span></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ITN NO.</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-pdf auto-font-size __width-bkg-info"><span>@Model.ItnNo</span></div>
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="itn_no" value="@Model.ItnNo" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.itn_no" id="id_itn_no" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 208px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a4c5e65cc633" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td border-r border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">CONSIGNEE</td>
                                    </tr>
                                    <tr>
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="consignee_area" cols="40" rows="4" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.consignee_area" id="id_consignee_area">
                                                        @Model.Consignee
                                        </textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 312px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a29b6157e1f9" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf auto-font-size __textarea-xs"><span>123<br>
                                                3 FL., NO. 215, SEC. 1, FU XING S. RD., TAIPEI, TAIWAN<br>
                                                TEL : 02-87721111<br>
                                                FAX : 02-87732222<br>
                                                TAIWAN</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="td border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="td w-100 bg-light col-padding-double text-bold">AGENT</td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="td w-100 col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="hbl_agent_name" value="@Model.Agent" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.hbl_agent_name" id="id_hbl_agent_name" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 325px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a0b6cd2111f2" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf text-center auto-font-size __width-md"><span>11</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="td w-100 bg-light col-padding-double text-bold">NOTIFY</td>
                                    </tr>
                                    <tr>
                                        <td class="td w-100 col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="notify_name" value="@Model.Notify" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.notify_name" id="id_notify_name" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 325px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a4f8d5b33170" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf text-center auto-font-size __width-md"><span>1231231</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td border-b" colspan="2">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">FLIGHT &amp; ROUTE INFORMATION</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="td table-padding">
                                <colgroup>
                                    <col class="w-18">
                                    <col class="w-1">
                                    <col class="w-45">
                                    <col class="w-9">
                                    <col class="w-1">
                                    <col class="w-26">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>FLIGHT NO.</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="flight_no" value="@Model.Flight_No" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.flight_no" id="id_flight_no" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 289px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="af4367ff923c" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf text-center auto-font-size __width-md"><span>RTETRR</span></div>*@
                                            </div>
                                        </td>
                                        <td>CARRIER</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data auto-font-size __width-xxs text-md"><span>@Model.Carrier</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>DEPARTURE</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="APOL" value="@Model.Departure" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.APOL" id="id_APOL" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 289px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="ab03455bfe8f" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf text-center auto-font-size __width-md"><span>(AAA) ANAA</span></div>*@
                                            </div>
                                        </td>
                                        <td>ETD</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">@Model.ETD</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>DESTINATION</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="APOD" value="@Model.Destination" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.APOD" id="id_APOD" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 289px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="ad7ef7e62016" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf text-center auto-font-size __width-md"><span>(AAB) ARRABURY</span></div>*@
                                            </div>
                                        </td>
                                        <td>ETA</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">@Model.ETA</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td border-b" colspan="2">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">CARGO INFORMATION</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="td table-padding">
                                <colgroup>
                                    <col class="w-11">
                                    <col class="w-1">
                                    <col class="w-48">
                                    <col class="w-11">
                                    <col class="w-1">
                                    <col class="w-28">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>COMMODITY</td>
                                        <td>:</td>
                                        <td colspan="4">
                                            <div class="data">
                                                <div class="item-pdf auto-font-size __width-lg"><span></span></div>
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="good_item_description" value="" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.good_item_description" id="id_good_item_description" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 597px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="abb1bb226cfc" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>WEIGHT</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data"></div>
                                        </td>
                                        <td>DANGEROUS</td>
                                        <td>:</td>
                                        <td class="td">
                                            <div class="data">
                                                <div class="item-pdf">NO</div>
                                                <div class="item-edit">

                                                    <label class="_margin-b-0" for="id_is_dangerous_0"><input type="radio" name="is_dangerous" value="YES" id="id_is_dangerous_0" required=""> YES&nbsp;&nbsp;</label>

                                                    <label class="_margin-b-0" for="id_is_dangerous_1"><input type="radio" name="is_dangerous" value="NO" id="id_is_dangerous_1" required="" checked=""> NO&nbsp;&nbsp;</label>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MEASUREMENT</td>
                                        <td width="5px">:</td>
                                        <td>
                                            <div class="data">@Model.Measurement</div>
                                        </td>
                                        <td>L/C</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">
                                                <div class="item-pdf">YES</div>
                                                <div class="item-edit">

                                                    <label for="id_is_lc_0"><input type="radio" name="is_lc" value="YES" id="id_is_lc_0" required="" checked=""> YES&nbsp;&nbsp;</label>

                                                    <label for="id_is_lc_1"><input type="radio" name="is_lc" value="NO" id="id_is_lc_1" required=""> NO&nbsp;&nbsp;</label>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PKG</td>
                                        <td>:</td>
                                        <td>
                                            <div class="data">@Model.PKG</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td border-r border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold"> DELIVERY TO / PIER</td>
                                    </tr>
                                    <tr>
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="delivery_to_area" cols="40" rows="5" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.delivery_to_area" id="id_delivery_to_area">
                                                        @Model.Deliver_To
                                        </textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 328px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a801fa67db04" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf auto-font-size __textarea-sm"><span>ABBOTT INC124<br>
                                                7926 FUENTES BRIDGE<br>
                                                LAKE CHELSEYFORT, SC 35056<br>
                                                UNITED STATES</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="td border-b">
                            <table>
                                <tbody>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">CARGO PICK UP</td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="cargo_pickup_area" cols="40" rows="5" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.cargo_pickup_area" id="id_cargo_pickup_area">
                                                        @Model.CargoPickUp
                                        </textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 312px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a3cfeb880589" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf auto-font-size __textarea-sm"><span>ABBOTT-CRAIG<br>
                                                0433 PENA MOUNTAINS SUITE 145<br>
                                                MIRANDAVIEW, HI 32157-3162<br>
                                                UNITED STATES<br>
                                                ATTN: PAUL BARTLETT TEL: 431.432.4057 FAX: +66(5)1874450909</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="bg-light col-padding-double text-bold">TRUCKER</td>
                                    </tr>
                                    <tr>
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <input type="text" name="trucker_name" value="@Model.Trucker" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.trucker_name" id="id_trucker_name" class="ng-isolate-scope"><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: 325px;"></span><!---->
                                                        @*<ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a15e8554af8e" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>*@
                                                    </hc-input-template>
                                                </div>
                                                @*<div class="item-pdf auto-font-size __width-md"><span>ABBOTT LABORATORIES</span></div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="td" colspan="2">


                            <table ng-show="!vm.isTermsAndConditionsOverflow()">
                                <colgroup>
                                    <col class="w-50">
                                    <col class="w-50">
                                </colgroup>
                                <tbody>
                                    <tr class="border-b bg-light">
                                        <td class="col-padding-double text-bold border-r">REMARK</td>
                                        <td class="col-padding-double text-bold">TERMS &amp; CONDITIONS</td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="col-padding border-r">
                                            <div class="data">
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="booking_remark" cols="40" rows="25" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.booking_remark" id="id_booking_remark">LLL</textarea><hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 3px; left: 328px;"></span><!---->

                                                        <ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a223c15ecbc8" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>
                                                    </hc-input-template>
                                                </div>
                                                <div class="item-pdf auto-font-size __textarea-xl"><span>LLL</span></div>
                                            </div>
                                        </td>
                                        <td class="col-padding td">
                                            <div class="text-xs" id="terms_and_conditions">
                                                Note: As a result of the Passage of the Homeland Security Act, U.S. Customs officials are enforcing the requirement that AES information and other shipping documentation be received prior to cargo loading the vessel. Failure to complete may result in your cargo not loading on intended vessel. You can file your SED electronically through the Census website at https://ace.cbp.dhs.gov/ or you can inquire about our AES filing service with a fee. All export/hazardous declaration must be in our possession by the day of the cut off prior to cargo loading, Any fines incurred due to lack of SED filing compliance will be for the amount of shipper/forwarder. All shipments to Hong Kong, China, Taiwan, Australia, if wooden pallet and/or crate are used, it MUST comply with the IPPC certification; or use plastic pallets. Charges and consequences due to non-compliance will be at customer's expense. For I.E.and return cargo, freight MUST be PREPAID. All shipments are subject to U.S. Customs inspection.
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                            <table ng-show="vm.isTermsAndConditionsOverflow()" class="ng-hide">
                                <tbody>
                                    <tr class="border-b bg-light">
                                        <td class="col-padding-double text-bold">REMARK</td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="col-padding">
                                            <div class="data">
                                                <div class="item-pdf auto-font-size __col-remark-lg">
                                                    <span>LLL</span>
                                                </div>
                                                <div class="item-edit hover-toggle-icon-text-template">
                                                    <textarea name="booking_remark_for_overflow" cols="40" rows="8" class="text-scroll no-adjustment ng-isolate-scope" template-id="cafc78c9d46b78e375178cd031ba7d90553c8cf559065831fccc3edb02e282d6:Form.booking_remark_for_overflow" id="id_booking_remark_for_overflow">LLL</textarea>
                                                    <hc-input-template [template-id]="templateId" [anchor]="anchor" [char-limit]="charLimit" [upper-case]="upperCase" [button-offset]="buttonOffset" [drop-down-panel-class]="dropDownPanelClass" append-to="body" [hc-disabled]="disabled" (change)="change($event)" class="ng-scope" _nghost-qag-c260="" ng-version="12.2.17" tabindex="0">
                                                        <span _ngcontent-qag-c260="" class="icon-text-template" style="top: 1px; left: -19px;"></span><!---->

                                                        <ng-select _ngcontent-qag-c260="" role="listbox" bindlabel="name" class="ng-select ng-select-single ng-select-clearable ng-select-typeahead ng-untouched ng-pristine ng-valid"><div class="ng-select-container"><div class="ng-value-container"><div class="ng-placeholder">Select...</div><!----><!----><div class="ng-input"><input role="combobox" type="text" autocorrect="off" autocapitalize="off" autocomplete="a2f9fc3469d7" readonly="" aria-expanded="false"></div></div><!----><!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span></div><!----></ng-select>
                                                    </hc-input-template>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="next-page edit-preview-rider ng-hide" ng-show="vm.isTermsAndConditionsOverflow()">
                <table class="rider-margin">
                    <tbody>
                        <tr>
                            <th class="bg-light border-t border-b text-left col-padding-double">
                                TERMS &amp; CONDITIONS
                            </th>
                        </tr>
                        <tr>
                            <td class="td border-b col-padding-double">
                                Note: As a result of the Passage of the Homeland Security Act, U.S. Customs officials are enforcing the requirement that AES information and other shipping documentation be received prior to cargo loading the vessel. Failure to complete may result in your cargo not loading on intended vessel. You can file your SED electronically through the Census website at https://ace.cbp.dhs.gov/ or you can inquire about our AES filing service with a fee. All export/hazardous declaration must be in our possession by the day of the cut off prior to cargo loading, Any fines incurred due to lack of SED filing compliance will be for the amount of shipper/forwarder. All shipments to Hong Kong, China, Taiwan, Australia, if wooden pallet and/or crate are used, it MUST comply with the IPPC certification; or use plastic pallets. Charges and consequences due to non-compliance will be at customer's expense. For I.E.and return cargo, freight MUST be PREPAID. All shipments are subject to U.S. Customs inspection.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>
