@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.AirImports
@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@using Volo.Abp.Users
@using Dolphin.Freight.Web.Pages.Shared.Memos;
@model Dolphin.Freight.Web.Pages.OceanImports.CreateMblModel
@inject IStringLocalizer<FreightResource> L
@inject ICurrentUser CurrentUser
@inject IDropdownService _dropdown

@section styles
    {
    <style type="text/css">
                    #ejo .btn-primary {
    color: #fff;
    background-color: rgb(25 28 32 / 52%);
    border-color: #000000;
}
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="~/css/fix2.css" rel="stylesheet" />
}
@section scripts
    {
    <abp-script src="/Pages/OceanImports/CreateMbl.js" />

    <script type="text/javascript">$(document).ready(function () {
            var l = abp.localization.getResource('Freight');
             
             $('#OceanImportMbl_IsOblReceived').change(function() {
            if(this.checked) {
                // Checkbox is checked, set OblReceivedDate to current date time
                var currentDate = new Date();
                $('#OceanImportMbl_OblReceivedDate').val(currentDate.toISOString().slice(0, 19).replace("T", " "));
            } else {
                // Checkbox is unchecked, clear OblReceivedDate
                $('#OceanImportMbl_OblReceivedDate').val('');
            }
        });
            $('#OceanImportHbl_IsOblReceived').change(function () {
                if (this.checked) {
                    // Checkbox is checked, set OblReceivedDate to current date time
                    var currentDate = new Date();
                    $('#OceanImportHbl_OblReceivedDate').val(currentDate.toISOString().slice(0, 19).replace("T", " "));
                    $('#OceanImportHbl_IsReleased').removeAttr('disabled');
                } else {
                    // Checkbox is unchecked, clear OblReceivedDate
                    $('#OceanImportHbl_OblReceivedDate').val('');
                    $('#OceanImportHbl_IsReleased').attr('disabled', 'disabled');
                }
            });

        $('#OceanImportMbl_IsReleased').change(function() {
            if(this.checked) {
                // Checkbox is checked, set MblReleaseDate to current date time
                var currentDate = new Date();
                $('#OceanImportMbl_MblReleaseDate').val(currentDate.toISOString().slice(0, 19).replace("T", " "));
            } else {
                // Checkbox is unchecked, clear MblReleaseDate
                $('#OceanImportMbl_MblReleaseDate').val('');
            }
        });
          $('#OceanImportHbl_IsReleased').on('change', function (e, val) { 
                if (this.checked) { 
                    $('#OceanImportHbl_HblReleaseDate').removeAttr('disabled');
                    $('#OceanImportHbl_ReleaseById').removeAttr('disabled');
                    $("#OceanImportHbl_HblReleaseDate").datepicker("setDate", new Date());
                    $('#releasedBy').val('@(CurrentUser.Name + " " + CurrentUser.SurName)');
                } 
                else{
                    $('#OceanImportHbl_HblReleaseDate').attr('disabled', 'disabled');
                    $("#OceanImportHbl_HblReleaseDate").datepicker("setDate", null);
                    $('#OceanImportHbl_ReleaseById').val(null);
                    $('#releasedBy').val(null);
                }
            })
            $('#OceanImportMbl_DelId').change(function () {
                debugger;
                var selectedValue = $(this).val();
                if ($('#OceanImportHbl_DelId').val() == null || $('#OceanImportHbl_DelId').val() == '') {
                    $('#OceanImportHbl_DelId').val(selectedValue);


                    // Trigger the change event to update the dropdown visually
                    $('#OceanImportHbl_DelId').trigger('change');
                }
               
            });
            $('#OceanImportMbl_DelEta').on('change', function () {
                var newValue = $(this).val();

                $('#OceanImportHbl_DelEta').val(newValue);

                // Call your other functions or perform desired actions here
            });
                 $('#OceanImportMbl_ShipModeId').on('change', function () {
                var newValue = $(this).val();

                $('#OceanImportHbl_ShipModeId').val(newValue);
                 $('#OceanImportHbl_ShipModeId').trigger('change');

                // Call your other functions or perform desired actions here
            });    
            $('#OceanImportHbl_IsHold').on('change', function () {
                if (this.checked) {


                    $('#OceanImportHbl_HoldReason').removeAttr('disabled');

                }
                else { 
                
                $('#OceanImportHbl_HoldReason').attr('disabled','disabled');
                }

                // Call your other functions or perform desired actions here
            });   
            $('#OceanImportMbl_FreightTermId').on('change', function () {
                var newValue = $(this).val();
                debugger;
                $('#OceanImportHbl_FreightTermForBuyerId').val(newValue);
                 $('#OceanImportHbl_FreightTermForBuyerId').trigger('change');

                // Call your other functions or perform desired actions here
            });
            $('#OceanImportMbl_SvcTermFromId').on('change', function () {
                var newValue = $(this).val();
                debugger;
                $('#OceanImportHbl_SvcTermFromId').val(newValue);
                 $('#OceanImportHbl_SvcTermFromId').trigger('change');

                // Call your other functions or perform desired actions here
            });
             $('#OceanImportMbl_SvcTermToId').on('change', function () {
                var newValue = $(this).val();
                debugger;
                $('#OceanImportHbl_SvcTermToId').val(newValue);
                 $('#OceanImportHbl_SvcTermToId').trigger('change');

                // Call your other functions or perform desired actions here
            });
                  $('#OceanImportMbl_ForwardingAgentId').on('change', function () {
                var newValue = $(this).val();
                debugger;
                $('#OceanImportHbl_AgentId').val(newValue);
                 $('#OceanImportHbl_AgentId').trigger('change');

                // Call your other functions or perform desired actions here
            });
            $("#addHBtn").click(function () {
                addHBtn();
            });
            tempusDominus.extend(window.tempusDominus.plugins.customDateFormat)

            $('#OceanImportMbl_VgmCutOffTime').tempusDominus({
                restrictions: {
                    minDate: '2023-02-25'
                }
            });
        });
        var cardIndex = 0;
        function addHBtn() {
            if (cardIndex == 0) {
                var divHtml = addCardRight('new_' + cardIndex, 'new HB/L', '', '#f3c200');
                $("#hblCard").show();
                $("#hblCardDiv").append(divHtml);
                $("#AddHbl").val(1);
                cardIndex++;
            } else {
                var l = abp.localization.getResource('Freight');
                abp.message.info(l("Message:AddHBLErr"));
            }

        }
        function addCardRight(hblId, hblNo, soNo, bgColor) {
            var cardHtml = "<div class='borad-anchor focus' ><div class='borad-cont' >"
            cardHtml = cardHtml + "<a class='link' href='#javascript:void(0)'></a>"
            cardHtml = cardHtml + "<span class='label label-HBL'>HB/L</span><span class='MBLnumber'>Add</span>"
            cardHtml = cardHtml + "</div></div>"
            return cardHtml;
        }</script>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanImports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanImports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item active">
                <a href="javascript:void(0)">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item disabled ">
                <a href="javascript:void(0)">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item disabled">
                <a href="javascript:void(0)">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item disabled">
                <a href="javascript:void(0)">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <form submit-button="true" data-ajaxForm="true" id="createForm">
        <abp-row>
            <abp-column size-md="_9">
                <div class="board-wrap">
                    <abp-card class="card board-item">
                        <abp-card-header class="card-header active" style="background:#555555;color:#FFFFFF;">

                            <abp-card-title>
                                MB/L <span id="title0"></span>
                                <span id="title0" style="font-size:0.8em;"></span>
                                <span id="title2" style="font-size:0.8em;"></span>
                                <span id="title3" style="font-size:0.8em;"></span>
                                <span id="title4" style="font-size:0.8em;"></span>
                                <span id="title5" style="font-size:0.8em;"> </span>
                            </abp-card-title>

                            <!--
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    請選擇
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                           <li class="fa fa-lock"></li> 鎖定
                                        </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-trash"></i> 刪除
                            </a>
                                    <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                            <li class="fa fa-lock"></li> aaa
                            </a>

                                </div>
                            </div>
                            -->
                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="false" aria-controls="mblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show customForm" id="mblDiv">
                            <abp-row>
                                <abp-column size-md="_3">
                                    <input type="hidden" name="ShipmentNo" id="ShipmentNo">
                                    <abp-input asp-for="OceanImportMbl.FilingNo" disabled="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.MblNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.OfficeId", AspItems = _dropdown.SubstationLookupList, IsShowLabel = true, FieldName = "OfficeId", ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.OfficeId), IsRequired = true })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.BlTypeId", AspItems = _dropdown.BlTypeLookupList, IsShowLabel = true, FieldName = "BlTypeId", ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.BlTypeId) })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PostDate" type="text" abp-data-datepicker="false" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblOverseaAgentId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblOverseaAgentId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblOverseaAgentContent) })
                                    <input type="hidden" name="OceanImportMbl.MblOverseaAgentId" id="mMblOverseaAgentId" value="@Model.OceanImportMbl.MblOverseaAgentId" />
                                    <input type="hidden" name="OceanImportMbl.MblOverseaAgentContent" id="mMblOverseaAgentContent" value="@Model.OceanImportMbl.MblOverseaAgentContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblCarrierId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblCarrierId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblCarrierContent) })
                                    <input type="hidden" name="OceanImportMbl.MblCarrierId" id="mMblCarrierId" value="@Model.OceanImportMbl.MblCarrierId" />
                                    <input type="hidden" name="OceanImportMbl.MblCarrierContent" id="mMblCarrierContent" value="@Model.OceanImportMbl.MblCarrierContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.BlAcctCarrierId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "BlAcctCarrierId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.BlAcctCarrierContent) })
                                    <input type="hidden" name="OceanImportMbl.BlAcctCarrierId" id="mBlAcctCarrierId" value="@Model.OceanImportMbl.BlAcctCarrierId" />
                                    <input type="hidden" name="OceanImportMbl.BlAcctCarrierContent" id="mBlAcctCarrierContent" value="@Model.OceanImportMbl.BlAcctCarrierContent" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.ForwardingAgentId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "ForwardingAgentId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.ForwardingAgentContent) })
                                    <input type="hidden" name="OceanImportMbl.ForwardingAgentId" id="mForwardingAgentId" value="@Model.OceanImportMbl.ForwardingAgentId" />
                                    <input type="hidden" name="OceanImportMbl.ForwardingAgentContent" id="mForwardingAgentContent" value="@Model.OceanImportMbl.ForwardingAgentContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.CoLoaderId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CoLoaderId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.CoLoaderId) })
                                    <input type="hidden" name="OceanImportMbl.CoLoaderId" id="mCoLoaderId" value="@Model.OceanImportMbl.CoLoaderId" />
                                    <input type="hidden" name="OceanImportMbl.CoLoaderContent" id="mCoLoaderContent" value="@Model.OceanImportMbl.CoLoaderContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.AgentRefNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.SubBlNo" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label>@L["MblOperatorId"]</label>
                                    <select class="form-control ml-15" asp-for="OceanImportMbl.MblOperatorId" disabled="true">
                                        <option value='@CurrentUser.Id' selected> @(CurrentUser.Name + " " + CurrentUser.SurName) </option>
                                    </select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.CarrierContractNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsDirect" class="form-label customCheck">@L["IsDirect"]<input type="checkbox" name="OceanImportMbl.IsDirect" id="OceanImportMbl_IsDirect" value="true" checked="@Model.OceanImportMbl.IsDirect" /></label>
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>

                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.CustomerRefNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblShipperId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblShipperId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblShipperId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblConsigneeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblConsigneeId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblNotifyId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblNotifyId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblNotifyId) })
                                </abp-column>
                            </abp-row>
                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblCustomerId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblCustomerId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblCustomerId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblBillToId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblBillToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblBillToId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblSalesTypeId", AspItems = _dropdown.SalesTypeLookupList, IsShowLabel = true, FieldName = "MblBillToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblSalesTypeId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblCargoTypeId", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = "MblCargoTypeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.CargoTypeId) })
                                </abp-column>
                            </abp-row>
                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.MblSaleId", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = "MblSaleId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.MblSaleId) })
                                </abp-column>
                            </abp-row>

                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.VesselName" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.Voyage" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.CyLocationId", AspItems = _dropdown.CountryLookupList, IsShowLabel = true, FieldName = "CyLocationId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.CyLocationId) })
                                    <input type="hidden" name="OceanImportMbl.CyLocationId" id="mCyLocationId" value="@Model.OceanImportMbl.CyLocationId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.CfsLocationId", AspItems = _dropdown.CountryLookupList, IsShowLabel = true, FieldName = "CfsLocationId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.CfsLocationId) })
                                    <input type="hidden" name="OceanImportMbl.CfsLocationId" id="mCfsLocationId" value="@Model.OceanImportMbl.CfsLocationId" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.PolId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "PolId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.PolId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PolEtd" type="text" abp-data-datepicker="false" />

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.PodId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "PodId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.PodId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PodEta" type="text" abp-data-datepicker="false" />

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.DelId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "DelId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.DelId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.DelEta" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.FdestId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "FdestId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.FdestId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.FdestEta" type="text" abp-data-datepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_9">
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.Etb" type="text" abp-data-datepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.FreightTermId", AspItems = _dropdown.FreightTermLookupList, IsShowLabel = true, FieldName = "FreightTermId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.FreightTermId) })

                                </abp-column>
                                <abp-column size-md="_3">
                              @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.ShipModeId", AspItems = _dropdown.ShipModeLookupList, IsShowLabel = true, FieldName = "ShipModeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.ShipModeId) })

                              </abp-column>


                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.SvcTermFromId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "SvcTermFromId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.SvcTermFromId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="SvcTermToId" class="form-label">&nbsp;&nbsp;</label>
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.SvcTermToId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "SvcTermToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.SvcTermToId) })

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.DisplayMblContainerSizeQtyInfo" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.OblTypeId", AspItems = _dropdown.OblTypeLookupList, IsShowLabel = true, FieldName = "OblTypeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.OblTypeId) })
                                    <input type="hidden" name="OceanImportMbl.OblTypeId" id="mOblTypeId" value="@Model.OceanImportMbl.OblTypeId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsOblReceived" class="form-label customCheck">@L["IsOblReceived"]<input type="checkbox" name="OceanImportMbl.IsOblReceived" id="OceanImportMbl_IsOblReceived" value="true" /></label>
                                    <abp-input label="" asp-for="OceanImportMbl.OblReceivedDate"  type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsReleased" class="form-label customCheck">@L["IsReleased"]<input type="checkbox" name="OceanImportMbl.IsReleased" id="OceanImportMbl_IsReleased" value="true" /></label>
                                    <abp-input asp-for="OceanImportMbl.MblReleaseDate" type="text" abp-data-datetimepicker="false"  />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.BusinessReferrerId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "BusinessReferrerId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.BusinessReferrerId) })
                                    <input type="hidden" name="OceanImportMbl.BusinessReferrerId" id="mBusinessReferrerId" value="@Model.OceanImportMbl.BusinessReferrerId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input label="" asp-for="OceanImportMbl.LatestContainerEntryDate" type="text" abp-data-datetimepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <button type="button" id="checkHideBtn">
                                        <i class="fa fa-plus" id="showLi"></i>
                                        <i class="fa fa-minus" id="hideLi"></i>
                                    </button>
                                    @L["Title:MoreInfo"]
                                    <input type="hidden" id="isHide" value="@Model.OceanImportMbl.GetHideCheck()" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideArea">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.PorId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "PorId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.PorId) })

                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PorEtd" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.ReturnLocationId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "ReturnLocationId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.ReturnLocationId) })
                                    <input type="hidden" name="OceanImportMbl.ReturnLocationId" id="mReturnLocationId" value="@Model.OceanImportMbl.ReturnLocationId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.ItNo" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideArea">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.ItDate" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportMbl.ItLocation", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "ItLocation", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportMbl.ItLocation) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsEcommerce" class="form-label customCheck">@L["IsEcommerce"]<input type="checkbox" name="OceanImportMbl.IsEcommerce" id="OceanImportMbl_IsEcommerce" value="true" checked="@Model.OceanImportMbl.IsEcommerce" /></label>
                                </abp-column>
                            </abp-row>
                           
                        </abp-card-body>
                    </abp-card>
                    <br />
                    <abp-card class="card board-item" id="hblCard" style="display:none;">
                        <abp-card-header class="card-header active">

                            <abp-card-title>
                                HB/L  <span id="htitle0"></span>
                                <span id="htitle0" style="font-size:0.8em;"></span>
                                <span id="htitle2" style="font-size:0.8em;"></span>
                                <span id="htitle3" style="font-size:0.8em;"></span>
                                <span id="htitle4" style="font-size:0.8em;"></span>
                                <span id="htitle5" style="font-size:0.8em;"> </span>
                            </abp-card-title>

                            <!--
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    請選擇
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                           <li class="fa fa-lock"></li> 鎖定
                                        </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-trash"></i> 刪除
                            </a>
                                    <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                            <li class="fa fa-lock"></li> aaa
                            </a>

                                </div>
                            </div>
                            -->
                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="false" aria-controls="hblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show customForm" id="hblDiv">
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label for="0ceanImportHbl_HblNo" class="form-label">@L["HblNo"] *</label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.HblNo"   />
                                </abp-column>
                                <abp-column size-md="_3">
                                      <label for="oceanImportHbl_AmsNo" class="form-label">@L["AmsNo"] *</label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.AmsNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.IsfNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                      <label for="ceanImportHbl_HblNo" class="form-label">@L["ISFFilling"]</label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.IsfByThirdParty" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.QuotationNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblShipperId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblShipperId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblShipperId) })
                                </abp-column>
                                     <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblConsigneeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblConsigneeId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblNotifyId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblNotifyId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblNotifyId) })
                                </abp-column>
                             
                            </abp-row>
                            <abp-row>
                              <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblCustomerId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblCustomerId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblCustomerId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblBillToId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblBillToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblBillToId) })
                                </abp-column>
                                   <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.SubBlNo" />
                                </abp-column>
                           
                                <abp-column size-md="_3" class="mt-2" >
                                    <label>@L["MblOperatorId"]</label>
                                    <select class="form-control ml-15 " asp-for="OceanImportHbl.HblOperatorId" disabled="true">
                                        <option value='@CurrentUser.Id' selected> @(CurrentUser.Name + " " + CurrentUser.SurName) </option>
                                    </select>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblSaleId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblSaleId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblSaleId) })
                                </abp-column>
                                
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblForwardingAgentId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblForwardingAgentId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.ForwardingAgentId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                     <abp-input asp-for="OceanImportHbl.IsfMatchDate" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.CustomsBrokerId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CustomsBrokerId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.CustomsBrokerId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.TruckerId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "TruckerId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.TruckerId) })
                                </abp-column>
                                 <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.CyCfsLocationId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CyCfsLocationId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.CyCfsLocationId) })
                                    <input type="hidden" name="OceanImportHbl.CyCfsLocationId" id="hCyCfsLocationId" value="@Model.OceanImportHbl.CyCfsLocationId" />
                                </abp-column>
                                 <abp-column size-md="_3">
                                 <abp-input asp-for="OceanImportHbl.Available" type="text" abp-data-datepicker="false" />
                                 </abp-column>
                            </abp-row>
                            <abp-row>
                              
                             
                             
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.DelId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "DelId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.DelId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.DelEta" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.FdestId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "FdestId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.FdestId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.FdestEta" type="text" abp-data-datepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                             
                              
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.DeliveryToId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "DeliveryToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.DeliveryToId) })
                                </abp-column>
                                 <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.ShipModeId", AspItems = _dropdown.ShipModeLookupList, IsShowLabel = true, FieldName = "ShipModeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.ShipModeId) })
                                </abp-column>
                                   <abp-column size-md="_3">
                                  @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.Freight", AspItems = Html.GetEnumSelectList(typeof(FreightType)).ToList(), IsRequired = false, IsShowLabel = true, FieldName = "Freight", ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.Freight) })
                           </abp-column>
                           <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.Lfd" type="text" abp-data-datepicker="false" />
                                </abp-column>
                              </abp-row>
                            <abp-row>
                                 <abp-column size-md="_3">
                                    <label for="0ceanImportHbl_IsRailwayCode" class="form-label">@L["Rail"] <input type="checkbox" name="OceanImportHbl.IsRailwayCode" id="OceanImportHbl_IsRailwayCode" value="true" checked /></label>
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.RailwayCodeId", AspItems = Model.RailCodeList, IsRequired = false, IsShowLabel = false, FieldName = "RailwayCodeId", ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.RailwayCodeId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.ItNo" type="text" />
                                </abp-column>
                                  <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.ItDate" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                  <abp-column size-md="_3">
                                  @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.ItIssuedLocation", AspItems = Model.ItIssuedLocationList, IsRequired = false, IsShowLabel = true, FieldName = "ItIssuedLocation", ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.ItIssuedLocation) })
                           </abp-column>
                              
                            </abp-row>
                               <abp-row>
                               
                                
                                  <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.GoDate" type="text" abp-data-datepicker="false" />
                                </abp-column>
                                  <abp-column size-md="_3">
                                <abp-input asp-for="OceanImportHbl.ExpiryDate" type="text" abp-data-datepicker="false" />
                           </abp-column>
                              
                            </abp-row>
                                <abp-row>
                               
                                
                                 <abp-column size-md="_3">
                                      <label for="ceanImportHbl_IsExpress" class="form-label">@L["ExpressBl"]</label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.IsExpress" />
                                </abp-column>
                             <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.HblSalesTypeId", AspItems = _dropdown.SalesTypeLookupList, IsShowLabel = true, FieldName = "HblSalesTypeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.HblSalesTypeId) })
                                </abp-column>
                                  <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.IncotermsId", AspItems = _dropdown.IncotermsLookupList, IsShowLabel = true, FieldName = "IncotermsId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.IncotermsId) })
                                </abp-column>
                                  <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.CargoTypeId", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = "CargoTypeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.CargoTypeId) })
                                </abp-column>
                              
                            </abp-row>
                            <abp-row>
                                        <abp-column size-md="_3">
<abp-input  asp-for="OceanImportHbl.DoorMove" />
<abp-input  asp-for="OceanImportHbl.CClearance" />
<abp-input  asp-for="OceanImportHbl.CHold" />
                                </abp-column>
                                       <abp-column size-md="_3">
                                <abp-input asp-for="OceanImportHbl.CReleasedDate" type="text" abp-data-datepicker="false" />
                           </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.SvcTermFromId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "SvcTermFromId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.SvcTermFromId) })
                                    </abp-column>
                                    <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.SvcTermToId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "SvcTermToId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.SvcTermToId) })
                                </abp-column>
                               
                              
                              
                            </abp-row>
                            <abp-row>
                                 <abp-column size-md="_3">
                                    <abp-input disabled asp-for="OceanImportHbl.DisplayHblContainerSizeQtyInfo" />
                                </abp-column>
                                   <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.MblReferralById", AspItems = _dropdown.SalesTypeLookupList, IsShowLabel = true, FieldName = "MblReferralById", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.MblReferralById) })
                                </abp-column>
                                           <abp-column size-md="_3">
                                <abp-input asp-for="OceanImportHbl.EntryNo" type="text" />
                           </abp-column>
                                      <abp-column size-md="_3">
                                <abp-input asp-for="OceanImportHbl.EntryDocSent" type="text" abp-data-datepicker="false" />
                           </abp-column>
                              
                          
                               
                            </abp-row>
                             <abp-row>
                                  <abp-column size-md="_3">
                                    <label for="0ceanImportHbl_IsOblReceived" class="form-label">@L["OblReceived"] <input type="checkbox" name="OceanImportHbl.IsOblReceived" id="OceanImportHbl_IsOblReceived" value="false" /></label>
                                    <input type="text" abp-data-datepicker="false" name="OceanImportHbl.OblReceivedDate" class="form-control" id="OceanImportHbl_OblReceivedDate" disabled />
                                </abp-column>
                     <abp-column size-md="_3">
                                      <label for="ceanImportHbl_Ror" class="form-label">@L["Ror"]</label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.Ror" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportHbl.IsHold" class="form-label">@L["IsHold"] <input type="checkbox" name="OceanImportHbl.IsHold" id="OceanImportHbl_IsHold" /> </label>
                                    <abp-input  suppress-label asp-for="OceanImportHbl.HoldReason" disabled />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                             
                              
                              
                              
                            </abp-row>
                           
                            <abp-row>
                              
                              
                                <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanImportHbl.IsReleased" id="OceanImportHbl_IsReleased" disabled /> @L["FreightReleased"] </label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.HblReleaseDate" abp-data-datepicker="false" disabled />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label class="form-label" asp-for="OceanImportMbl.ReleaseById"></label>
                                       <div class="d-flex dropdown form-control form-control-fix">
                                           <input id="releasedBy" class="form-control" readonly />
                                           </div>
                                 @*   <abp-row>
                                        <abp-column size-md ="_5"><label asp-for="OceanExportMbl.ReleaseById"></label></abp-column>
     <abp-column size-md="_7"><input id="releasedBy" class="form-control" readonly /></abp-column>                                  
                                    </abp-row>   *@ 
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.DoorDeliveryATA" type="text" abp-data-datepicker="false" />
                                </abp-column>
                            </abp-row>
                             <abp-row>
                                  <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox" disabled /> @L["ANSentDate"] </label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.AnDate" abp-data-datepicker="false" disabled />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox"  disabled /> @L["DOSentDate"] </label>
                                    <abp-input suppress-label asp-for="OceanImportHbl.DoDate" abp-data-datepicker="false" disabled />
                                </abp-column>
                                 </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <button type="button" id="checkHideHblBtn">
                                        <i class="fa fa-plus" id="showLiHbl"></i>
                                        <i class="fa fa-minus" id="hideLiHbl"></i>
                                    </button>
                                    @L["Title:MoreInfo"]
                                    <input type="hidden" id="isHideHbl" value="@Model.OceanImportHbl.GetHideCheck()" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideAreaHbl">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.LcNo" />
                                </abp-column>
                               
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanImportHbl.ShipTypeId", AspItems = _dropdown.ShipModeLookupList, IsShowLabel = true, FieldName = "ShipTypeId", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanImportHbl.ShipTypeId) })
                                    
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.ScNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.NameAccount" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideAreaHbl">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.GroupComm" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.LineCode" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportHbl_IsEcommerce" class="form-label customCheck">@L["IsEcommerce"]<input type="checkbox" name="OceanImportHbl.IsEcommerce" id="OceanImportHbl_IsEcommerce" value="true" checked="@Model.OceanImportHbl.IsEcommerce" /></label>
                                </abp-column>
                                 <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.CustomDoc" />
                                </abp-column>
                            </abp-row>
                            <abp-row>

                             
                               
                             
                            </abp-row>
        <abp-row>
                                <abp-column>
                                    <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                                        @L["Title:Memo"]
                                    </abp-card-header>
                                    <abp-card>
                                        <abp-card-body>
                                            <partial name="Memos/_Memo" model="new _MemoModel(Model.OceanImportHbl.Id, Dolphin.Freight.Common.FreightPageType.OIHBL)" />
                                        </abp-card-body>
                                    </abp-card>
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                </div>
            </abp-column>
            <abp-column size-md="_3">
                <div class="card-wrap">

                    <button class="btn btn-block btn-add" type="button" id="addHBtn">
                        <i class="fa-solid fa-plus"></i>新增MB/L
                    </button>

                    <div class="function-wrap">

                        <div class="form">
                            <div class="form-group">
                                <label for="cardOrderSet">卡片排序</label>
                                <select class="form-control selectpicker" id="cardOrderSet">
                                    <option selected>請選擇</option>
                                    <option value="建立日期">建立日期</option>
                                    <option value="HB/L 號碼">HB/L 號碼</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cardOrder">Preference</label>
                                <select class="form-control selectpicker" id="cardOrder">
                                    <option selected>請選擇</option>
                                    <option value="遞增">遞增</option>
                                    <option value="遞減">遞減</option>
                                </select>
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-label">卡片顯示</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label"
                                           for="inlineCheckbox1">託運人與收貨人</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label"
                                           for="inlineCheckbox2">名稱標籤</label>
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-dark btn-block btn-update">
                                <i class="fa-solid fa-arrows-rotate"></i>更新
                            </button>
                        </div>

                    </div>

                    <!--  <div class="anchor-wrap">-->

                    <div id="hblCardDiv" class="cardAnchor">
                    </div>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-3" id="ejo">
            <abp-column>
                <input type="hidden" name="OceanImportMbl.OfficeId" id="mOfficeId" value="@Model.OceanImportMbl.OfficeId" />
                <input type="hidden" name="OceanImportMbl.PreCarriageVesselNameId" id="mPreCarriageVesselNameId" value="@Model.OceanImportMbl.PreCarriageVesselNameId" />
                <input type="hidden" name="OceanImportMbl.SvcTermFromId" id="mSvcTermFromId" value="@Model.OceanImportMbl.SvcTermFromId" />
                <input type="hidden" name="OceanImportMbl.SvcTermToId" id="mSvcTermToId" value="@Model.OceanImportMbl.SvcTermToId" />
                <input type="hidden" name="OceanImportMbl.ShipModeId" id="mShipModeId" value="@Model.OceanImportMbl.ShipModeId" />
                <input type="hidden" name="OceanImportMbl.FreightTermId" id="mFreightTermId" value="@Model.OceanImportMbl.FreightTermId" />
                <input type="hidden" name="OceanImportMbl.BlTypeId" id="mBlTypeId" value="@Model.OceanImportMbl.BlTypeId" />
                <input type="hidden" name="OceanImportMbl.PorId" id="mPorId" value="@Model.OceanImportMbl.PorId" />
                <input type="hidden" name="OceanImportMbl.PolId" id="mPolId" value="@Model.OceanImportMbl.PolId" />
                <input type="hidden" name="OceanImportMbl.PodId" id="mPodId" value="@Model.OceanImportMbl.PodId" />
                <input type="hidden" name="OceanImportMbl.DelId" id="mDelId" value="@Model.OceanImportMbl.DelId" />
                <input type="hidden" name="OceanImportMbl.FdestId" id="mFdestId" value="@Model.OceanImportMbl.FdestId" />
                <input type="hidden" name="AddHbl" id="AddHbl" value="0" />
                <input type="hidden" name="OceanImportHbl.CargoTypeId" id="hCargoTypeId" value="@Model.OceanImportHbl.CargoTypeId" />
                <input type="hidden" name="OceanImportHbl.SvcTermFromId" id="hHSvcTermFromId" value="@Model.OceanImportHbl.SvcTermFromId" />
                <input type="hidden" name="OceanImportHbl.SvcTermToId" id="hHSvcTermToId" value="@Model.OceanImportHbl.SvcTermToId" />
                <input type="hidden" name="OceanImportHbl.ShipModeId" id="hHShipModeId" value="@Model.OceanImportHbl.ShipModeId" />
                <input type="hidden" name="OceanImportHbl.FreightTermForBuyerId" id="hFreightTermForBuyerId" value="@Model.OceanImportHbl.FreightTermForBuyerId" />
                <input type="hidden" name="OceanImportHbl.FreightTermForSalerId" id="hFreightTermForSalerId" value="@Model.OceanImportHbl.FreightTermForSalerId" />
                <input type="hidden" name="OceanImportHbl.HblCustomerId" id="hHblCustomerId" value="@Model.OceanImportHbl.HblCustomerId" />
                <input type="hidden" name="OceanImportHbl.HblShipperId" id="hHblShipperId" value="@Model.OceanImportHbl.HblShipperId" />
                <input type="hidden" name="OceanImportHbl.HblBillToId" id="hHblBillToId" value="@Model.OceanImportHbl.HblBillToId" />
                <input type="hidden" name="OceanImportHbl.HblConsigneeId" id="hHblConsigneeId" value="@Model.OceanImportHbl.HblConsigneeId" />
                <input type="hidden" name="OceanImportHbl.HblNotifyId" id="hHblNotifyId" value="@Model.OceanImportHbl.HblNotifyId" />
                <input type="hidden" name="OceanImportHbl.CustomsBrokerId" id="hCustomsBrokerId" value="@Model.OceanImportHbl.CustomsBrokerId" />
                <input type="hidden" name="OceanImportHbl.TruckerId" id="hTruckerId" value="@Model.OceanImportHbl.TruckerId" />
                <input type="hidden" name="OceanImportHbl.AgentId" id="hAgentId" value="@Model.OceanImportHbl.AgentId" />
                <input type="hidden" name="OceanImportHbl.ForwardingAgentId" id="hHblForwardingAgentId" value="@Model.OceanImportHbl.ForwardingAgentId" />
                <input type="hidden" name="OceanImportHbl.ReceivingAgentId" id="hReceivingAgentId" value="@Model.OceanImportHbl.ReceivingAgentId" />
                <input type="hidden" name="OceanImportHbl.FbaFcId" id="hFbaFcId" value="@Model.OceanImportHbl.FbaFcId" />
                <input type="hidden" name="OceanImportHbl.EmptyPickupId" id="hHEmptyPickupId" value="@Model.OceanImportHbl.EmptyPickupId" />
                <input type="hidden" name="OceanImportHbl.DeliveryToId" id="hHDeliveryToId" value="@Model.OceanImportHbl.DeliveryToId" />
                <input type="hidden" name="OceanImportHbl.MblReferralById" id="hHMblReferralById" value="@Model.OceanImportHbl.MblReferralById" />
                <input type="hidden" name="OceanImportHbl.PorId" id="hHPorId" value="@Model.OceanImportHbl.PorId" />
                <input type="hidden" name="OceanImportHbl.PodId" id="hHPodId" value="@Model.OceanImportHbl.PodId" />
                <input type="hidden" name="OceanImportHbl.HDelId" id="hHDelId" value="@Model.OceanImportHbl.DelId" />
                <input type="hidden" name="OceanImportHbl.FdestId" id="hHFdestId" value="@Model.OceanImportHbl.FdestId" />
                <input type="hidden" name="OceanImportHbl.HblSalesTypeId" id="hHblSalesTypeId" value="@Model.OceanImportHbl.HblSalesTypeId" />
                <div style="position: fixed; bottom: 55px; left: 0; right: 0; text-align:center;">
                    @* <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Display:Button:New"].Value</abp-button> *@
                      <button class="btn btn-primary me-md-2 rounded-circle" type="button" id="saveBtn" style="width: 60px; height: 60px;">
  <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-save fa-w-14 fa-2x">
    <path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"></path>
  </svg>
</button>
                </div>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                &nbsp;
            </abp-column>
        </abp-row>
    </form>
</div>