@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.OceanImports.EditModal2Model
@inject IStringLocalizer<FreightResource> L
@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <abp-script src="/Pages/OceanImports/EditModel2.js" />
    
    <script type="text/javascript">
        var trindex = 0;
        var containerSizes = [];
        var packageUnitsName = [];
        $(document).ready(function () {
            var isLocked = '@Model.OceanImportMbl.IsLocked';
            if (isLocked == 'True') abp.message.warn("此項已經被鎖定，若需修改請小心！\n您作的變更可能導致會計報表不一致！");
            
            dolphin.freight.settings.containerSizes.containerSize.queryAllList({}).done(function (result) {
                if (result != null && result.length > 0) {
                    containerSizes = result;
                    dolphin.freight.importExport.containers.container.queryList({ QueryId: '@Model.Id' }).done(function (result) {
                        if (result != null && result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                var value1 = result[i].containerNo;
                                var value2 = result[i].containerSizeId;
                                var value3 = result[i].sealNo;
                                var value4 = result[i].packageNum;
                                var value5 = result[i].packageWeight;
                                var value6 = result[i].packageMeasure;
                                var value7 = result[i].isPP;
                                var value8 = result[i].isCTF;
                                var value9 = result[i].id;
                                addTrTag(value1, value2, value3, value4, value5, value6, value7, value8, value9, '@Model.OceanImportMbl.Id');
                            }
                            countTotal('HBL');
                            countTotalVolume('HBL');
                            countPackageType('HBL');
                        }
                        addPackageUnitNameddl();
                    });
                }
            });

            var IsShowHbl = '@Model.IsShowHbl';
            if (IsShowHbl == 'True'){
                $("#hblCard").show();
                onSetCommodity();
            } 
            else $("#hblCard").hide();

            $("#addBtn").click(function () {
                addTr();
                if ($('#packageTypeSelect > .select2-container--default').length === 0){
                    addPackageUnitNameddl();
                }
            })
            $("#add5Btn").click(function () {
                for (var i = 0; i < 5; i++) {
                    addTr();
                }
                if ($('#packageTypeSelect > .select2-container--default').length === 0) {
                    addPackageUnitNameddl();
                }
            })
            $("#copyBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    addTrTag($("#f1_" + $(this).val()).val() || 0, $("#f2_" + $(this).val()).val() || 0, $("#f3_" + $(this).val()).val() || 0, $("#f4_" + $(this).val()).val() || 0, $("#f5_" + $(this).val()).val() || 0, $("#f6_" + $(this).val()).val() || 0, "", "", "", "@Model.OceanImportMbl.Id");
                })
            })
            $("#deleteBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    var tid = $(this).val();
                    $("#did_" + tid).val("1");
                    $("#tr_" + $(this).val()).hide();
                });
            })
            
            $('#edit2Form').on('abp-ajax-success', function (result, rs) {
                event.preventDefault();
                var l = abp.localization.getResource('Freight');
                abp.message.success(l("Message:SuccessEdit")).then(function(){
                    location.href = '/OceanImports/EditModal2?Id=@Model.Id';
                });
            });
            $("#addHBtn").click(function () {
                var url = "/OceanImports/EditModal?Id=@Model.Id&NewHbl=1";
                location.href = url;
            })
            $("#PoNoTag").tagsInit();

            $(document).on('click', '[name=f0]', function () {
                $('#add-ap').prop('disabled', $('[name=f0]:checked').length !== 1);
            });

            $('#save-pp').click(function () {
                $(this).prop('disabled', true);

                const id = $('[name=f0]:checked').eq(0).data('id');
                if (id === 'undefined') {
                    return;
                }

                dolphin.freight.importExport.containers.container.switchPP(id).done(function (result) {
                    location.reload();
                }).always(function () {
                    $(this).prop('disabled', false);
                });
            });

            $('#cancel-pp').click(function () {
                $('#exampleModal').modal('hide');
                $('#exampleModal').click();
            });

            $('#btn-close').click(function () {
                $('#exampleModal').modal('hide');
                $('#exampleModal').click();
            });

            $('#save-ctf').click(function () {
                $(this).prop('disabled', true);

                const id = $('[name=f0]:checked').eq(0).data('id');
                if (id === 'undefined') {
                    return;
                }

                dolphin.freight.importExport.containers.container.switchCTF(id).done(function (result) {
                    location.reload();
                }).always(function () {
                    $(this).prop('disabled', false);
                });
            });

            $('#cancel-ctf').click(function () {
                $('#exampleModal2').modal('hide');
                $('#exampleModal2').click();
            });

            $('#btn-close1').click(function (){
                $('#exampleModal2').modal('hide');
                $('#exampleModal2').click();
            })

            
        });

        function copyContainertoHBL(i, index) {
            $('input[id^="assignContainerCheckbox_'+index+'_"]').attr('data-containerno', $('#f1_' + index).val());

            switch (index) {
                case 0:
                    $('#OceanImportHbl_PackageNo').val($('#f1_0').val());
                break;
            }
        }
        
        function addPackageUnitNameddl(){
            dolphin.freight.settings.packageUnits.packageUnit.getPackageUnitsLookup({}).done(function (res) {
                if (res.items != null && res.items.length > 0) {
                    packageUnitsName = res.items;
                    var selectHtml = "<select id='PackagingUnit' name='PackagingUnit' class='form-control select-search' >";
                    for (var i = 0; i < packageUnitsName.length; i++) {
                        selectHtml = selectHtml + "<option value='" + packageUnitsName[i].id + "' ";
                        selectHtml = selectHtml + ">" + packageUnitsName[i].packageName + "</option>"
                    }
                    selectHtml = selectHtml + "</select>";
                    $('#packageTypeSelect').append(selectHtml).find('#PackagingUnit').select2();
                    $('#hblPackageTypeddl').append(selectHtml);
                    $('#totalPackageTypeUnit').text($('#PackagingUnit').find('option:selected').text());
                }
            });
        }

        function addTr() {
            addTrTag("", "", "", "", "", "", "", "", "", '@Model.OceanImportMbl.Id');
        }
        function addTrTag(value1, value2, value3, value4, value5, value6, value7, value8, value9, mblId) {
            getHblCheckbox(mblId, trindex, function (checkboxesHTML, headersHTML) {
                    if (!$('input[id^="hblHeaders_"]').length) {
                        $('#trttable > tbody > tr:first > th:eq(10)').after(headersHTML);
                    }

                    var trhtml = "<tr id='tr_" + trindex + "'><td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].Status' value='0' id='did_" + trindex + "' />  <input type='checkbox' name='f0' id='f0_" + trindex + "'  value='" + trindex + "' data-id='" + value9 + "'    /></td>"
                    trhtml = trhtml + `<td>${value7 === true ? '√' : ''}</td>`;
                    trhtml = trhtml + `<td>${value8 === true ? '√' : ''}</td>`;
                    trhtml = trhtml + "<td><div class='input-group'><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].ContainerNo' onkeyup='copyContainertoHBL(this, " + trindex + ")' id='f1_" + trindex + "' class='form-control' value='" + value1 + "'/> <div class='input-group-append'><button type='button'  onclick='importDiv(\"" + trindex + "\");' >+</button> </div></div></td>"
                    trhtml = trhtml + "<td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblId' value='@Model.Id' /><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblType' value='1' />";
                    trhtml = trhtml + getcontainerSizeSelect(value2) + "</td>";
                    trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].SealNo' id='f3_" + trindex + "' class='form-control' value='" + value3 + "' /></td>"
                    trhtml = trhtml + "<td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].Id' class='form-control' value='" + value9 + "' /><i class='fa fa-calculator' id='fCalc_" + trindex + "' data-containerid='" + value9 + "' onclick='EditModel2.openPopUp(" + trindex + ")' style='font-size: 24px; cursor: pointer;'></i></td>"
                    trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageNum' onkeyup='countPackageType()' id='f4_" + trindex + "' class='form-control' value='" + value4 + "' /></td>"
                    trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageWeight' onkeyup='countTotal()' id='f5_" + trindex + "' class='form-control packageWeight' value='" + value5 + "' /></td>"
                    trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageMeasure' onkeyup='countTotalVolume()' id='f6_" + trindex + "' class='form-control' value='" + value6 + "' /></td>"
                    trhtml = trhtml + "<td style='display: none;'><input type='checkbox' id='selectAllAssignContainerCheckbox_" + trindex + "' style='cursor: pointer;'></td>"
                    trhtml = trhtml + checkboxesHTML
                    trhtml = trhtml + "</tr>"
                    trhtml = trhtml + "<tr id='tr2_" + trindex + "' style='display:none;'><td colspan='6'><div></div></td>"
                    trhtml = trhtml + "</tr>"
                    $("#trtbody").append(trhtml);
                    $('input[id^="assignContainerCheckbox_' + trindex + '_"]').attr('data-containerno', $('#f1_' + trindex).val());

                    var currentIndex = trindex;

                    $("#selectAllAssignContainerCheckbox_" + currentIndex).click(function () {
                        $('input[id^="assignContainerCheckbox_' + currentIndex + '_"]').prop('checked', $(this).prop('checked'));
                        EditModel2.SaveHBLContainer();
                    });

                    trindex++;

                    countPackageType('MBL');
                    countTotal('MBL', 'KG');
                    countTotalVolume('MBL', 'CBM');
                });
        }
        function getcontainerSizeSelect(selectedId) {
            var selectHtml = "<select name='CreateUpdateContainerDtos[" + trindex + "].ContainerSizeId' class='form-control' >";
            for (var i = 0; i < containerSizes.length; i++) {
                selectHtml = selectHtml + "<option value='" + containerSizes[i].id + "' ";
                if (containerSizes[i].id == selectedId) selectHtml = selectHtml + " selected ";
                selectHtml = selectHtml + ">" + containerSizes[i].containerCode + "</option>"
            }
            selectHtml = selectHtml + "</select>";
            return selectHtml;
        }
        function importDiv(trindex) {
            $("#tr2_" + trindex).show();
        }
        function changeHid(id, hid) {
            location.href = '/OceanImports/EditModal2?Id=' + id + "&Hid=" + hid
        }
        function OpenInTrackTrace() {
            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');
            dolphin.freight.importExport.oceanImports.oceanImportMbl.get(mblId).done(function (res) {
                myWindow = window.open('https://www.track-trace.com/bol#' + res.mblNo, '_blank', 'width=1200,height=1000');
                myWindow.focus();
            });   
        }
        function getPreliminaryClaim() {
            var idNo = $('#OceanImportHbl_Id').val();
            myWindow = window.open("@Url.Action("PreliminaryClaimOceanImport", "Docs")" + "?id=" + idNo+"&pageType=2", 'PreliminaryClaimOceanExport', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }

        function convertUnit(value, module) {
            switch (module){
                case 'MBL':
                    if (value === 'LB') {
                        for (var i = 0; i <= $('.packageWeight').length - 1; i++) {
                            $('#f5_' + i).val(parseFloat($('#f5_' + i).val() * 2.20462).toFixed(2));
                        }
                        countTotal('MBL', 'LB');
                    } else if (value === 'KG') {
                        for (var i = 0; i <= $('.packageWeight').length - 1; i++) {
                            $('#f5_' + i).val(parseFloat($('#f5_' + i).val() / 2.20462).toFixed(2));
                        }
                        countTotal('MBL', 'KG');
                    } else if (value === 'CFT') {
                        for (var i = 0; i <= $('.packageWeight').length - 1; i++) {
                            $('#f6_' + i).val(parseFloat($('#f6_' + i).val() * 35.315).toFixed(2));
                        }
                        countTotalVolume('MBL', 'CFT');
                    } else if (value === 'CBM') {
                        for (var i = 0; i <= $('.packageWeight').length - 1; i++) {
                            $('#f6_' + i).val(parseFloat($('#f6_' + i).val() / 35.315).toFixed(2));
                        }
                        countTotalVolume('MBL', 'CBM');
                    }
                break;

                case 'HBL':
                    if (value === 'LB'){
                        $('#OceanImportHbl_PackageWeight').val(parseFloat($('#OceanImportHbl_PackageWeight').val() * 2.20462).toFixed(2));
                        countTotal('HBL');
                    }
                    else if (value === 'KG'){
                        $('#OceanImportHbl_PackageWeight').val(parseFloat($('#OceanImportHbl_PackageWeight').val() / 2.20462).toFixed(2));
                        countTotal('HBL');
                    }
                    else if (value === 'CFT'){
                        $('#OceanImportHbl_PackageMeasurement').val(parseFloat($('#OceanImportHbl_PackageMeasurement').val() * 35.315).toFixed(2));
                        countTotalVolume('HBL');
                    }
                    else if (value === 'CBM'){
                        $('#OceanImportHbl_PackageMeasurement').val(parseFloat($('#OceanImportHbl_PackageMeasurement').val() / 35.315).toFixed(2));
                        countTotalVolume('HBL');
                    }
                break;
            }
        }

        function countTotal(module, Unit){
            switch (module){
                case 'MBL':
                    var totalWgt = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f5_'+i).val());
                        if (!isNaN(cells)) {
                            totalWgt += cells;
                        }
                    }
                    if (Unit === 'KG') {
                        $('#totalWeight').text(parseFloat(totalWgt).toFixed(2) + ' KG');
                        $('#totalWeightUnit').text(parseFloat(totalWgt * 2.2).toFixed(2) + ' LB');
                    } else if (Unit === 'LB') {
                        $('#totalWeight').text(parseFloat(totalWgt).toFixed(2) + ' LB');
                        $('#totalWeightUnit').text(parseFloat(totalWgt / 2.2).toFixed(2) + ' KG');
                    }
                break;

                case 'HBL':
                    var value = parseFloat($('#OceanImportHbl_PackageWeight').val()).toFixed(2);

                    if(!isNaN(value)){
                        $('#htotalWeight').text(value);
                    } else {
                        $('#htotalWeight').text('0.00');
                    }
                break;

                default:
                    var totalWgt = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f5_' + i).val());
                        if (!isNaN(cells)) {
                            totalWgt += cells;
                        }
                    }

                    var selectedOption = $('#selectWeight').find('option:selected').val();

                    if (selectedOption === 'KG'){
                        $('#totalWeight').text(parseFloat(totalWgt).toFixed(2) + ' KG');
                        $('#totalWeightUnit').text(parseFloat(totalWgt * 2.2).toFixed(2) + ' LB');
                    } else if (selectedOption === 'LB') {
                        $('#totalWeight').text(parseFloat(totalWgt).toFixed(2) + ' LB');
                        $('#totalWeightUnit').text(parseFloat(totalWgt / 2.2).toFixed(2) + ' KG');
                    }
                break;
            }
        }

        function countTotalVolume(module, Unit) {
            switch(module){
                case 'MBL':
                    var totalVol = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f6_' + i).val());
                        if (!isNaN(cells)) {
                            totalVol += cells;
                        }
                    }

                    if (Unit === 'CBM'){
                        $('#totalVolume').text(parseFloat(totalVol).toFixed(2) + ' CBM');
                        $('#totalVolumeUnit').text(parseFloat(totalVol * 35.315).toFixed(2) + ' CFT');
                    } else if (Unit === 'CFT'){
                        $('#totalVolume').text(parseFloat(totalVol).toFixed(2) + ' CFT');
                        $('#totalVolumeUnit').text(parseFloat(totalVol / 35.315).toFixed(2) + ' CBM');
                    }
                break;

                case 'HBL':
                    var value = parseFloat($('#OceanImportHbl_PackageMeasurement').val()).toFixed(2);

                    if(!isNaN(value)){
                        $('#htotalVolume').text(value);
                    } else {
                        $('#htotalVolume').text('0.00');
                    }
                break;

                default:
                    var totalVol = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f6_' + i).val());
                        if (!isNaN(cells)) {
                            totalVol += cells;
                        }
                    }

                    var selectedOption = $('#selectMeasurement').find('option:selected').val();

                    if (selectedOption === 'CBM'){
                        $('#totalVolume').text(parseFloat(totalVol).toFixed(2) + ' CBM');
                        $('#totalVolumeUnit').text(parseFloat(totalVol * 35.315).toFixed(2) + ' CFT');
                    } else if (selectedOption === 'CFT'){
                        $('#totalVolume').text(parseFloat(totalVol).toFixed(2) + ' CFT');
                        $('#totalVolumeUnit').text(parseFloat(totalVol / 35.315).toFixed(2) + ' CBM');
                    }
                break;
            }
        }

        function countPackageType(module) {
            switch(module){
                case 'MBL':
                    var totalPKG = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f4_' + i).val());
                        if (!isNaN(cells)) {
                            totalPKG += cells;
                        }
                    }

                    $('#totalPackageType').text(parseFloat(totalPKG).toFixed(2));
                break;

                case 'HBL':
                    var value = parseFloat($('#oceanImportHbl_PackageType').val()).toFixed(2);

                    if(!isNaN(value)){
                        $('#htotalPackageType').text(value);
                    } else { $('#htotalPackageType').text('0.00'); }
                break;

                default:
                    var totalPKG = 0;

                    for (var i = 0; i < $('#trtbody tr').length / 2; i++) {
                        var cells = parseFloat($('#f4_' + i).val());
                        if (!isNaN(cells)) {
                            totalPKG += cells;
                        }
                    }

                    $('#totalPackageType').text(parseFloat(totalPKG).toFixed(2));
                break;
            }
        }

        function copyMBLValues() {
            $('#OceanImportHbl_PackageNo').val($('#f1_0').val());
            $('#oceanImportHbl_PackageType').val($('#f4_0').val());
            $('#OceanImportHbl_PackageWeight').val($('#f5_0').val());
            $('#OceanImportHbl_PackageMeasurement').val($('#f6_0').val());
            countTotal('HBL');
            countTotalVolume('HBL');
            countPackageType('HBL');
        }

        function onHblDescriptionChange() {
            setTimeout(function () {
                $('#OceanImportHbl_Description').attr('style', 'height: ' + document.getElementById('OceanImportHbl_Description').scrollHeight + 'px !important');
            }, 100)
        }

        var chkIndex = 0;
        function onAddCommodity() {
            var newRowData = {
                chkIndex: chkIndex
            };

            var newRow = $('#commodityTemplate').tmpl(newRowData);

            $('#commodityBody').append(newRow);

            chkIndex += 1;

            resetCommodityIndex();

            $('#btnCommodity').removeAttr('disabled');
            $('#btnCommodityHTS').removeAttr('disabled');
        }

        function onRemoveCommodity() {
            $('[name="chk_commodity"]:checked').each(function (i, elem) {
                $(elem).closest('tr').remove();
            });

            resetCommodityIndex();

            if (!$('[name="chk_commodity"]:checked').length) {
                $('#btnCommodity').attr('disabled', 'disabled');
                $('#btnCommodityHTS').attr('disabled', 'disabled');
            }
        }

        function resetCommodityIndex() {
            $('#commodityBody > tr').each(function (e, elem) {
                $(elem).find('td').each(function (a, aelem) {
                    var attrName = $(aelem).find('input').attr('name').replace(/[0-9]/, e);

                    $(aelem).find('input').attr('name', attrName);
                    if ($(aelem).hasClass('d-none')) {
                        var aelemVal = $(aelem).find('input').val();
                        $(aelem).find('input').val(aelemVal.replace(/[0-9]/, e));
                    }
                })
            })
        }

        function addPONumberForDescription() {
            var val = $('#OceanImportHbl_Description').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            $('#OceanImportHbl_Description').val((val.concat('PO NO.\n' + tagValue + '\n')));

            $('#OceanImportHbl_Description').attr('style', 'height: ' + document.getElementById('OceanImportHbl_Description').scrollHeight + 'px !important');
        }

        function addCommodityForDescription() {
            var val = $('#OceanImportHbl_Description').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            var trLength = $('#commodityBody tr').length;

            if (trLength) {
                var frm = $('#edit2Form').serializeFormToObject();             

                for (var i = 0; i < trLength; i++) {
                    val = $('#OceanImportHbl_Description').val();
                    $('#OceanImportHbl_Description').val((val.concat(frm['commodities[' + i + ']'].description + '\n')));
                }
            }
            $('#OceanImportHbl_Description').attr('style', 'height: ' + document.getElementById('OceanImportHbl_Description').scrollHeight + 'px !important');
        }

        function addCommodityHTSForDescription() {
            var val = $('#OceanImportHbl_Description').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            var trLength = $('#commodityBody tr').length;

            if (trLength) {
                var frm = $('#edit2Form').serializeFormToObject();

                for (var i = 0; i < trLength; i++) {
                    val = $('#OceanImportHbl_Description').val();
                    $('#OceanImportHbl_Description').val((val.concat(frm['commodities[' + i + ']'].description + ' ' + frm['commodities[' + i + ']'].hTSCode + '\n')));
                }
            }
            $('#OceanImportHbl_Description').attr('style', 'height: ' + document.getElementById('OceanImportHbl_Description').scrollHeight + 'px !important');
        }

        function onSetCommodity() {
            var extraProperties = '@Html.Raw(Json.Serialize(Model.OceanImportHbl.ExtraProperties))';

            if (extraProperties && extraProperties != 'null' && extraProperties != '{}') {
                var commodities = JSON.parse(extraProperties).Commodities;

                if (commodities && commodities.length) {
                    var commodityIndex = 0;
                    commodities.forEach(function (commodity) {
                        commodity.chkIndex = commodityIndex;

                        var newRow = $('#commodityTemplate').tmpl(commodity);
                        $('#commodityBody').append(newRow);

                        commodityIndex += 1;
                    });

                    $('#btnCommodity').removeAttr('disabled');
                    $('#btnCommodityHTS').removeAttr('disabled');
                }
            }
        }

        function onDeliveryOrder() {
            $('#OceanImportHbl_DomesticInstructionsDelOrder').css('display', 'block');
            $('#OceanImportHbl_DomesticInstructions').css('display', 'none');
        }

        function onArrivalNotice() {
            $('#OceanImportHbl_DomesticInstructions').css('display', 'block');
            $('#OceanImportHbl_DomesticInstructionsDelOrder').css('display', 'none');
        }

        function alert(){
            alert('fired');
        }
             function getDEVSEG() {
            var idNo = $('#OceanImportMbl_Id').val();
            myWindow = window.open("@Url.Action("DEVSEGOceanImportMbl", "Docs")" + "?id=" + idNo, 'DEVSEGOceanImportMbl', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
            function getOrderDelivery() {
            var idNo = $('#OceanImportMbl_Id').val();
            myWindow = window.open("@Url.Action("DeliveryOrderOceanImportMawb", "Docs")" + "?id=" + idNo, 'DeliveryOrderOceanImportMawb', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }

        function ConslidateByConsignee() {

            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');

            if (mblId == null) {
                var url = window.location.href;
                var mblId = url.split('/')[url.split('/').length - 1];
            }

            dolphin.freight.importExport.oceanImports.oceanImportHbl.getHblCardsById(mblId).done(function (res) {
                var consignee = [];
                var duplicates = new Set();
                var seen = new Set();
                res.forEach(item => {
                    if (item.hblConsigneeId !== null && seen.has(item.hblConsigneeId)) {
                        duplicates.add(item.hblConsigneeId);
                    }
                    seen.add(item.hblConsigneeId);
                });

                var duplicateArray = Array.from(duplicates).join();

                $.ajax({
                    url: abp.appPath + 'Docs/ConsolidatedByConsignee?mblId=' + mblId + '&conId=' + duplicateArray,
                    type: 'GET',
                    dataType: "html",
                    success: function (res) {
                        $('#consolidatedModal').html(res);
                        $('.modal.mymodal').modal('show');
                        $('#frmConsolidateArrival').find('.modal.fade').removeClass('modal fade');
                    }
                });

            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var url = new URL(window.location.href);
            var mawbId = url.searchParams.get('Id');

            if (mawbId == null) {
                var url = window.location.href;
                var mawbId = url.split('/')[url.split('/').length - 1];
            }

            dolphin.freight.importExport.oceanImports.oceanImportHbl.getHblCardsById(mawbId).done(function (res) {
                var consignee = [];
                for (let i = 0; i < res.length; i++) {
                    if (res[i].hblConsigneeId != null) {
                        consignee.push(res[i].hblConsigneeId);
                    }
                }
                checkForDuplicates(consignee);
            });
        });

        function checkForDuplicates(array) {
            let counts = {};

            for (let i = 0; i < array.length; i++) {
                if (counts[array[i]]) {
                    counts[array[i]] += 1;
                } else {
                    counts[array[i]] = 1;
                }
            }

            for (let prop in counts) {
                if (counts[prop] > 1) {
                    $(".consolidateConsignee").removeClass("disabled");
                }
            }
        }
    </script>

    <script id="commodityTemplate" type="text/x-jQuery-tmpl">
        <tr>
          <td>
              <input type="checkbox" name="chk_commodity" id="Id" />
          </td>
          <td><input type="text" name="Commodities[${chkIndex}].Description" value="${Description}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].HTSCode" value="${HTSCode}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].Container" value="${Container}" /></td>
        </tr>
    </script>
}
<style>
    #packageTypeSelect .select2-container{
        display: inline !important;
    }

    #hblPackageTypeddl .select2-container{
        display: inline !important;
    }

    #ejo .btn-primary {
    color: #fff;
    background-color: rgb(25 28 32 / 52%);
    border-color: #000000;
}
</style>
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanImports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanImports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item ">
                <a href="EditModal?Id=@Model.Id">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item active ">
                <a href="javascript:void(0)">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal3?Id=@Model.Id">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal4?Id=@Model.Id">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <form submit-button="true" data-ajaxForm="true" id="edit2Form">
        <input type="hidden" asp-for="@Model.OceanImportHbl.ContainerId" />

        <abp-row>
            <abp-column size-md="_9">
                <div class="board-wrap">
                    <abp-card class="card board-item">
                        <abp-card-header class="card-header active" style="background:#555555;color:#FFFFFF;">
                            <abp-card-title>
                                MB/L
                                <span id="title0">@Model.OceanImportMbl.MblNo </span>
                                  <input type="hidden" name="OceanImportMbl.Id" id="OceanImportMbl_Id" value="@Model.Id" />
                                @if (@Model.OceanImportMbl.PolName != null)
                                {
                                    <span id="title1" style="font-size:0.8em;">@Model.OceanImportMbl.PolName</span>
                                }
                                @if (@Model.OceanImportMbl.PolEtd != null)
                                {
                                    <span id="title2" style="font-size:0.8em;">@Html.DisplayFor( Model => @Model.OceanImportMbl.PolEtd ) </span>
                                }
                                @if (@Model.OceanImportMbl.PodName != null)
                                {
                                    <span id="title3" style="font-size:0.8em;">@Model.OceanImportMbl.PodName</span>
                                }

                                @if (Model.OceanImportMbl.PodEta != null)
                                {
                                    <span id="title4" style="font-size:0.8em;">@Html.DisplayFor( Model =>  Model.OceanImportMbl.PodEta ) </span>
                                }
                                @if (@Model.OceanImportMbl.VesselName != null && @Model.OceanImportMbl.VesselName != "")
                                {
                                    <span id="title5" style="font-size:0.8em;"><i class="fa fa-anchor"></i> @Model.OceanImportMbl.VesselName </span>

                                }
                                @if (Model.OceanImportMbl.MblCarrierId != null)
                                {
                                    <span class="mbl_note _max-w12per">
                                        <i class="fa fa-ship"></i> @Model.OceanImportMbl.MblCarrierName
                                    </span>
                                }
                            </abp-card-title>

                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    @L["Display:Function"]
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                    </a>
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ManifestOceanImportMBL", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Manifest"]
                                    </a>
                                      <a class='dropdown-item' href='javascript:void(0)' onclick="getDEVSEG()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:DEV/SEG"]
                                    </a>
                                     <a class='dropdown-item' href='javascript:void(0)' onclick="getOrderDelivery()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Delivery Order"]
                                    </a>
                                    <a class='dropdown-item consolidateConsignee disabled' href='javascript:void(0)' onclick="if(!$(this).hasClass('disabled')) { ConslidateByConsignee() }" title="This function is only available when two or more hbl have same consignee">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Consolidated Arrival Notice"]
                                    </a>
                                
                                  
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanImportProfitReportDetailOrSummry", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL, reportType = "Summary" })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Summary"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanImportProfitReportDetailOrSummry", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL, reportType = "Detail" })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Detailed"]
                                    </a>
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Electronic Customs Declaration Status"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()">
                                        <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                                    </a>
                                </div>
                            </div>

                            <button class="btn btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="true" aria-controls="mblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show" id="mblDiv">

                            <abp-row>

                                <abp-column size-md="_12">
                                    <div>
                                        <abp-button class="btn btn-success me-md-2" type="button" id="addBtn">+</abp-button>
                                        <abp-button class="btn btn-outline-success me-md-2" type="button" id="add5Btn">+5</abp-button>
                                        <abp-button class="btn btn-outline-warning me-md-2" type="button" id="copyBtn"><i class="fa fa-files-o mx-1"></i></abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteBtn"><i class="fa fa-trash mx-1"></i></abp-button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" id="add-ap" disabled>
                                                @L["Display:AddAP"]
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Pier Pass</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal2">Clean Truck Fundn</a>
                                            </div>
                                        </div>
                                        <abp-button class="btn btn-info me-md-2" type="button" id="assignContainerBtn" onclick="EditModel2.showHideHBLCheckboxes()" style="display: inline-flex;float: right;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M6.69767 10.3721H0V15.3954H6.69767V18.8605L13.9535 12.6047L6.69767 6.34885V10.3721Z" fill="white" />
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 22.093H9.48837V17.7442L15.186 12.6047L9.48837 7.46512V2H18.4186L24 7.5814V22.093ZM23.5814 8.0814H18V2.5L23.5814 8.0814Z" fill="white" />
                                            </svg>
                                        </abp-button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;" id="trttable">
                                        <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="5%">PP</th>
                                            <th width="5%">CTF</th>
                                            <th width="20%">@L["Display:ContainerNo"]</th>
                                            <th width="15%">@L["Display:PackageSize"]</th>
                                            <th width="15%">@L["Display:Seal No"]</th>
                                            <th width="2%"></th>
                                            <th width="15%">@L["Display:PackageType"]</th>
                                            <th width="15%">@L["Display:Weight"]</th>
                                            <th width="15%">@L["Measurement"]</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td id="packageTypeSelect"></td>
                                            <td><select id="selectWeight" onchange="convertUnit($(this).val(), 'MBL')" name="selectWeight"><option value="KG" id="wkg">KG</option><option value="LB" id="wlb">LB</option></select></td>
                                            <td><select id="selectMeasurement" onchange="convertUnit($(this).val(), 'MBL')" name="selectMeasurement"><option value="CBM" id="mcbm">CBM</option><option value="CFT" id="mcft">CFT</option></select></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tbody id="trtbody">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7" align="right"><strong>Total:</strong></td>
                                                <td id="totalPackageType"></td>
                                                <td id="totalWeight"></td>
                                                <td id="totalVolume"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="7" align="right"></td>
                                                <td id="totalPackageTypeUnit"></td>
                                                <td id="totalWeightUnit"></td>
                                                <td id="totalVolumeUnit"></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_12">
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <label for="t1">@L["Display:Mark"]</label>
                                    <textarea id="t1" name="OceanImportMbl.Mark" class="form-control">@Model.OceanImportMbl.Mark</textarea>
                                </abp-column>
                                <abp-column size-md="_6">
                                    <label for="t2">@L["Display:Description"]</label>
                                    <textarea id="t2" name="OceanImportMbl.Description" class="form-control">@Model.OceanImportMbl.Description</textarea>
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <br />
                    <abp-card class="card board-item" id="hblCard">
                        <abp-card-header id="hblCardHeader" class="@Model.OceanImportHbl.CardColorValue">
                            <abp-row>
                                <abp-column size-md="_9">
                                    <abp-input type="hidden" asp-for="@Model.OceanImportHbl.Id" />
                                    <abp-card-title>
                                        HB/L @Model.OceanImportHbl.HblNo
                                    </abp-card-title>

                                </abp-column>

                                <abp-column size-md="_3" class="text-end">
                                    <div class="btn-group dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" style="position: relative; bottom: 7px;" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                            @L["Display:Function"]
                                        </button>
                                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                            <a class='dropdown-item' href='#'>
                                                <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                            </a>
                                            <p class="dropdown-divider"></p>
                                          @*   <a class='dropdown-item' href='#'>
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Arrival Notice"]
                                            </a> *@
                    
                                             <a class='dropdown-item' href='#' >
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Delivery Order"]
                                            </a>
                                              <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ProofOfDeliveryOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                              <i class="fa fa-file-text-o"></i> @L["Btn:Proof of Delivery"]
                                             </a>
                                           <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ReleaseOrderOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                              <i class="fa fa-file-text-o"></i> @L["Btn:Release Order"]
                                            </a>
                                            <a class='dropdown-item' href='javascript:void(0)' onclick="getPreliminaryClaim()">
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                                            </a>
                                           <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ExamHoldNoticeOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                                 <i class="fa fa-file-text-o"></i> @L["Btn:EXAM HOLD NOTICE"]
                                            </a>
                                           <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("CarrierCertificateOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                                 <i class="fa fa-file-text-o"></i> @L["Btn:Carrier Certificate"]
                                           </a>
                                         
                                                                  <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("PickupDeliveryInstrucationOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pickup Delivery Instruction"]
                </a>
                                               <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ForwarderCargoReceiptOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Forwarder Cargo Receipt"]
                                             </a>
                                            <p class="dropdown-divider"></p>
                                            <a class='dropdown-item' href='#'>
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                                            </a>
                                            <p class="dropdown-divider"></p>
                                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()" style="color: #4B77BE; font-weight: 500;">
                                                <i class="fa fa-location-arrow"></i> @L["Btn:Open in Track-Trace"]
                                            </a>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" style="position: relative; left: 8px; top: 0px;" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv">
                                    </button>
                                </abp-column>

                            </abp-row>
                        </abp-card-header>
                        <abp-card-body class="collapse show " id="hblDiv">

                            <abp-row>
                                <abp-column size-md="_2">
                                    @L["Title:PoNo"]
                                </abp-column>
                                <abp-column size-md="_3">
                                    <span style="font-size:0.8em;">@L["Title:PoNo.Description"]</span>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    <div id="PoNoTag" tagname="PoNoTag"></div>
                                </abp-column>
                            </abp-row>
                            <abp-row>

                                <abp-column size-md="_12">
                                    <div>
                                        <button class="btn btn-secondary btn btn-sm p-1" style="margin: 4px;" type="button" onclick="copyMBLValues()" id="copyMBL">
                                            Copy Value from MBL
                                        </button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                                        <tr border="1" style="border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="20%">@L["Display:ContainerNo"]</th>
                                            <th width="15%">@L["Display:PackageType"]</th>
                                            <th width="15%">@L["Display:Weight"]</th>
                                            <th width="15%">@L["Measurement"]</th>
                                            <th width="30%">@L["Title:PoNo"]</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td id="hblPackageTypeddl"></td>
                                            <td><select id="selectWeight" onchange="convertUnit($(this).val(), 'HBL')" name="selectWeight"><option value="KG" id="hkg">KG</option><option value="LB" id="hlb">LB</option></select></td>
                                            <td><select id="hselectMeasurement" onchange="convertUnit($(this).val(), 'HBL')" name="selectMeasurement"><option value="CBM" id="hcbm">CBM</option><option value="CFT" id="hcft">CFT</option></select></td>
                                            <td></td>
                                        </tr>
                                        <tbody id="htrtbody">
                                            <tr>
                                                <td style="align-items:center"><input type="radio" name="SurplusType" /></td>
                                                <td><input asp-for="@Model.OceanImportHbl.PackageNo" type="text" class="form-control" value="@Model.OceanImportHbl.PackageNo" readonly/></td>
                                                <td><input type="text" class="form-control" id="oceanImportHbl_PackageType" onkeyup="countPackageType('HBL')" value="" /></td>
                                                <td><input asp-for="@Model.OceanImportHbl.PackageWeight" type="text" class="form-control" onkeyup="countTotal('HBL')" value="@Model.OceanImportHbl.PackageWeight" /></td>
                                                <td><input asp-for="@Model.OceanImportHbl.PackageMeasurement" type="text" class="form-control" onkeyup="countTotalVolume('HBL')" value="@Model.OceanImportHbl.PackageMeasurement" /></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2" align="right"><strong>Total:</strong></td>
                                                <td id="htotalPackageType">0.00</td>
                                                <td id="htotalWeight">0.00</td>
                                                <td id="htotalVolume">0.00</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_12">
                                    <div>
                                        商品 / 艙單商品
                                        <abp-button class="btn btn-success me-md-2" type="button" id="addCommodityBtn" onclick="onAddCommodity()">+</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteCommodityBtn" onclick="onRemoveCommodity()">delete</abp-button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                                        <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="25%">Description</th>
                                            <th width="30%">HTS Code</th>
                                            <th width="40%">Container</th>
                                        </tr>
                                        <tbody id="commodityBody">
                                        </tbody>

                                    </table>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <label for="t1">@L["Display:Mark"]</label>
                                    <textarea asp-for="@Model.OceanImportHbl.Mark" class="form-control">@Model.OceanImportHbl.Mark</textarea>
                                </abp-column>
                                <abp-column size-md="_6">
                                    <label for="t2">@L["Display:Description"]</label>
                                    <div class="pull-right">
                                        <div class="_font-12 inline-block">Copy: </div>
                                        <div class="btn-group">
                                            <abp-button id="btnPO" onclick="addPONumberForDescription()" size="Small" abp-border="Default" disabled="true">@L["P.O"]</abp-button>
                                            <abp-button id="btnCommodity" onclick="addCommodityForDescription()" size="Small" abp-border="Default" disabled="true">@L["Commodity"]</abp-button>
                                            <abp-button id="btnCommodityHTS" onclick="addCommodityHTSForDescription()" size="Small" abp-border="Default" disabled="true">@L["CommodityAndHTS"]</abp-button>
                                        </div>
                                    </div>
                                    <textarea asp-for="@Model.OceanImportHbl.Description" onkeyup="onHblDescriptionChange()" class="form-control">@Model.OceanImportHbl.Description</textarea>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    <label for="t3">@L["DisplayName:Remark"]</label>
                                    <div class="container">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="arriavlNotice" onclick="onArrivalNotice()" data-toggle="tab">Arrival Notice</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="deliveryOrder" onclick="onDeliveryOrder()" data-toggle="tab">Delivery Order</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <textarea asp-for="@Model.OceanImportHbl.DomesticInstructions" class="form-control">@Model.OceanImportHbl.DomesticInstructions</textarea>
                                    <textarea asp-for="@Model.OceanImportHbl.DomesticInstructionsDelOrder" class="form-control" style="display: none;">@Model.OceanImportHbl.DomesticInstructionsDelOrder</textarea>
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <abp-row>
                        <abp-column>
                            <input type="hidden" name="OceanImportHbl.PoNo" id="mPoNo" value="@Model.OceanImportHbl.PoNo" />
                            <div  id="ejo" style="position: fixed; bottom: 55px; left: 0; right: 0; text-align:center;">
                                @* <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button> *@
                                <button class="btn btn-primary me-md-2 rounded-circle" type="button" id="saveBtn" style="width: 60px; height: 60px;">
  <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-save fa-w-14 fa-2x">
    <path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"></path>
  </svg>
</button>
                            </div>
                        </abp-column>
                    </abp-row>
                </div>
            </abp-column>
            <abp-column size-md="_3">
                <div class="card-wrap">

                    <button class="btn btn-block btn-add" type="button" id="addHBtn">
                        <i class="fa-solid fa-plus"></i>@L["Btn:AddHbl"].Value
                    </button>

                    <div class="function-wrap">

                        <div class="form">
                            <div class="form-group">
                                <label for="cardOrderSet">卡片排序</label>
                                <select class="form-control  " id="cardOrderSet">
                                    <option selected>請選擇</option>
                                    <option value="建立日期">建立日期</option>
                                    <option value="HB/L 號碼">HB/L 號碼</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cardOrder">Preference</label>
                                <select class="form-control " id="cardOrder">
                                    <option selected>請選擇</option>
                                    <option value="遞增">遞增</option>
                                    <option value="遞減">遞減</option>
                                </select>
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-label">卡片顯示</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label"
                                           for="inlineCheckbox1">託運人與收貨人</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label"
                                           for="inlineCheckbox2">名稱標籤</label>
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-dark btn-block btn-update">
                                <i class="fa-solid fa-arrows-rotate"></i>更新
                            </button>
                        </div>

                    </div>

                    <!--  <div class="anchor-wrap">-->

                    <div id="hblCardDiv" class="cardAnchor">
                        @if (Model.OceanImportHbls != null)
                        {
                            foreach (var hbl in Model.OceanImportHbls)
                            {
                                var focusString = "";
                                if (Model.Hid == hbl.Id)
                                {
                                    focusString = " focus ";
                                }
                                <div class="borad-anchor @focusString @hbl.CardColorValue">
                                    <div class="borad-cont" onclick="changeHid('@Model.Id','@hbl.Id')">
                                        <a class="link" href="#cardA"></a>
                                        <span class="label label-HBL">HB/L</span>
                                        <span class="MBLnumber">@hbl.HblNo</span>
                                        @hbl.SoNo
                                        <a class="outlink" href="#" target="_blank">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <div>
                </div>
            </abp-column>
        </abp-row>
    </form>

</div>

<div class="modal fade" role="dialog" tabindex="-1" aria-modal="true" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增</h5>
                <button aria-label="關閉" class="btn-close" id="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <input name="CreateUpdateTradePartnerMemoDto.tradePartnerId" type="hidden" value="32863847-4984-cc8a-3f35-3a0ae2817f56">

                <label class="form-label">@L["Display:Vendor"]</label>
                <select class="form-select"></select>
                <label class="form-label">@L["Display:BillingCode"]</label>
                <select class="form-select"></select>
                <label class="form-label">@L["Display:Description"]</label>
                <input type="text" class="form-control valid" />
                <label class="form-label">@L["Display:ChargeAmount20"]</label>
                <input type="text" class="form-control valid" />
                <label class="form-label">@L["Display:ChargeAmount40"]</label>
                <input type="text" class="form-control valid" />

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" id="cancel-pp">取消</button>
                <button class="btn btn-primary" data-busy-text="保存中..." type="button" id="save-pp"><i class="fa fa-check"></i> <span>保存</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal mymodal" id="consolidatedModal" tabindex="-1" role="dialog">
</div>

<div class="modal fade" role="dialog" tabindex="-1" aria-modal="true" id="exampleModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增</h5>
                <button aria-label="關閉" class="btn-close" id="btn-close1" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <input name="CreateUpdateTradePartnerMemoDto.tradePartnerId" type="hidden" value="32863847-4984-cc8a-3f35-3a0ae2817f56">

                <label class="form-label">@L["Display:Vendor"]</label>
                <select class="form-select"></select>sky
                <label class="form-label">@L["Display:BillingCode"]</label>
                <select class="form-select"></select>
                <label class="form-label">@L["Display:Description"]</label>
                <input type="text" class="form-control valid" />
                <label class="form-label">@L["Display:ChargeAmount20"]</label>
                <input type="text" class="form-control valid" />
                <label class="form-label">@L["Display:ChargeAmount40"]</label>
                <input type="text" class="form-control valid" />

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-ctf" type="button">取消</button>
                <button class="btn btn-primary" data-busy-text="保存中..." type="button" id="save-ctf"><i class="fa fa-check"></i> <span>保存</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Item</h5>
                <button type="button" class="close" onclick="$('#CreateModal').modal('hide')" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="portlet-tool">
                    <div class="btn-group" role="group" aria-label="Basic outlined example" style="cursor: no-drop;">
                        <button type="button" class="btn btn-outline-success fa fa-plus" onclick="EditModel2.createNewDimension()" id="newDimensionBtn"></button>
                        <button type="button" class="btn btn-outline-danger fa fa-trash" onclick="EditModel2.deleteDimension()" id="deleteDimensionBtn" disabled></button>
                    </div>
                </div>

                <table class="table-responsive" width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                    <tr border="1" style="border-block-color:#888888;padding-left:10px;margin-left:4px;">
                        <th width="5%" style="background: #888888; color: #fff"><input type="checkbox" name="dimensionCheckbox" /></th>
                        <th width="20%" style="background: #888888; color: #fff">@L["Length"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["Width"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["Height"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["PCS"]</th>
                        <th colspan="2" width="20%" style="text-align: center; background: #888888; color: #fff">@L["Volume"]</th>
                        <th colspan="2" width="20%" style="text-align: center; background: #888888; color: #fff">@L["Measurement"]</th>
                    </tr>
                    <tr border="1" style="border-block-color:#333333;padding-left:10px;margin-left:4px;">
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th width="10%">@L["KG"]</th>
                        <th width="10%">@L["LB"]</th>
                        <th width="10%">@L["CBM"]</th>
                        <th width="10%">@L["CFT"]</th>
                    </tr>
                    <tbody id="popuptrtbody">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" align="right"><strong>Total:</strong></td>
                            <td id="totalPCS">0</td>
                            <td id="totalKG">0.00</td>
                            <td id="totalLB">0.00</td>
                            <td id="totalCBM">0.00</td>
                            <td id="totalCFT">0.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#CreateModal').modal('hide')" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="applyDimensions">Apply</button>
            </div>
        </div>
    </div>
</div>


