@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.OceanImports.EditModal4Model
@inject IStringLocalizer<FreightResource> L
@section scripts
    {
         <abp-script src="/Pages/OceanImports/EditModal4.js" />
    <abp-script src="/Pages/OceanImports/CreateMbl.js" />
    <script type="text/javascript">
        $(document).ready(function () {
              $('#cardSettingArea').hide();
            var isLocked = '@Model.OceanImportMbl.IsLocked';
            if (isLocked == 'True') abp.message.warn("此項已經被鎖定，若需修改請小心！\n您作的變更可能導致會計報表不一致！");
            var IsShowHbl = '@Model.IsShowHbl';
            if (IsShowHbl == 'True') $("#hblCard").show();
            else $("#hblCard").hide();
            $("#addHBtn").click(function () {
                var url = "/OceanImports/EditModal?Id=@Model.Id&NewHbl=1";
                location.href = url;
            })
            initAttments(0, '@Model.Id');
            initAttments(1, '@Model.Hid');
            $("#uploadFile").change(function () {
                var fid = '@Model.Id';
                var files = $('#uploadFile').prop("files");
                var url = "EditModal4?handler=MyUploader";
                formData = new FormData();
                formData.append("MyUploader", files[0]);
                formData.append("fid", fid);
                formData.append("ftype", 2);
                jQuery.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (repo) {

                        initAttments(0, fid);
                    },
                    error: function (rs) {
                        console.log(rs)
                        alert("Error occurs");
                    }
                });
            });
            $("#uploadHFile").change(function () {
                var fid = '@Model.Hid';
                var files = $('#uploadHFile').prop("files");
                var url = "EditModal4?handler=MyUploader";
                formData = new FormData();
                formData.append("MyUploader", files[0]);
                formData.append("fid", fid);
                formData.append("ftype", 2);
                jQuery.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (repo) {
                        initAttments(1, fid);
                    },
                    error: function (rs) {
                        console.log(rs)
                        alert("Error occurs");
                    }
                });
            });

        })
        function initAttments(tindex, qid) {
            dolphin.freight.importExport.attachments.attachment.queryList({ queryType: 2, queryId: qid }).done(function (result) {
                if (result != null && result.length > 0) {
                    var l = abp.localization.getResource('Freight');
                    var trhtml = "";
                    for (var index = 0; index < result.length; index++) {
                        if (tindex == 0) trhtml = trhtml + "<tr id='tr_";
                        else trhtml = trhtml + "<tr id='trh_";
                        trhtml = trhtml + index + "'><td>" + result[index].fileName + "</td><td>" + result[index].creationTime.substring(0, 10) + "</td> <td>" + result[index].size + "KB </td><td>";
                        trhtml = trhtml + "<div class='btn-group dropdown'><button class='btn btn-secondary dropdown-toggle'  type='button' id='ActionDrop_" + index + "' data-bs-toggle='dropdown'>";
                        trhtml = trhtml + l('Display:Function');
                        trhtml = trhtml + "</button><div class='dropdown-menu ' aria-labelledby='dropdownMenuButton1' id='ActionDrop_div_" + index + "'>";
                        trhtml = trhtml + "<a class='dropdown-item' href = 'EditModal4?handler=Download&filename=" + result[index].fileName + "'  ><li class='fa fa-file'></li>";
                        trhtml = trhtml + l('Btn:Download');
                        trhtml = trhtml + "</a><a class='dropdown-item' href='javascript:void(0)' onclick='deleteFile(" + index + ",\"" + result[index].id + "\"," + tindex + ")' ><i class='fa fa-trash'></i> "
                        trhtml = trhtml + l('Btn:Delete');
                        trhtml = trhtml + "</a></div></div></td></tr > ";

                    }
                    if (tindex == 0) {
                        $("#ftbody").html(trhtml);
                        $("#uploadFile").val("");
                    } else {
                        $("#htbody").html(trhtml);
                        $("#uploadHFile").val("");
                    }

                }
            });
        }

        function deleteFile(index, fid, tindex) {

            dolphin.freight.importExport.attachments.attachment.delete(fid)
                .then(function () {
                    var l = abp.localization.getResource('Freight');
                    abp.message.success(l('SuccessfullyDeleted'));
                    if (tindex == 0) {
                        $("#tr_" + index).remove();
                    }
                    else {
                        $("#trh_" + index).remove();
                    }

                });
        }
        function changeHid(id, hid) {
            location.href = '/OceanImports/EditModal4?Id=' + id + "&Hid=" + hid
        }
          function onHawbCardClick(e, hid) {
            debugger
            var element = e.currentTarget || e.target || e.srcElement;
            var hblNo = element.id.split('_')[1];
             var color = getComputedStyle(element.parentElement.parentElement).backgroundColor;

            if (!$('#btnHawbCardCollapse_' + hblNo).attr('class').includes('collapsed')) {
                $('.hblCardHawbNo').addClass('d-none');
                $('#hblCard_' + hblNo).removeClass('d-none');
            }
            else {
             $('.btnHawbCardCollapse').each(function (i, e) {
                        let tempHawbNo = e.id.split('_')[1];
                        if (tempHawbNo == hblNo) {
                            $('#btnHawbCardCollapse_' + hblNo).click();
                        }
                        else {
                            $('#btnHawbCardCollapse_' + tempHawbNo).addClass('collapsed');
                            $('#btnHawbCardCollapse_' + tempHawbNo).attr('aria-expanded', 'false');
                            $('#hawbCard_' + i).removeClass('show');
                        }
                    })
            
            }
             var url = new URL(window.location.href);
          var chekid=  url.searchParams.get('Hid')
            if (chekid == hid) { 
                return;
            
            }
            debugger;
            var id='@Model.Id'
            
                location.href = '/OceanImports/EditModal4?Id=' + id + "&Hid=" + hid
        }
        function OpenInTrackTrace() {
            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');
            dolphin.freight.importExport.oceanImports.oceanImportMbl.get(mblId).done(function (res) {
                myWindow = window.open('https://www.track-trace.com/bol#' + res.mblNo, '_blank', 'width=1200, height=1000');
                myWindow.focus();
            });
        }
                function getPreliminaryClaim() {
            var idNo = $('#OceanImportHbl_Id').val();
            myWindow = window.open("@Url.Action("PreliminaryClaimOceanImport", "Docs")" + "?id=" + idNo+"&pageType=2", 'PreliminaryClaimOceanExport', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
            function getOrderDelivery() {
            var idNo = $('#OceanImportMbl_Id').val();
            myWindow = window.open("@Url.Action("DeliveryOrderOceanImportMawb", "Docs")" + "?id=" + idNo, 'DeliveryOrderOceanImportMawb', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
             function getDEVSEG() {
            var idNo = $('#OceanImportMbl_Id').val();
            myWindow = window.open("@Url.Action("DEVSEGOceanImportMbl", "Docs")" + "?id=" + idNo, 'DEVSEGOceanImportMbl', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
        function ConslidateByConsignee() {

            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');

            if (mblId == null) {
                var url = window.location.href;
                var mblId = url.split('/')[url.split('/').length - 1];
            }

            dolphin.freight.importExport.oceanImports.oceanImportHbl.getHblCardsById(mblId).done(function (res) {
                var consignee = [];
                var duplicates = new Set();
                var seen = new Set();
                res.forEach(item => {
                    if (item.hblConsigneeId !== null && seen.has(item.hblConsigneeId)) {
                        duplicates.add(item.hblConsigneeId);
                    }
                    seen.add(item.hblConsigneeId);
                });

                var duplicateArray = Array.from(duplicates).join();

                $.ajax({
                    url: abp.appPath + 'Docs/ConsolidatedByConsignee?mblId=' + mblId + '&conId=' + duplicateArray,
                    type: 'GET',
                    dataType: "html",
                    success: function (res) {
                        $('#consolidatedModal').html(res);
                        $('.modal.mymodal').modal('show');
                        $('#frmConsolidateArrival').find('.modal.fade').removeClass('modal fade');
                    }
                });

            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var url = new URL(window.location.href);
            var mawbId = url.searchParams.get('Id');

            if (mawbId == null) {
                var url = window.location.href;
                var mawbId = url.split('/')[url.split('/').length - 1];
            }

            dolphin.freight.importExport.oceanImports.oceanImportHbl.getHblCardsById(mawbId).done(function (res) {
                var consignee = [];
                for (let i = 0; i < res.length; i++) {
                    if (res[i].hblConsigneeId != null) {
                        consignee.push(res[i].hblConsigneeId);
                    }
                }
                checkForDuplicates(consignee);
            });
        });

        function checkForDuplicates(array) {
            let counts = {};

            for (let i = 0; i < array.length; i++) {
                if (counts[array[i]]) {
                    counts[array[i]] += 1;
                } else {
                    counts[array[i]] = 1;
                }
            }

            for (let prop in counts) {
                if (counts[prop] > 1) {
                    $(".consolidateConsignee").removeClass("disabled");
                }
            }
        }
          function createHawbCard() {
             $('#cardSettingArea').show();
            var check='False';
            if ($('#cardCheck').prop('checked')) {
                check = 'True';
            
            }
           let abpCard = '<div class="{{divClass}}"><div class="card-header pointer"><h6 class="card-title hblCardTitle" id="title_{{hblNo}}"' +
    ' onclick="onHawbCardClick(event,{{hblCardId}})">';

  // Check the condition and add the <i> tag if check is true
            debugger;
            if (check=="False") {
                abpCard += '<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="{{hblCosigneeName}} {{hblShipperName}}"></i>';
                abpCard += '{{hblNo}}</h6>' +
                    ' <button type="button" class="btn d-none btn-collapse collapsed btnHawbCardCollapse" data-val="{{index}}" data-bs-toggle="collapse" id="btnHawbCardCollapse_{{hblNo}}" data-bs-target="#{{cardBodyId}}" aria-expanded="false" aria-controls="mawbDiv">' +
                    ' <i class="fa fa-caret-down" style="color:#FFFFFF;"></i></button > </div><div class="card-body collapse" id="{{cardBodyId}}" style="min-height:150px !important"></div>';

            }
            else {
                // Add the rest of the card content
                abpCard += '{{hblNo}}<br>{{hblCosigneeName}}<br>{{hblShipperName}}</h6>' +
                
                    ' <button type="button" class="btn d-none btn-collapse collapsed btnHawbCardCollapse" data-val="{{index}}" data-bs-toggle="collapse" id="btnHawbCardCollapse_{{hblNo}}" data-bs-target="#{{cardBodyId}}" aria-expanded="false" aria-controls="mawbDiv">' +
                    ' <i class="fa fa-caret-down" style="color:#FFFFFF;"></i></button > </div><div class="card-body collapse" id="{{cardBodyId}}" style="min-height:150px !important"></div>';
            }
             abpCard += '<div class="card-footer"><div class="row"><div class="col-12 hblCardTitle">{{invoiceInfo}}</div></div></div>';
  return abpCard;
        }

        function setHawbCardValues(abpcard, cardId, hblNo, index,hblCosigneeName,hblShipperName,arBalance,apBalance) {
            let apbCardClass = 'card board-item hbl-sm-' + index;
            let cardBodyId = 'hawbCard_' + index;
            cardId = "'" + cardId + "'";

            abpcard = abpcard.replaceAll("{{divClass}}", apbCardClass);
            abpcard = abpcard.replaceAll("{{hblNo}}", hblNo);
            abpcard = abpcard.replaceAll("{{hblCardId}}", cardId);
            abpcard = abpcard.replaceAll("{{index}}", index);
            abpcard = abpcard.replaceAll("{{cardBodyId}}", cardBodyId);
           
            abpcard = abpcard.replaceAll("{{invoiceInfo}}", "AP/AR Balance "+apBalance+" / "+arBalance);
            

             if (hblCosigneeName !== null) {
    abpcard = abpcard.replaceAll("{{hblCosigneeName}}", hblCosigneeName);
  } else {
    abpcard = abpcard.replaceAll("{{hblCosigneeName}}", "");
  }

  if (hblShipperName !== null) {
    abpcard = abpcard.replaceAll("{{hblShipperName}}", hblShipperName);
  } else {
    abpcard = abpcard.replaceAll("{{hblShipperName}}", "");
  }

            return abpcard;
        }
         function cardSettingClick() {
           
            $("#checkModal").modal("show");  
        }
        const toggleLink = document.getElementById("toggleLink");

        // Set an initial state
        let isAsc = true;
        let selectedValue = 1;
        
        // Add a click event listener to the anchor
        toggleLink.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default link behavior

            // Toggle between "Asc" and "Desc"
            if (isAsc) {
                toggleLink.innerHTML = '<i class="fa fa-sort-down"></i> Desc';
            } else {
                toggleLink.innerHTML = '<i class="fa fa-sort-up"></i> Asc';
            }

            // Invert the state
            isAsc = !isAsc;
            SortHblCard();
        });
        function changeSetting() { 
        $("#checkModal").modal("hide");
            if ($('#cardCheck').prop('checked')) {
                dolphin.freight.importExport.oceanImports.oceanImportMbl.setCardSetting(true).done(function (response) {
                    SortHblCard();
                });

            }
            else {
                dolphin.freight.importExport.oceanImports.oceanImportMbl.setCardSetting(false).done(function (response) {
                    SortHblCard();
                })
            }
        
        
        }
        function SortHblCard(){
        selectedValue = $('#sortType').val();

            var url = new URL(window.location.href);
            var selectedHblNo;

            dolphin.freight.importExport.oceanImports.oceanImportHbl.getHblCardsById(url.searchParams.get('Id'), isAsc,selectedValue)
                .done(function (hblCards) {
                    if (hblCards && hblCards.length) {
                        $('#hblCards').html('');
                        hblCards.forEach(function (hblCard, index) {

                            let abpcard = createHawbCard();

                            abpcard = setHawbCardValues(abpcard, hblCard.id, hblCard.hblNo, index,hblCard.hblConsigneeName,hblCard.hblShipperName,hblCard.arBalance,hblCard.apBalance);

                            $('#hblCards').append(abpcard);

                            if (hblCard.id == url.searchParams.get('Hid')) {
                                selectedHblNo = hblCard.hblNo;
                            }

                        })
                        setTimeout(() => {
                            if (selectedHblNo) {
                                $('#title_' + selectedHblNo).click();
                            }
                            else { $('.hblCardTitle')[0].click(); }

                        }, 500);
                    }
                })
        
        
        
        
        
        
        
        
        }
    </script>
}

<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanImports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanImports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item ">
                <a class="nav-link " href="EditModal?Id=@Model.Id">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item ">
                <a class="nav-link  " href="EditModal2?Id=@Model.Id">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item ">
                <a class="nav-link  " href="EditModal3?Id=@Model.Id">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item active">
                <a class="nav-link  " href="javascript:void(0)">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <abp-row>
        <abp-column size-md="_9">
            <div class="board-wrap">
                <abp-card border="Dark">
                    <abp-card-header style="background:#555555;color:#FFFFFF;">
                        <abp-card-title>
                            MB/L
                            <span id="title0">@Model.OceanImportMbl.MblNo </span>
                             <input type="hidden" name="OceanImportMbl.Id" id="OceanImportMbl_Id" value="@Model.Id" />
                            @if (@Model.OceanImportMbl.PolName != null)
                            {
                                <span id="title1" style="font-size:0.8em;">@Model.OceanImportMbl.PolName</span>
                            }
                            @if (@Model.OceanImportMbl.PolEtd != null)
                            {
                                <span id="title2" style="font-size:0.8em;">@Html.DisplayFor( Model => @Model.OceanImportMbl.PolEtd ) </span>
                            }
                            @if (@Model.OceanImportMbl.PodName != null)
                            {
                                <span id="title3" style="font-size:0.8em;">@Model.OceanImportMbl.PodName</span>
                            }

                            @if (Model.OceanImportMbl.PodEta != null)
                            {
                                <span id="title4" style="font-size:0.8em;">@Html.DisplayFor( Model =>  Model.OceanImportMbl.PodEta ) </span>
                            }
                            @if (@Model.OceanImportMbl.VesselName != null && @Model.OceanImportMbl.VesselName != "")
                            {
                                <span id="title5" style="font-size:0.8em;"><i class="fa fa-anchor"></i> @Model.OceanImportMbl.VesselName </span>

                            }
                            @if (Model.OceanImportMbl.MblCarrierId != null)
                            {
                                <span class="mbl_note _max-w12per">
                                    <i class="fa fa-ship"></i> @Model.OceanImportMbl.MblCarrierName
                                </span>
                            }
                        </abp-card-title>

                        <div class="btn-group dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                @L["Display:Function"]
                            </button>
                            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                <a class='dropdown-item' href='#'>
                                    <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ManifestOceanImportMBL", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL })')">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Manifest"]
                                </a>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="getDEVSEG()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:DEV/SEG"]
                                    </a>
                                       <a class='dropdown-item' href='javascript:void(0)' onclick="getOrderDelivery()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Delivery Order"]
                                    </a>
                             
                                <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Arrival Notice"]
                                </a>
                              
                                <div class="dropdown-divider"></div>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanImportProfitReportDetailOrSummry", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL, reportType = "Summary" })')">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Summary"]
                                </a>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanImportProfitReportDetailOrSummry", "Docs", new { id = Model.OceanImportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIMBL, reportType = "Detail" })')">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Detailed"]
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Electronic Customs Declaration Status"]
                                </a>
                                <a class='dropdown-item' href='javascript:void(0)' onclick=" OpenInTrackTrace()">
                                    <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                                </a>
                            </div>
                        </div>

                        <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="true" aria-controls="mblDiv">
                        </button>
                    </abp-card-header>
                    <abp-card-body class="collapse show" id="mblDiv">

                        <abp-row>
                            <abp-column size-md="_4"><input type="file" id="uploadFile" /></abp-column>
                            <abp-column size-md="_8">
                                <table>
                                    <tr>
                                        <th width="55%">@L["Display:Name"]</th>
                                        <th width="30%">@L["Display:Date"]</th>
                                        <th width="15%">@L["Display:FileSize"]</th>
                                    </tr>
                                    <tbody id="ftbody">
                                    </tbody>

                                </table>

                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                </abp-card>
                <br />
                <abp-card border="Dark" id="hblCard">
                    <abp-card-header id="hblCardHeader" class="@Model.OceanImportHbl.CardColorValue">
                        <input hidden name="@Model.OceanImportHbl.Id" asp-for="@Model.OceanImportHbl.Id" />
                        <abp-card-title>
                            HB/L @Model.OceanImportHbl.HblNo
                        </abp-card-title>

                        <div class="btn-group dropdown">
                            <button class="btn btn-secondary dropdown-toggle" style="position: relative;" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                @L["Display:Function"]
                            </button>
                            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                <a class='dropdown-item' href='#'>
                                    <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                </a>
                                <div class="dropdown-divider"></div>
                              @*   <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Arrival Notice"]
                                </a> *@
               
                                             <a class='dropdown-item' href='#' >
                                                <i class="fa fa-file-text-o"></i> @L["Btn:Delivery Order"]
                                            </a>
                                  <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ProofOfDeliveryOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                   <i class="fa fa-file-text-o"></i> @L["Btn:Proof of Delivery"]
                                  </a>
                              <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ReleaseOrderOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Release Order"]
                                </a>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="getPreliminaryClaim()">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                                </a>
                                   <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ExamHoldNoticeOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                    <i class="fa fa-file-text-o"></i> @L["Btn:EXAM HOLD NOTICE"]
                                    </a>
                                <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("CarrierCertificateOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                                     <i class="fa fa-file-text-o"></i> @L["Btn:Carrier Certificate"]
                                 </a>
                                                      <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("PickupDeliveryInstrucationOceanImportHbl", "Docs", new { id = Model.OceanImportHbl.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pickup Delivery Instruction"]
                </a>
                               <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ForwarderCargoReceiptOceanImportHBL", "Docs", new { id = Model.OceanImportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OIHBL })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Forwarder Cargo Receipt"]
                 </a>
                                <div class="dropdown-divider"></div>
                                <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class='dropdown-item' href='javascript:void(0)' onclick=" OpenInTrackTrace()" style="color: #4B77BE; font-weight: 500;">
                                    <i class="fa fa-location-arrow"></i> @L["Btn:Open in Track-Trace"]
                                </a>
                            </div>
                        </div>

                        <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv">
                        </button>
                    </abp-card-header>
                    <abp-card-body class="collapse show" id="hblDiv">
                        <abp-row>
                            <abp-column size-md="_4"><input type="file" id="uploadHFile" /></abp-column>
                            <abp-column size-md="_8">
                                <table>
                                    <tr>
                                        <th width="55%">@L["Display:Name"]</th>
                                        <th width="30%">@L["Display:Date"]</th>
                                        <th width="15%">@L["Display:FileSize"]</th>
                                    </tr>
                                    <tbody id="htbody">
                                    </tbody>

                                </table>

                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                </abp-card>
            </div>
        </abp-column>
        <abp-column size-md="_3">
            <div class="card-wrap">
                    <button class="btn btn-block btn-add" type="button" id="addHBtn">
                        <i class="fa-solid fa-plus"></i>@L["AddHBL"]
                    </button>
                    <div id="cardSettingArea">     
                            <div class="d-flex flex-row">
                        <div class="p-2"><label>Sort By</label>
                        <select id="sortType">
                            <option selected value="1">HB/L No</option>
                             <option value="2">Created Date</option>
                        </select>    
                        </div>
                        <div class="p-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="p-2">
                            <a href="#" id="toggleLink"><i class="fa fa-sort-up"></i> Asc</a>
                        </div>
                            </div>
                            <div class="d-flex flex-row">
                        <div class="p-2" ><a href='javascript:void(0)' class="text-muted" onclick="cardSettingClick()"><i class="fa fa-cogs"></i> Card Setting</a>
                            </div>
                            </div>
                            </div>
                    <div id="hblCards" class="hbl_sm_area">

                    </div>
                </div>
        </abp-column>
    </abp-row>
      <div id="checkModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Card Setting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
        <div class="pull-left w-80per _pd-sm">
            <div class="_text-blue-steel _font-15 bold _mg-bottom-10">Collapsed Card View</div>
            <div class="_font-13 _mg-bottom-xs">Show Shipper and Consignee</div>
            <div class="_font-11 text-muted">Show Shipper and Consignee name without hovering on the <i class="fa fa-info-circle _font-11"></i> icon when the cards are collapsed</div>
        </div>
        <div class="pull-left w-20per _mg-top-50">
    <abp-input asp-for="@Model.ISToolTipShow" id="cardCheck" suppress-label />
        </div><!---->
    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="changeSetting()">@L["Btn:Ok"]</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">@L["Btn:Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal mymodal" id="consolidatedModal" tabindex="-1" role="dialog">
    </div>
</div>