@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Web.Pages.Components;
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Dolphin.Freight.Web.Pages.AirExports.ModalPopups.CopyToAirExportHawbModel
@inject IDropdownService _dropdownService
@inject IStringLocalizer<FreightResource> L
@{
    Layout = null;
}
<abp-script src="/Pages/AirExports/ModalPopups/CopyToAirExportHawb.js" />
<form abp-model="CopyModel" id="copyForm" method="post" action="@Url.Page("/AirExports/ModalPopups/CopyToAirExportHawb")">
    <abp-modal size="Large">
        <abp-modal-header title="@L["Title:CopyHawbToMawb"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input type="hidden" asp-for="@Model.Id" />
            <abp-column size="_12">
                <p>@L["Title:HawbToMawb"]</p>
            </abp-column>
            <abp-column size="_12">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { 
                    Name = "CopyModel.MawbId", AspItems = _dropdownService.AirExportMawbList, Selected = Model.CopyModel.MawbId.ToString(), IsRequired = true, 
                    IsShowLabel = false, FieldName = "", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.CopyModel.MawbId), NotShowFiledContentValue = Convert.ToString(Model.PrevMawbId) 
                })
            </abp-column>
            <abp-column size="_12">
                <input type="checkbox" suppress-label asp-for="@Model.CopyModel.CopyAccountingInformation" id="accountingCheckbox" />
                <label class="form-label">@L["Display:CopyAccountingInformation"]</label>
            </abp-column>
            <abp-column size="_12">
                <input type="checkbox" suppress-label asp-for="@Model.CopyModel.AP" id="apCheckbox" />
                <label class="form-label">@L["Display:A/P"]</label>
                <input type="checkbox" suppress-label asp-for="@Model.CopyModel.AR" id="arCheckbox" />
                <label class="form-label">@L["Display:A/R"]</label>
                <input type="checkbox" suppress-label asp-for="@Model.CopyModel.DC" id="dcCheckbox" />
                <label class="form-label">@L["Display:D/C"]</label>
            </abp-column>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>