@using Dolphin.Freight.ImportExport.OceanExports;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Web.Pages.Shared.Memos;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Dolphin.Freight.ImportExport.Attachments
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@inject IStringLocalizer<FreightResource> L

<script>
    function gotoInvoiceHBL(Mid, Hid, InvoiceType) {
        debugger;
        if (Hid != '00000000-0000-0000-0000-000000000000') {
            location.href = '/Accounting/Invoice?MethodType=1&Mid=' + Mid + "&Hid=" + Hid + "&InvoiceType=" + InvoiceType;
        }
        else {
            Swal.fire({
                icon: 'error',
                text: 'The data has not been saved, Please save the data!',
                showCancelButton: true,
                confirmButtonText: "Continue",
            });
        }
    }
    function OpenInTrackTrace() {
        var url = new URL(window.location.href);
        var mblId = url.searchParams.get('Id');
        dolphin.freight.importExport.oceanExports.oceanExportMbl.get(mblId).done(function (res) {
            myWindow = window.open('https://www.track-trace.com/bol#' + res.mblNo, '_blank', 'width=1200, height=1000');
            myWindow.focus();
        });
    }
            function getCertificateOfOrigin(id) {
            var idNo = id;
            debugger
            if (idNo != '00000000-0000-0000-0000-000000000000') {
           
            myWindow = window.open("@Url.Action("CertificateOfOrigin", "Docs")" + "?id=" + idNo, 'CertificateOfOrigin', 'width=1200,height=800');
            myWindow.focus()
            }
             else {
            Swal.fire({
                icon: 'error',
                text: 'The data has not been saved, Please save the data!',
                showCancelButton: true,
                confirmButtonText: "Continue",
            });
        }
        }
</script>


<abp-card class="card board-item" id="hblCard">
    <abp-card-header id="hblCardHeader" style="background:#555555;color:#FFFFFF;">
        <abp-card-title>
            HB/L  @Model.OceanExportHblDto.HblNo
        </abp-card-title>
          <input type="hidden" name="OceanExportHbl.Id" id="OceanExportHbl_Id" value="@Model.OceanExportHblDto.Id" />
          <div class="btn-group dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                                @L["Display:Function"]
                            </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop" style="max-height:300px !important;overflow:auto">
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                    </a>
                                    <li class="dropdown-divider"></li>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-files-o"></i> @L["Btn:Document Package"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Print Automobile Documents"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Print HB/L"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Print OB/L"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:B/L Clauses"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Commercial Invoice"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("HBLPackingListOceanExport", "Docs", new { id = Model.OceanExportHblDto.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Packing List"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="getCertificateOfOrigin('@Model.OceanExportHblDto.Id')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Certificate of Origin"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Dock Receipt"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Pickup / Delivery Order"]
                                    </a>
                                     <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Booking Confirmation"]
                                    </a>
                                     <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Bank Draft"]
                                    </a>
                                     <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label"]
                                    </a>
       
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Pre-Alert"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:USDA Heat Treatment"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Forwarder cargo receipt"]
                                    </a>                                  
                                    <a class='dropdown-item' href='#'>
                                    <i class="fa fa-file-text-o"></i> @L["Btn:Dangerous Goods"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:EXAM HOLD NOTICE"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Shipping Advice"]
                                    </a>
                                    <li class="dropdown-divider"></li>
        <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanExportProfitReport", "Docs", new { id = Model.OceanExportHblDto.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                                    </a>
                                    <li class="dropdown-divider"></li>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()" style="color: #4B77BE; font-weight: 500;">
                                        <i class="fa fa-location-arrow"></i> @L["Btn:Open in Track-Trace"]
                                    </a>
                            </div>
                    </div>
        <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv">
        </button>

    </abp-card-header>
    <abp-card-body class="collapse show " id="hblDiv">
        <abp-row>

            <abp-column size-md="_12">
                <input type="hidden" name="OceanExportHblDto.Id" id="OceanExportHblDto_Id" value="@Model.OceanExportHblDto.Id" />
                <div>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoiceHBL('@Model.OceanExportHblDto.MblId','@Model.OceanExportHblDto.Id',0)">@L["Btn:AddAR"]</abp-button>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoiceHBL('','@Model.OceanExportHblDto.Id',1)">@L["Btn:AddDC"]</abp-button>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoiceHBL('','@Model.OceanExportHblDto.Id',2)">@L["Btn:AddAP"]</abp-button>
                </div>
                <table width="100%" class="table table-bordered" style="border-color:#333333;padding-left:2px;margin:2px;font-size:0.5em;">
                    <tr border="1">
                        <th width="15%"></th>
                        <th width=" 10%">@L["Display:InvoiceNo"]</th>
                        <th width=" 15%">@L["Display:To"]</th>
                        <th width="10%">@L["RevenueName"]</th>
                        <th width="10%">@L["CostId"]</th>
                        <th width="10%">@L["Display:Balance"]</th>
                        <th width="5%">@L["Display:Status"]</th>
                        <th width="10%">@L["PostDate"]</th>
                        <th width="10%">@L["Display:InvoiceDate"]</th>
                        <th width="5%">@L["Display:Function"]</th>
                    </tr>
                    @if (Model.h0invoiceDtos != null && Model.h0invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.h0invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.h0invoiceDtos.Count">@L["Menu:AccountingAR"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id &InvoiceType=0&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                      <td>@dto.InvoiceCompanyName</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id&InvoiceType=0&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }
                    @if (Model.h1invoiceDtos != null && Model.h1invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.h1invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.h1invoiceDtos.Count">@L["Menu:AccountingDC"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id&InvoiceType=1&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id&InvoiceType=1&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }
                    @if (Model.h2invoiceDtos != null && Model.h2invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.h2invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.h2invoiceDtos.Count">@L["Menu:AccountingAP"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id&InvoiceType=2&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.ShipTo</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=1&Mid=&Hid=@Model.OceanExportHblDto.Id&InvoiceType=2&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.ShipTo</td>
                                    @{
                                        double j = 0;
                                    }
                                    @foreach (var invBill in dto.InvoiceBillDtos)
                                    {
                                        j = j + @invBill.Quantity;
                                    }
                                    <td>@j</td>
                                    <td>0.00</td>
                                    @{
                                        double r = 0;
                                    }
                                    @foreach (var invRate in dto.InvoiceBillDtos)
                                    {
                                        r += invRate.Quantity * invRate.Rate;
                                    }
                                    <td>@r.ToString("0.00")</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }

                </table>

            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                &nbsp;
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                    @L["Title:Memo"]
                </abp-card-header>
                <abp-card>
                    <abp-card-body>
                        <partial name="Memos/_Memo" model="new _MemoModel(Model.OceanExportHblDto.Id, Dolphin.Freight.Common.FreightPageType.OEMBL)" />
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>