@using Dolphin.Freight.ImportExport.OceanExports;
@using Dolphin.Freight.AirExports;
@using Dolphin.Freight.AirImports;
@using Dolphin.Freight.Common;
@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Accounting;
@using Dolphin.Freight.Web.Pages.Components;
@using Dolphin.Freight.Web.Pages.Shared.Memos;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@using Volo.Abp.Users;
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@inject ICurrentUser CurrentUser
@inject IDropdownService _dropdown
@inject IStringLocalizer<FreightResource> L

<abp-card class="card board-item" id="hblCard">

    <abp-card-header id="hblCardHeader" class="card-header active @Model.OceanExportHbl.CardColorValue ">
        <abp-row>
            <abp-column size-md="_8">
                <abp-card-title>
                    HB/L @Model.OceanExportHbl.HblNo
                </abp-card-title>

            </abp-column>
            <abp-column size-md="_4" class="text-end @Model.OceanExportHbl.CardColorValue'" style="bottom: 8px; left: 8px;">

                <div class="btn-group dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                        @L["Display:Function"]
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                        <a class='dropdown-item' href='#'>
                            <i class="fa fa-lock"></i> @L["Btn:Lock"]
                        </a>
                        <a class='dropdown-item' href='#'>
                            <i class="fa fa-files-o"></i> @L["Btn:Copy"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="deleteHbl()">
                            <i class="fa fa-trash-o"></i> @L["Btn:Delete"]
                        </a>
                        <a class='dropdown-item' href='#'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Copy to"]
                        </a>
                        <a class='dropdown-item' href='#'>
                            <i class="fa fa-share"></i> @L["Btn:Move"]
                        </a>
                        <a class='dropdown-item' href='#'>
                            <i class="fa fa-unlink"></i> @L["Btn:Remove"]
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-files-o"></i> @L["Btn:File Package"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="gotoReport(6)">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Print Car Documents"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getHbl()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Print HB/L"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="gotoReport(7)">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Print OB/L"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getReportHblClauses()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Bill of Lading Terms"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Commercial Invoice"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Packing List"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getCertificateOfOrigin()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Certificate of Origin"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getDockRecepit()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Dock Receipt"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Dispatch List"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getReportBookingConfirmation()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:S/O Confirmation"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getReportBankDraft()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Bank Draft"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getPreAlert()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Pre-Alert"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getUsdaHeatTreatment()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:USDA Heat Treatment"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)' onclick="getForwarderCargoReceipt()">
                            <i class="fa fa-file-text-o"></i> @L["Btn:Forwarder Cargo Receipt"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Dangerous Goods Declaration"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:EXAM HOLD NOTICE"]
                        </a>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Shipping Advice"]
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class='dropdown-item' href='javascript:void(0)'>
                            <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class='dropdown-item' href='javascript:void(0)' style="color: #4B77BE; font-weight: 500;">
                            <i class="fa fa-location-arrow"></i> @L["Btn:Tracking"]
                        </a>
                    </div>
                </div>



                <button class="btn btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#hawbDiv" aria-expanded="true" aria-controls="hawbDiv">
                </button>
            </abp-column>

        </abp-row>
    </abp-card-header>
    @*<div id="hblDiv" class="collapse show customForm">*@
    <abp-card-body id="hawbDiv" class="card-body collapse show">
        <abp-row>
            <abp-column size-md="_3">
                <input type="hidden" name="OceanExportHbl.Id" id="OceanExportHbl_Id" value="@Model.OceanExportHbl.Id" />
                <abp-input asp-for="OceanExportHbl.HblNo" required />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.SoNo" />
            </abp-column>
            <abp-column size-md="_6">
                <abp-input asp-for="OceanExportHbl.ItnNo" />
            </abp-column>
        </abp-row>
        <abp-row>
                <abp-column size-md="_3">
                    <abp-input asp-for="OceanExportHbl.CustomerRefNo" />
                </abp-column>
                <abp-column size-md="_3">
                    <abp-input asp-for="OceanExportHbl.DocNo" />
                </abp-column>
                <abp-column size-md="_3">
                    <abp-input asp-for="OceanExportHbl.QuotationNo" />
                </abp-column>
                <abp-column size-md="_3">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblShipperId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblShipperId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.HblShipperId.ToString() })
                </abp-column>
        </abp-row>
       
        
        <abp-row>
           
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblCustomerId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblCustomerId", SelectType = 0, ShowFiledContentValue = Model.OceanExportHbl.HblCustomerId.ToString() })

            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblBillToId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblBillToId", SelectType = 0, ShowFiledContentValue = Model.OceanExportHbl.HblBillToId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblConsigneeId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblConsigneeId", SelectType = 0, ShowFiledContentValue = Model.OceanExportHbl.HblConsigneeId.ToString() })

            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblNotifyId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblNotifyId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.HblNotifyId.ToString() })
            </abp-column>
        </abp-row>
        <abp-row>
        
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.CustomsBrokerId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "CustomsBrokerId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.CustomsBrokerId.ToString()})
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.TruckerId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "TruckerId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.TruckerId.ToString()})
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.AgentId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "AgentId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.AgentId.ToString()})
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.HblSaleId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblSaleId", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.HblSaleId) })
            </abp-column>
        
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">

            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.ForwardingAgentId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "HblForwardingAgentId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.ForwardingAgentId.ToString()})
            </abp-column>
            <abp-column size-md="_3">
                <label class="">@L["OP"]</label>
                <select class="form-control ml-15" asp-for="OceanExportHbl.HblOperatorId" disabled="true">
                    <option value='@CurrentUser.Id' selected> @(CurrentUser.Name + " " + CurrentUser.SurName) </option>
                </select>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.IsSubAgentBl" />
            </abp-column>
        </abp-row>
        <abp-row>   
          @*  <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.ReceivingAgentId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = "ReceivingAgentId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.ReceivingAgentId.ToString() })
            </abp-column>*@
           

        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.PorId", AspItems = Model.PortsManagementLookupList, IsShowLabel = true, FieldName = "PorName", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.PorId) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.PorEtd" type="text" abp-data-datepicker="false" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.PolId", AspItems = Model.PortsManagementLookupList, IsShowLabel = true, FieldName = "PolName", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.PolId) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.PolEtd" type="text" abp-data-datepicker="true" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.PodId", AspItems = Model.PortsManagementLookupList, IsShowLabel = true, FieldName = "PodName", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.PodId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.PodEta" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.DelId", AspItems = Model.PortsManagementLookupList, IsShowLabel = true, FieldName = "DelName", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.DelId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.DelEta" type="text" abp-data-datepicker="false" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.FdestId", AspItems = Model.PortsManagementLookupList, IsShowLabel = true, FieldName = "FdestId", SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.FdestId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.FdestEta" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.FbaFcId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["FbaFcId"], SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.FbaFcId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.EmptyPickupId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["HEmptyPickupId"], SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.EmptyPickupId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.DeliveryToId", AspItems = Model.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["HDeliveryToId"], SelectType = 1, ShowFiledContentValue = Model.OceanExportHbl.DeliveryToId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.CargoArrivalDate" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.CargoPickupId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CargoPickupId", SelectType = 0, ShowFiledContentValue = Model.OceanExportHbl.CargoPickupId.ToString() })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.ShipModeId", AspItems = _dropdown.ShipModeLookupList, IsShowLabel = true, FieldName = "HShipModeId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.ShipModeId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.FreightTermForBuyerId", AspItems = _dropdown.FreightTermLookupList, IsShowLabel = true, FieldName = "BuyingFreight", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.FreightTermForBuyerId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.FreightTermForSalerId", AspItems = _dropdown.FreightTermLookupList, IsShowLabel = true, FieldName = "SellingFreight", SelectType = 1, ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.FreightTermForSalerId) })
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.SvcTermFromId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "HSvcTermFromId", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.SvcTermFromId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.SvcTermToId", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = "SvcTermToId", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.SvcTermToId) })
            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.DisplayHblContainerSizeQtyInfo" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.IsExpress" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.CargoTypeId", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = "CargoTypeId", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.CargoTypeId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.MblSalesTypeId", AspItems = _dropdown.SalesTypeLookupList, IsShowLabel = true, FieldName = "MblSalesTypeId", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.MblSalesTypeId) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.HblWhCutOffTime" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.EarlyReturnDatetime" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.LcNo" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.LcIssueBank" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.LcIssueDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.OnBoardDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="OceanExportHbl.IsStackable" />
            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanExportHbl.IsHold" id="OceanExportHbl_IsHold" value="true" /> @L["IsHold"] </label>
                <abp-input asp-for="OceanExportHbl.HoldReason" />
            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
            <abp-column size-md="_3">
                <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanExportHbl.IsReleased" id="OceanExportHbl_IsReleased" value="true" /> @L["IsReleased"] </label>
                <abp-input asp-for="OceanExportHbl.HblReleaseDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_3">
                <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanExportHbl.IsCanceled" id="OceanExportHbl_IsCanceled" value="true" /> @L["IsCanceled"] </label>
                <abp-input asp-for="OceanExportHbl.CanceledDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
            </abp-column>
            <abp-column size-md="_3">

            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.CancelReason", AspItems = _dropdown.CancelReasonLookupList, IsShowLabel = true, FieldName = "ReasonForCancel", ShowFiledContentValue = Model.OceanExportHbl.CancelReason })
                <input type="hidden" name="OceanExportHbl.CancelReason" id="hHCancelReason" value="@Model.OceanExportHbl.CancelReason" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "OceanExportHbl.MblReferralById", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MblReferralById", ShowFiledContentValue = Convert.ToString(Model.OceanExportHbl.MblReferralById) })
            </abp-column>
        </abp-row>
        <abp-row></abp-row>
        <abp-row>
            <abp-column>
                <abp-card>
                    <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                        @L["Title:Memo"]
                    </abp-card-header>
                    <abp-card-body>
                        <partial name="Memos/_memo" model="new _MemoModel(Model.OceanExportHbl.Id, Dolphin.Freight.Common.FreightPageType.OEHBL)" />
                    </abp-card-body>
                </abp-card>
                @*@await Component.InvokeAsync(typeof(MemoComponent),new {TagName =  "HblMemo",DefaultValue=Model.OceanExportHbl.Id.ToString()  })*@
            </abp-column>

        </abp-row>
    </abp-card-body>
</abp-card>

