@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.OceanExports.EditModal2Model
@inject IStringLocalizer<FreightResource> L
@inject Dolphin.Freight.Web.CommonService.IDropdownService _DropdownService;
@section scripts
    {

    <script type="text/javascript">
        var trindex = 0;
        var containerSizes = [];
        var l = abp.localization.getResource('Freight');
        $(document).ready(function () {
            var isLocked = '@Model.OceanExportMbl.IsLocked';
            if (isLocked == 'True') abp.message.warn("此項已經被鎖定，若需修改請小心！\n您作的變更可能導致會計報表不一致！");
            if (isLocked == 'True') {
                $('#lockButtonMbl').find('i').addClass('fa fa-lock')
            }
            else {
                $('#lockButtonMbl').find('i').addClass('fa fa-lock-open')
            }
            var isLockedHbl = '@Model.OceanExportHbl.IsLocked';
            if (isLockedHbl == 'True') {
                $('#lockButtonHbl').find('i').addClass('fa fa-lock')
            }
            else {
                $('#lockButtonHbl').find('i').addClass('fa fa-lock-open')
            }
            dolphin.freight.settings.containerSizes.containerSize.queryAllList({}).done(function (result) {
                if (result != null && result.length > 0) {
                    containerSizes = result;
                    dolphin.freight.importExport.containers.container.queryList({ QueryId: '@Model.Id' }).done(function (result) {
                        if (result != null && result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                var value1 = result[i].containerNo;
                                var value2 = result[i].containerSizeId;
                                var value3 = result[i].sealNo;
                                var value4 = result[i].packageNum;
                                var value5 = result[i].packageWeight;
                                var value6 = result[i].packageMeasure;
                                addTrTag(value1, value2, value3, value4, value5, value6);

                            }
                        }
                    });
                }
            });
            var IsShowHbl = '@Model.IsShowHbl';
            if (IsShowHbl == 'True') {
                $("#hblCard").show();
                onSetCommodity();
                setPoValue();
            }
            else $("#hblCard").hide();

            $("#addBtn").click(function () {
                addTr()
            })
            $("#add5Btn").click(function () {
                for (var i = 0; i < 5; i++) {
                    addTr();
                }

            })
            $("#copyBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    addTrTag($("#f1_" + $(this).val()).val(), $("#f2_" + $(this).val()).val(), $("#f3_" + $(this).val()).val(), $("#f4_" + $(this).val()).val(), $("#f5_" + $(this).val()).val(), $("#f6_" + $(this).val()).val())
                })
            })
            $("#deleteBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    var tid = $(this).val();
                    $("#did_" + tid).val("1");
                    $("#tr_" + $(this).val()).hide();
                })
            })
            $("#saveBtn").click(function () {
                $("#mPoNo").val($("#PoNoTag").tagsStr());
                $("#edit2Form").submit();
            });
            $('#edit2Form').on('abp-ajax-success', function (result, rs) {
                event.preventDefault();

                abp.message.success(l("Message:SuccessEdit"));
            });
            $("#addHBtn").click(function () {
                //var url = "/OceanExports/EditModal?Id=@Model.Id&NewHbl=1";
                //location.href = url;
                $('#hblCard').show();
                $('[name="OceanExportMbl.Mark"]:eq(1)').val($('[name="OceanExportMbl.Mark"]:eq(0)').val());
                $('[name="OceanExportMbl.Description"]:eq(1)').val($('[name="OceanExportMbl.Description"]:eq(0)').val());
                $('[name="OceanExportMbl.DomesticInstructions"]:eq(1)').val($('[name="OceanExportMbl.DomesticInstructions"]:eq(0)').val());
            })
        });

        function lockUnlockMbl(id) {
            var isLock = $('#lockButtonMbl').find('i').hasClass('fa-lock');
            abp.message.confirm(l(isLock ? 'UnlockConfirmationMessage' : 'LockConfirmationMessage')).then(function (confirmed) {
                if (confirmed) {
                    dolphin.freight.importExport.oceanExports.oceanExportMbl.lockedOrUnLockedOceanExportMbl({ MbId: id })
                        .done(function () {
                            if (isLock) {
                                $('#lockButtonMbl').find('i').toggleClass('fa-lock fa-lock-open')
                                abp.message.success(l('Message:SuccessUnlock'));
                            } else {
                                $('#lockButtonMbl').find('i').toggleClass('fa-lock fa-lock-open')
                                abp.message.success(l('Message:SuccessLock'));
                            }
                        });
                }
            });
        }

        function lockUnlockHbl(id) {
            var isLock = $('#lockButtonHbl').find('i').hasClass('fa-lock');
            abp.message.confirm(l(isLock ? 'UnlockConfirmationMessage' : 'LockConfirmationMessage')).then(function (confirmed) {
                if (confirmed) {
                    dolphin.freight.importExport.oceanExports.oceanExportHbl.lockedOrUnLockedOceanExportHbl({ HblId: id })
                        .done(function () {
                            debugger
                            if (isLock) {
                                $('#lockButtonHbl').find('i').toggleClass('fa-lock fa-lock-open')
                                abp.message.success(l('Message:SuccessUnlock'));
                            } else {
                                $('#lockButtonHbl').find('i').toggleClass('fa-lock fa-lock-open')
                                abp.message.success(l('Message:SuccessLock'));
                            }
                        });
                }
            });
        }

        function addTr() {
            addTrTag("", "", "", "", "", "");
        }
        function addTrTag(value1, value2, value3, value4, value5, value6) {

            var trhtml = "<tr id='tr_" + trindex + "'><td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].Status' value='0' id='did_" + trindex + "' />  <input type='checkbox' name='f0' id='f0_" + trindex + "'  value='" + trindex + "'    /></td>"
            trhtml = trhtml + "<td><div class='input-group'><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].ContainerNo' id='f1_" + trindex + "' class='form-control' value='" + value1 + "'/> <div class='input-group-append'><button type='button'  onclick='exportDiv(\"" + trindex + "\");' >+</button> </div></div></td>"
            trhtml = trhtml + "<td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblId' value='@Model.Id' /><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblType' value='1' />";
            trhtml = trhtml + getcontainerSizeSelect(value2) + "</td>";
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].SealNo' id='f3_" + trindex + "' class='form-control' value='" + value3 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageNum ' id='f4_" + trindex + "' class='form-control' value='" + value4 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageWeight' id='f5_" + trindex + "' class='form-control' value='" + value5 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageMeasure' id='f6_" + trindex + "' class='form-control' value='" + value6 + "' /></td>"
            trhtml = trhtml + "</tr>"
            trhtml = trhtml + "<tr id='tr2_" + trindex + "' style='display:none;'><td colspan='6'><div></div></td>"
            trhtml = trhtml + "</tr>"
            $("#trtbody").append(trhtml);
            trindex++;
        }
        function getcontainerSizeSelect(selectedId) {
            var selectHtml = "<select name='CreateUpdateContainerDtos[" + trindex + "].ContainerSizeId' class='form-control' >";
            for (var i = 0; i < containerSizes.length; i++) {
                selectHtml = selectHtml + "<option value='" + containerSizes[i].id + "' ";
                if (containerSizes[i].id == selectedId) selectHtml = selectHtml + " selected ";
                selectHtml = selectHtml + ">" + containerSizes[i].containerCode + "</option>"
            }
            selectHtml = selectHtml + "</select>";
            return selectHtml;
        }
        function exportDiv(trindex) {
            $("#tr2_" + trindex).show();
        }
        function changeHid(id, hid) {
            location.href = '/OceanExports/EditModal2?Id=' + id + "&Hid=" + hid
        }
        function gotoReport(rindex) {
            var url = '';
            switch (rindex) {
                default:
                    url = '@Url.Action("Car", "Repots")';
                    break;
                case 2:
                    url = '@Url.Action("Cargo", "Repots")';
                    break;
                case 3:
                    url = '@Url.Action("Box", "Repots")';
                    break;
                case 4:
                    url = '@Url.Action("ProfitSummary", "Repots")';
                    break;
                case 5:
                    url = '@Url.Action("ProfitDetail", "Repots")';
                    break;
            }
        }
        function OpenInTrackTrace() {
            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');
            dolphin.freight.importExport.oceanExports.oceanExportMbl.get(mblId).done(function (res) {
                myWindow = window.open('https://www.track-trace.com/bol#' + res.mblNo, '_blank', 'width=1200,height=1000');
                myWindow.focus();
            });
        }
        function getCertificateOfOrigin() {
            var idNo = $('#OceanExportHbl_Id').val();;
            debugger;
            myWindow = window.open("@Url.Action("CertificateOfOrigin", "Docs")" + "?id=" + idNo, 'CertificateOfOrigin', 'width=1200,height=800');
            myWindow.focus()
        }
        var chkIndex = 0;
        function onAddCommodity() {
            var newRowData = {
                chkIndex: chkIndex
            };

            var newRow = $('#commodityTemplate').tmpl(newRowData);

            $('#commodityBody').append(newRow);

            chkIndex += 1;

            resetCommodityIndex();

            $('#btnCommodity').removeAttr('disabled');
            $('#btnCommodityHTS').removeAttr('disabled');
        }
        function onRemoveCommodity() {
            $('[name="chk_commodity"]:checked').each(function (i, elem) {
                $(elem).closest('tr').remove();
            });

            resetCommodityIndex();

            if (!$('[name="chk_commodity"]:checked').length) {
                $('#btnCommodity').attr('disabled', 'disabled');
                $('#btnCommodityHTS').attr('disabled', 'disabled');
            }
        }
        function onSetCommodity() {
            var extraProperties = '@Html.Raw(Json.Serialize(Model.OceanExportHbl.ExtraProperties))';

            if (extraProperties && extraProperties != 'null' && extraProperties != '{}') {
                var commodities = JSON.parse(extraProperties).Commodities;

                if (commodities && commodities.length) {
                    var commodityIndex = 0;
                    commodities.forEach(function (commodity) {
                        commodity.chkIndex = commodityIndex;

                        var newRow = $('#commodityTemplate').tmpl(commodity);
                        $('#commodityBody').append(newRow);

                        commodityIndex += 1;
                    });

                    $('#btnCommodity').removeAttr('disabled');
                    $('#btnCommodityHTS').removeAttr('disabled');
                }
            }
        }
        function resetCommodityIndex() {
            $('#commodityBody > tr').each(function (e, elem) {
                $(elem).find('td').each(function (a, aelem) {
                    var attrName = $(aelem).find('input').attr('name').replace(/[0-9]/, e);

                    $(aelem).find('input').attr('name', attrName);
                    if ($(aelem).hasClass('d-none')) {
                        var aelemVal = $(aelem).find('input').val();
                        $(aelem).find('input').val(aelemVal.replace(/[0-9]/, e));
                    }
                })
            })
        }
        function getCommercialInvoice() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("CommercialInvoice", "Docs")" + "?Id=" + idNo, 'CommercialInvoice', 'width=1200,height=800');
            myWindow.focus()
        }
        function getPickupDeliveryOrder() {
            var idNo = $('#OceanExportMbl_Id').val();
            myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")" + "?id=" + idNo, 'PickupDeliveryOrder', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
        function getPreAlert() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("PreAlert", "Docs")" + "?id=" + idNo, 'PreAlert', 'width=1200,height=800');
            myWindow.focus()
        }
        function setPoValue() {
            var tagOptions = {};

            tagOptions.onDel = function () {
                setTimeout(() => {
                    var tags = $('#PoNoTag').tagsStr();
                    $('#OceanExportHbl_PoNo').val(tags);
                    if (!tags) {
                        $('#btnPO').attr('disabled', 'disabled');
                    }
                }, 100)
            }

            $("#PoNoTag").tagsInit(tagOptions);

            var poNos = '@Model.OceanExportHbl?.PoNo';

            if (poNos) {
                poNos.split(',').forEach((poNo) => $("#PoNoTag").tagsAdd(poNo, poNo));
                $('#btnPO').removeAttr('disabled');
            }

            $('#PoNoTag_tag_input').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $('#OceanExportHbl_PoNo').val($('#PoNoTag').tagsStr());
                    $('#btnPO').removeAttr('disabled');
                }
            });
        }
        function addPONumberForDescription() {
            var val = $('#oceanExportHblDescription').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            $('#oceanExportHblDescription').val((val.concat('PO NO.\n' + tagValue + '\n')));

            $('#oceanExportHblDescription').attr('style', 'height: ' + document.getElementById('oceanExportHblDescription').scrollHeight + 'px !important');
        }
        function addCommodityForDescription() {
            var val = $('#oceanExportHblDescription').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            var trLength = $('#commodityBody tr').length;

            if (trLength) {
                var frm = $('#edit2Form').serializeFormToObject();

                for (var i = 0; i < trLength; i++) {
                    val = $('#oceanExportHblDescription').val();
                    $('#oceanExportHblDescription').val((val.concat(frm['commodities[' + i + ']'].description + '\n')));
                }
            }
            $('#oceanExportHblDescription').attr('style', 'height: ' + document.getElementById('oceanExportHblDescription').scrollHeight + 'px !important');
        }

        function addCommodityHTSForDescription() {
            var val = $('#oceanExportHblDescription').val() || '';
            var tagValue = $('#PoNoTag').tagsStr();

            var trLength = $('#commodityBody tr').length;

            if (trLength) {
                var frm = $('#edit2Form').serializeFormToObject();

                for (var i = 0; i < trLength; i++) {
                    val = $('#oceanExportHblDescription').val();
                    $('#oceanExportHblDescription').val((val.concat(frm['commodities[' + i + ']'].description + ' ' + frm['commodities[' + i + ']'].hTSCode + '\n')));
                }
            }
            $('#oceanExportHblDescription').attr('style', 'height: ' + document.getElementById('oceanExportHblDescription').scrollHeight + 'px !important');
        }

        function onHblDescriptionChange() {
            setTimeout(function () {
                $('#oceanExportHblDescription').attr('style', 'height: ' + document.getElementById('oceanExportHblDescription').scrollHeight + 'px !important');
            }, 100)
        }
        function getReportBankDraft() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("BankDraft", "Docs")" + "?id=" + idNo, 'BankDraft', 'width=1500,height=800');
            myWindow.focus()
        }
        function getUsdaHeatTreatment() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("UsdaHeatTreatment", "Docs")" + "?id=" + idNo, 'UsdaHeatTreatment', 'width=1200,height=800');
            myWindow.focus()
        }
        function getReportTelexrelease() {
            var idNo = $('#OceanExportMbl_Id').val();
            myWindow = window.open("@Url.Action("Telexrelease", "Docs")" + "?id=" + idNo, 'Telexrelease', 'width=1200,height=800');
            myWindow.focus()
        }
        function getReportBookingConfirmation() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("BookingConfirmation", "Docs")" + "?id=" + idNo, 'BookingConfirmation', 'width=1200,height=800');
            myWindow.focus()
        }

        function getManifestPopUp() {
            var url = new URL(window.location.href);
            var mblId = url.searchParams.get('Id');

            $.ajax({
                url: abp.appPath + 'Docs/ManifestOceanExportMBLPartial?mblId=' + mblId,
                type: 'GET',
                dataType: "html",
                success: function (res) {
                    $('#ManifestModal').html(res);
                    $('.modal.mymodal').modal('show');
                    $('#frmManifest').find('.modal.fade').removeClass('modal fade');
                }
            });
        }
        function getReportCarDocument() {
            var idNo = $('#OceanExportHbl_Id').val();

            myWindow = window.open("@Url.Action("Shipment", "Docs")" + "?id=" + idNo, 'Shipment', 'width=1200,height=800');
            myWindow.focus()
        }
        function getPreliminaryClaim() {
            var idNo = $('#OceanExportHbl_Id').val();
            myWindow = window.open("@Url.Action("PreliminaryClaimOceanExport", "Docs")" + "?id=" + idNo + "&pageType=4", 'PreliminaryClaimOceanExport', 'width=1200,height=800');
            //myWindow = window.open("@Url.Action("PickupDeliveryOrder", "Docs")", 'PickupDeliveryOrder', 'width=1200,height=800');
            myWindow.focus()
        }
        function getDocPackagePopUp() {

            $.ajax({
                url: abp.appPath + 'Docs/DocumentPackageHBLPopupPartial?id=@Model.OceanExportHbl.Id',
                type: 'GET',
                dataType: "html",
                success: function (res) {
                    $('#documentPackageModal').html(res);
                    $('#documentPackageModal').modal('show');
                }
            });
        }
    </script>

    <script id="commodityTemplate" type="text/x-jQuery-tmpl">
        <tr>
          <td>
              <input type="checkbox" name="chk_commodity" id="Id" />
          </td>
          <td><input type="text" name="Commodities[${chkIndex}].Description" value="${Description}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].PackagingType" value="${PackagingType}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].HTSCode" value="${HTSCode}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].NoOfPcs" value="${NoOfPcs}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].NetWeight" value="${NetWeight}"  /></td>
          <td><input type="text" name="Commodities[${chkIndex}].GrossWeight" value="${GrossWeight}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].UnitPrice" value="${UnitPrice}" /></td>
          <td><input type="text" name="Commodities[${chkIndex}].Amount" value="${Amount}"   /></td>
          <td><input type="text" name="Commodities[${chkIndex}].Details" value="${Details}"  /></td>
          <td><input type="text" name="Commodities[${chkIndex}].Container" value="${Container}" /></td>
        </tr>
    </script>
}
@section styles
    {
    <style>
        .color-black {
            color: black !important;
        }
    </style>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanExports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanExports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item ">
                <a href="EditModal?Id=@Model.Id">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item active">
                <a href="javascript:void(0)">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal3?Id=@Model.Id&Hid=@Model.Hid">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal4?Id=@Model.Id">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <form submit-button="true" data-ajaxForm="true" id="edit2Form">
        <abp-row>
            <abp-column size-md="_9">
                <div class="board-wrap">
                    <abp-card class="card board-item">
                        <abp-card-header class="card-header active" style="background:#555555;color:#FFFFFF;">
                            <abp-card-title>
                                MB/L
                                <input type="hidden" name="OceanExportMbl.Id" id="OceanExportMbl_Id" value="@Model.OceanExportMbl.Id" />
                                <span id="title0">@Model.OceanExportMbl.MblNo </span>
                                @if (@Model.OceanExportMbl.PolName != null)
                                {
                                    <span id="title1" style="font-size:0.8em;">@Model.OceanExportMbl.PolName</span>
                                }
                                @if (@Model.OceanExportMbl.PolEtd != null)
                                {
                                    <span id="title2" style="font-size:0.8em;">@Html.DisplayFor( Model => @Model.OceanExportMbl.PolEtd ) </span>
                                }
                                @if (@Model.OceanExportMbl.PodName != null)
                                {
                                    <span id="title3" style="font-size:0.8em;">@Model.OceanExportMbl.PodName</span>
                                }

                                @if (Model.OceanExportMbl.PodEta != null)
                                {
                                    <span id="title4" style="font-size:0.8em;">@Html.DisplayFor( Model =>  Model.OceanExportMbl.PodEta ) </span>
                                }
                                @if (@Model.OceanExportMbl.VesselName != null && @Model.OceanExportMbl.VesselName != "")
                                {
                                    <span id="title5" style="font-size:0.8em;"><i class="fa fa-anchor"></i> @Model.OceanExportMbl.VesselName </span>

                                }
                                @if (Model.OceanExportMbl.MblCarrierId != null)
                                {
                                    <span class="mbl_note _max-w12per">
                                        <i class="fa fa-ship"></i> @Model.OceanExportMbl.MblCarrierName
                                    </span>
                                }
                            </abp-card-title>

                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    @L["Display:Function"]
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' id="lockButtonMbl" href='javascript:void(0)' onclick="lockUnlockMbl('@Model.OceanExportMbl.Id')">
                                        <i class=""></i> @L["Btn:Lock"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["e-SI"]
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-file-text-o"></i> @L["GoFreight EDI"]
                                    </a>
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-files-o"></i> @L["Btn:File Package"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("PrintMBLInstruction", "Docs", new { id = Model.OceanExportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Print MB/L | B/L Instruction"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="getPickupDeliveryOrder()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Dispatch List"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="getManifestPopUp()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Manifest"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("PackagingListOceanExportMBL", "Docs", new { id = Model.OceanExportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Packing List"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="getReportTelexrelease()">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Telex Release"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("MBLPackageLabelOceanExportMBL", "Docs", new { id = Model.OceanExportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:MBL Package Label"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("AllHblPackageLabelOceanExportMBL", "Docs", new { mblId = Model.OceanExportMbl.Id })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:All HBL Package Labels"]
                                    </a>
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("MblProfitReportSummary", "Docs", new { id = Model.OceanExportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Summary"]
                                    </a>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("MblProfitReportDetailed", "Docs", new { id = Model.OceanExportMbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEMBL })')">
                                        <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Detailed"]
                                    </a>
                                    <p class="dropdown-divider"></p>
                                    <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()">
                                        <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                                    </a>
                                </div>
                            </div>

                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="true" aria-controls="mblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show" id="mblDiv">

                            <abp-row>

                                <abp-column size-md="_12">
                                    <div>
                                        <abp-button class="btn btn-success me-md-2" type="button" id="addBtn">+</abp-button>
                                        <abp-button class="btn btn-outline-success me-md-2" type="button" id="add5Btn">+5</abp-button>
                                        <abp-button class="btn btn-outline-warning me-md-2" type="button" id="copyBtn">copy</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteBtn">delete</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="classificationBtn">分配集裝箱</abp-button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                                        <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="20%">@L["Display:PackageNo"]</th>
                                            <th width="15%">@L["Display:PackageSize"]</th>
                                            <th width="15%">@L["Display:SmallSeal"]</th>
                                            <th width="15%">@L["Display:PackageType"]</th>
                                            <th width="15%">@L["Display:Weight"]</th>
                                            <th width="15%">@L["Display:Volume"]</th>
                                        </tr>
                                        <tbody id="trtbody">
                                        </tbody>

                                    </table>

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_12">
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <label for="t1">@L["Display:Mark"]</label>
                                    <textarea id="t1" name="OceanExportMbl.Mark" class="form-control">@Model.OceanExportMbl.Mark</textarea>
                                </abp-column>
                                <abp-column size-md="_6">
                                    <label for="t2">@L["Display:DeionOfGoods"]</label>
                                    <textarea id="t2" name="OceanExportMbl.Description" class="form-control">@Model.OceanExportMbl.Description</textarea>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-collum>
                                    <label for="t3">@L["Display:Ot"]</label>
                                    <textarea id="t3" name="OceanExportMbl.DomesticInstructions" class="form-control">@Model.OceanExportMbl.DomesticInstructions</textarea>
                                </abp-collum>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <br />

                    <abp-card class="card board-item color-black @Model.OceanExportHbl.CardColorValue " id="hblCard">
                        <abp-card-header id="hblCardHeader" class="card-header active ">
                            <abp-card-title>
                                HB/L @Model.OceanExportHbl.HblNo
                                <input type="hidden" name="OceanExportHbl.Id" id="OceanExportHbl_Id" value="@Model.OceanExportHbl.Id" />
                            </abp-card-title>

                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    @L["Display:Function"]
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' id="lockButtonHbl" href='javascript:void(0)' onclick="lockUnlockHbl('@Model.OceanExportHbl.Id')">
                                        <i class=""></i> @L["Btn:Lock"]
                                    </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getDocPackagePopUp()">
                                <i class="fa fa-files-o"></i> @L["Btn:Document Package"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getReportCarDocument()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Print Car Documents"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("HBLPrintOceanExport", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Print HB/L"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("HBLPrintOceanExportOBL", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Print OB/L"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getReportHblClauses()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Bill of Lading Terms"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getCommercialInvoice()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Commercial Invoice"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("HBLPackingListOceanExport", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Packing List"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getCertificateOfOrigin()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Certificate of Origin"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Dock Receipt"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getPreliminaryClaim()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                            </a>

                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Dispatch List"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getReportBookingConfirmation()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:S/O Confirmation"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getReportBankDraft()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Bank Draft"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Packaging Label"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getPreAlert()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Pre-Alert"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="getUsdaHeatTreatment()">
                                <i class="fa fa-file-text-o"></i> @L["Btn:USDA Heat Treatment"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("ForwarderCargoReceiptOceanExportHBL", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Forwarder Cargo Receipt"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Dangerous Goods Declaration"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:EXAM HOLD NOTICE"]
                            </a>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("HblShippingAdvice", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Shipping Advice"]
                            </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenWindow('@Url.Action("OceanExportProfitReport", "Docs", new { id = Model.OceanExportHbl.Id, pageType = Dolphin.Freight.Common.FreightPageType.OEHBL })')">
                                <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                            </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()" style="color: #4B77BE; font-weight: 500;">
                                <i class="fa fa-location-arrow"></i> @L["Btn:Open in Track-Trace"]
                            </a>
                </div>
</div>

<button class="btn btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv">
</button>
                        </abp-card-header>
<abp-card-body class="collapse show" id="hblDiv">
    <abp-row>
        <abp-column size-md="_2">
                                    @L["Title:PoNo"]
        </abp-column>
        <abp-column size-md="_3">
            <span style="font-size:0.8em;white-space: nowrap;padding-bottom: 4px;">@L["Title:PoNo.Description"]</span>
        </abp-column>
    </abp-row>
    <abp-row>
        <abp-column>
            <div id="PoNoTag" tagname="PoNoTag"></div>
            <abp-input type="hidden" suppress-label="true" asp-for="@Model.OceanExportHbl.PoNo" />
        </abp-column>
    </abp-row>
    <abp-row>

        <abp-column size-md="_12">
            <div>
            </div>
            <abp-table width="100%" border="1">
                <tr ng-form="hbl.__form2" class="ng-valid ng-dirty ng-valid-parse" style="">
                    <th width="5%" class="text-center">#</th>
                    <th width="10%" style="white-space: nowrap">Container No.</th>
                    <th width="15%">
                                                @L["PKG"]<br>
                        <abp-select asp-for="@Model.CreateUpdateContainerHawb.PackageUnitId" suppress-label="true" asp-items="_DropdownService.PackageUnitLookupList"></abp-select>
                    </th>
                    <th width="15%">
                                                @L["Weight"]<br>
                        <abp-select asp-for="@Model.CreateUpdateContainerHawb.PackageWeightUnit" suppress-label="true" asp-items="@Model.RateUnitTypeLookupList"></abp-select>
                    </th>
                    <th width="15%">
                                                @L["Measurement"]<br>
                        <abp-select asp-for="@Model.CreateUpdateContainerHawb.PackageMeasureUnit" suppress-label="true" asp-items="@Model.UnitTypeLookupList"></abp-select>
                    </th>
                    <th style="white-space: nowrap">P.O. No.</th>
                </tr>
                <tbody id="htrtbody">
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="radio" name="SurplusType" /></td>
                        <td>集裝箱總數</td>
                        <td><input type="text" class="form-control" value="" readonly /></td>
                        <td><input type="text" class="form-control" value="" readonly /></td>
                        <td><input type="text" class="form-control" value="" readonly /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="align-items:center"><input type="radio" name="SurplusType" checked /></td>
                        <td>手動輸入總數</td>
                        <td><abp-input type="text" class="form-control" suppress-label="true" asp-for="CreateUpdateContainerHawb.PackageNum" /></td>
                        <td><abp-input type="text" class="form-control" suppress-label="true" asp-for="CreateUpdateContainerHawb.PackageWeight" /></td>
                        <td><abp-input type="text" class="form-control" suppress-label="true" asp-for="CreateUpdateContainerHawb.PackageMeasure" /></td>
                        <td></td>

                    </tr>
                </tfoot>
            </abp-table>

        </abp-column>
    </abp-row>
    <abp-row>
        <abp-column size-md="_12" class="table-responsive">
            <div>
                商品 / 艙單商品
                <abp-button class="btn btn-success me-md-2" type="button" id="addCommodityBtn" onclick="onAddCommodity()">+</abp-button>
                <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteCommodityBtn" onclick="onRemoveCommodity()">delete</abp-button>
            </div>
            <abp-table width="100%" border="1">
                <tr>
                    <th width="5%"></th>
                    <th width="15%">商品描述</th>
                    <th width="15%">包裝種類</th>
                    <th width="10%">HTS代碼</th>
                    <th width="5%">件數</th>
                    <th width="5%">淨重</th>
                    <th width="5%">毛重</th>
                    <th width="10%">單價</th>
                    <th width="5%">金額</th>
                    <th width="10%">商品詳情</th>
                    <th width="15%">集裝箱</th>
                </tr>
                <tbody id="commodityBody">
                </tbody>

            </abp-table>
        </abp-column>
    </abp-row>
    <abp-row class="mt-3">
        <abp-column size-md="_6">
            <label for="t1">@L["Display:Mark"]</label>
            <textarea id="t1" name="OceanExportHbl.Mark" class="form-control">@Model.OceanExportHbl.Mark</textarea>
        </abp-column>
        <abp-column size-md="_6">
            <div>
                <div class="pull-left"><h7 class="form-section">Description</h7></div>
                <div class="pull-right">
                    <div class="_font-12 inline-block">Copy: </div>
                    <div class="btn-group">
                        <abp-button id="btnPO" onclick="addPONumberForDescription()" size="Small" abp-border="Default" disabled="true">@L["P.O"]</abp-button>
                        <abp-button id="btnCommodity" onclick="addCommodityForDescription()" size="Small" abp-border="Default" disabled="true">@L["Commodity"]</abp-button>
                        <abp-button id="btnCommodityHTS" onclick="addCommodityHTSForDescription()" size="Small" abp-border="Default" disabled="true">@L["CommodityAndHTS"]</abp-button>
                    </div>
                </div>
            </div>
            <textarea id="oceanExportHblDescription" onkeyup="onHblDescriptionChange()" name="OceanExportHbl.Description" class="form-control">@Model.OceanExportHbl.Description</textarea>
        </abp-column>
    </abp-row>
    <abp-row>
        <abp-collum>
            <label for="t3">@L["BookingRemark"]</label>
            <textarea id="t3" name="OceanExportHbl.DomesticInstructions" class="form-control">@Model.OceanExportHbl.DomesticInstructions</textarea>
        </abp-collum>
    </abp-row>
</abp-card-body>
                    </abp-card>
<abp-row>
    <abp-column>
        <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button>
    </abp-column>
</abp-row>
                </div>
            </abp-column>
<abp-column size-md="_3">
    <div class="card-wrap">

        <button class="btn btn-block btn-add" type="button" id="addHBtn">
            <i class="fa-solid fa-plus"></i>@L["Btn:AddHbl"].Value
        </button>

        <div class="function-wrap">

            <div class="form">
                <div class="form-group">
                    <label for="cardOrderSet">卡片排序</label>
                    <select class="form-control  " id="cardOrderSet">
                        <option selected>請選擇</option>
                        <option value="建立日期">建立日期</option>
                        <option value="HB/L 號碼">HB/L 號碼</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="cardOrder">Preference</label>
                    <select class="form-control " id="cardOrder">
                        <option selected>請選擇</option>
                        <option value="遞增">遞增</option>
                        <option value="遞減">遞減</option>
                    </select>
                </div>
                <fieldset class="form-group">
                    <legend class="col-form-label">卡片顯示</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                               id="inlineCheckbox1" value="option1">
                        <label class="form-check-label"
                               for="inlineCheckbox1">託運人與收貨人</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                               id="inlineCheckbox2" value="option2">
                        <label class="form-check-label"
                               for="inlineCheckbox2">名稱標籤</label>
                    </div>
                </fieldset>

                <button type="button" class="btn btn-dark btn-block btn-update">
                    <i class="fa-solid fa-arrows-rotate"></i>更新
                </button>
            </div>

        </div>

        <!--  <div class="anchor-wrap">-->

        <div id="hblCardDiv" class="cardAnchor">
                        @if (Model.OceanExportHbls != null)
                        {
                            foreach (var hbl in Model.OceanExportHbls)
                            {
                                var focusString = "";
                                if (Model.Hid == hbl.Id)
                                {
                                    focusString = " focus ";
                                }
                    <div class="borad-anchor  @hbl.CardColorValue @focusString">
                        <div class="borad-cont" onclick="changeHid('@Model.Id','@hbl.Id')">
                            <a class="link" href="#cardA"></a>
                            <span class="label label-HBL">HB/L</span>
                            <span class="MBLnumber">@hbl.HblNo</span>
                                        @hbl.SoNo
                            <a class="outlink" href="#" target="_blank">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                    </div>
                            }

                        }




        </div>
    </div>
    <div>
    </div>
</abp-column>
        </abp-row>
<input type="hidden" name="OceanExportHbl.Id" value="@Model.OceanExportHbl.Id" />
<input type="hidden" name="CreateUpdateContainerHawb.Id" value="@Model.CreateUpdateContainerHawb?.Id" />
    </form>

<div class="modal mymodal" id="ManifestModal" tabindex="-1" role="dialog">
</div>

</div>

<div class="modal" id="documentPackageModal">
</div>

<script>
    function getReportHblClauses() {
        myWindow = window.open("@Url.Action("HblClauses", "Docs")", 'HblClauses', 'width=1500,height=800');
        myWindow.focus()
    }
</script>