
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Reports
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.Reports.ProfitReportViewModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<style>
    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: gray;
        }

        .container{
           display:flex; /*一開始需要在父層宣告為 flex 才有效*/
        }
        ​
        .item-right, .item-center, .item-left{
         flex:1;
        }

    .w-10, .w-20, .w-100, .text-right, .text-center, .auto-font-size, textarea {
        font-size:10px;
    }
    .edit {
        background: #333 !important;
        padding-bottom: 20px !important
    }

    .nav {
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        border-bottom: 2px solid #111 !important;
        background: #222 !important;
        z-index: 1049 !important;
        text-align: center !important;
        font-size: 12px !important;
    }

    .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav ul li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.nav ul li button {
    width: 48px;
    height: 38px;
    background-size: 22px 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222;
    border: none;
    cursor: pointer;
    opacity: .5;
    transition: all ease-in .3s;
}

.view-setting {
    position: fixed;
    top: 8px;
    right: 10px;
    color: #c5c5c5;
}

.edit .wrap.landscape {
    width: 1056px;
}

.edit .wrap {
    width: 816px;
    margin: auto;
    background: #fff;
    padding: 20pt;
    position: relative;
    margin-top: 34px;
}

.header {
    font-size: 11px;
    padding: 15px 0;
}

.edit .wrap table {
    width: 100%;
    border-collapse: collapse;
}

.text-sm {
    font-size: 9px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

table tr {
    page-break-inside: avoid;
}

.margin-t {
    margin-top: 5px;
}

.text-bold {
    font-weight: 700;
}

.border-t {
    border-top: 0.25pt solid #000;
}

.td {
    vertical-align: top;
}

.text-center {
    text-align: center!important;
}

</style>
<link rel="stylesheet" href="@Url.Content("/Pages/Reports/Reports.css")" />
<script>
    var zoom = 1;
    $(document).ready(function(){
		$('#zin').on('click', function(){
			zoom += 0.1;
			$('#form').css('transform', 'scale(' + zoom + ')');
		});

		$('#zout').on('click', function(){
			zoom -= 0.1;
			$('#form').css('transform', 'scale(' + zoom + ')');
		});

        document.getElementById("reportLink").onclick = function() {
            document.getElementById("myForm").submit();
        }
    });

    function print()
    {
        document.getElementById("form").submit();
    }
</script>
<div id="main" class="edit">

    @if (!Model.IsPDF)
    {
        <div class="nav">
           <ul>
        
        <li>
            <button type="button" style="width:120px; color:white" onclick="print()"><i class="fa fa-print">儲存PDF或列印</i></button>
        </li>
       
    
    <li>
        
      <select disabled>
            <option value="en">English</option>
            <option value="zh-hans">简体中文 (Simplified Chinese)</option>
            <option value="zh-hant">繁體中文 (Traditional Chinese)</option>
    </select>
        
    </li><!-- end ngIf: vm.canSelectLanguage -->

    </ul>

        <div class="view-setting">
            <div class="btn-group">
                <button class="button btn btn-sm" title="Zoom Out" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"><i class="fa fa-search-minus"></i>
                </button>
                <button class="button btn btn-sm" title="Zoom In" data-toggle="tooltip" data-placement="bottom" data-trigger="hover"><i class="fa fa-search-plus"></i>
                </button>
            </div>
        </div>
    </div>
    }
    

    <form id="form" method="post">
    <input type="hidden" autocomplete="off">
    <input type="hidden" asp-for="@Model.PageType" />
    <input type="hidden" asp-for="@Model.ReportType" />
    <input type="hidden" asp-for="@Model.InvoicesJson" />
    <div class="wrap landscape">
        <div class="header">
            <div class="text-center">
                <h4 class="margin-0">PROFIT BY MAWB</h4>
            </div>
        </div>
        <div class="con oi-mbl-profit-detail">
                <table class="text-sm table-padding single-currency">
                    <tbody><tr>
                        <td class="w-6">POST DATE:</td>
                        <td class="w-14">@DateTime.Now.ToShortDateString()</td>
                        <td class="w-35"></td>
                        <td class="w-8"></td>
                        <td class="w-17"></td>
                        <td class="w-20 text-right">AIR EXPORT</td>
                    </tr>
                    <tr>
                        <td>CURRENCY:</td>
                        <td>@Model.Currency</td>
                        <td></td>
                        <td>PRINT OPTION:</td>
                        <td>DETAIL</td>
                        <td class="text-right">@DateTime.Now.ToShortDateString()</td>
                    </tr>
                </tbody></table>
            

            <table class="td table-padding text-bold margin-t border-t">
                    <tbody><tr class="text-sea text-12 col-bg-grey-light">
                        <td class="w-13 padding-t-xs">SALES :</td>
                        <td class="w-38 padding-t-xs">@Model.Sales</td>
                        <td class="w-12 padding-t-xs">CUSTOMER :</td>
                        <td class="w-37 padding-t-xs">@Model.Customer</td>
                    </tr>
                <tr>
                        <td class="w-13">CONTAINER COUNT :</td>
                        <td class="w-38"></td>
                    
                    <td class="w-12">P.O.R :</td>
                    <td class="w-37"></td>
                </tr>
                <tr>
                    <td>AGENT NAME :</td>
                    <td>11</td>
                    <td>P.O.L / ETD :</td>
                    <td>@Model.PolEtd</td>
                </tr>
                <tr>
                    <td>D.E.L :</td>
                    <td></td>
                    <td>P.O.D / ETA :</td>
                    <td>@Model.PodEtd</td>
                </tr>
                <tr>
                    
                    <td class="td">OP :</td>
                    <td class="td">@Model.Operator</td>
                    
                        <td class="td"></td>
                        <td class="td"></td>
                    
                </tr>
            </tbody></table>
            <table class="table-valign-top text-bold">
                <colgroup>
                    <col class="w-51">
                    <col class="w-49">
                </colgroup>
                <tbody><tr>
                    <td>
                        <table class="table-padding">
                            <colgroup>
                                <col class="w-25">
                                <col class="w-75">
                            </colgroup>
                            <tbody><tr>
                                <td>FILE NO. :</td>
                                <td>@Model.FileNo</td>
                            </tr>
                            <tr>
                                <td>MAWB NO. :</td>
                                <td>@Model.MawbNo</td>
                            </tr>
                            <tr>
                                <td>WEIGHT :</td>
                                <td>@Model.ChargableWeight</td>
                            </tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="table-padding">
                            <colgroup>
                                <col class="w-24">
                                <col class="w-76">
                            </colgroup>
                            <tbody><tr>
                                <td>SHIP MODE :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SERVICE TERM :</td>
                                <td></td>
                            </tr>
                            
                                <tr style="display:flex">
                                    <td>MEASUREMENT:</td>
                                    <td>@Model.Measurement</td>
                                </tr>
                            
                            
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tbody></table>
            <!--HBL group實線分隔-->
            <!--PMT是N的時候一樣保留check那個row-->
            
                <table class="text-sm table-padding single-currency">
                    <colgroup>
                        <col class="w-5"><!--type-->
                        <col class="w-13"><!--item descriptiom / BL No.-->
                        <col class="w-13"><!--invoce no-->
                        <col class="w-6"><!--volumn / company-->
                        <col class="w-6"><!--rate-->
                        <col class="w-6"><!--revenue-->
                        <col class="w-6"><!--cost-->
                        <col class="w-6"><!--debit-->
                        <col class="w-6"><!--credit-->
                        <col class="w-7"><!--invoice / post date-->
                        <col class="w-6"><!--AR Amount-->
                        <col class="w-6"><!--AP Amount-->
                        <col class="w-6"><!--DC Amount-->
                        <col class="w-8"><!--PMT-->
                    </colgroup>

                    <thead>
                        <tr class="border title-sm col-bg-grey">
                            <td class="text-center text-bold" rowspan="2">TYPE</td>
                            <td class="text-center" colspan="2">ITEM DESCRIPTION (HAWB NO)</td>
                            <td class="text-right">VOLUME</td>
                            <td class="text-right">RATE</td>
                            <td class="text-right">REVENUE</td>
                            <td class="text-right">COST</td>
                            <td class="text-right">DEBIT(+)</td>
                            <td class="text-right">CREDIT(-)</td>
                            <td class="text-center text-bold" rowspan="2">INV<br>POST DATE</td>
                            <td class="text-right text-bold" rowspan="2">A/R<br>AMOUNT</td>
                            <td class="text-right text-bold" rowspan="2">A/P<br>AMOUNT</td>
                            <td class="text-right text-bold" rowspan="2">D/C<br>AMOUNT</td>
                            <td class="text-center text-bold" rowspan="2">BALANCE | PMT</td>
                        </tr>
                        <tr class="border title-sm text-bold col-bg-grey">
                            <td>AWB NO</td>
                            <td>INV NO.</td>
                            <td colspan="6">COMPANY</td>
                        </tr>
                    </thead>
                     <tbody>

                         @foreach (var invoice in Model.Invoices)
                        {
                            @foreach (var invoiceBill in invoice.InvoiceBillDtos)
                            {
                                <tr class="text-sm">
                                    <td></td>
                                    <td colspan="2" class="td">@invoiceBill.Description</td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-md"><span>@invoiceBill.Quantity</span></div></td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-sm"><span>@invoiceBill.Rate</span></div></td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-md">
                                        <span>@(invoice.InvoiceType == 0? Convert.ToDecimal(invoiceBill.Quantity * invoiceBill.Rate).ToString("0.00") : 0)</span></div></td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-md">
                                        <span>@(invoice.InvoiceType == 1? Convert.ToDecimal(invoiceBill.Quantity * invoiceBill.Rate).ToString("0.00") : 0)</span></div></td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-md">
                                        <span>@(invoice.InvoiceType == 2? Convert.ToDecimal(invoiceBill.Quantity * invoiceBill.Rate).ToString("0.00") : 0)</span></div></td>
                                    <td class="td text-right"><div class="auto-font-size __width-count-md"><span>0.00</span></div></td>
                                    <td class="td" colspan="5"></td>
                                </tr>
                            }
                            
                            <tr class="text-bold">
                                <td class="td text-center">H</td>
                                <td class="td"><div class="auto-font-size __width-bl-no"><span>@Model.MawbNo</span></div></td>
                                <td class="td">
                                    <div class="auto-font-size __width-invoice">
                                        <span class="item-edit">
                                            <a href="/accounting/invoice/entry/289971/" target="_blank">@invoice.InvoiceNo</a>
                                        </span>
                                    </div>
                                </td>
                                <td colspan="6" class="td">@invoice.InvoiceCompanyName</td>
                                <td class="td text-center">@invoice.PostDate?.ToShortDateString()</td>
                                <td class="td text-right"><div class="auto-font-size __width-count-md"><span>
                                    @(invoice.InvoiceType == 0 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)
                                    </span></div></td>
                                <td class="td text-right"><div class="auto-font-size __width-count-md"><span>
                                    @(invoice.InvoiceType == 1 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)
                                    </span></div></td>
                                <td class="td text-right"><div class="auto-font-size __width-count-md"><span>
                                    @(invoice.InvoiceType == 2 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)
                                    </span></div></td>
                                <td class="td text-right"><div class="auto-font-size __width-balance inline-block">
                                    <span>@invoice.InvoiceBillDtos.Sum(c => c.Rate)</span></div> N</td>
                            </tr>
                            <tr class="border-b-grey">
                                <td colspan="3"></td>
                                <td colspan="7"></td>
                                <td class="text-right" colspan="4"> </td>
                            </tr>

                        }

            </tbody></table>

            
                <table class="text-bold bg-grey border table-padding-double single-currency">
                    <tbody><tr>
                        <td class="w-62">&nbsp;</td>
                        <td class="w-12 text-right">TOTAL</td>
                        <td class="w-6 text-right"><div class="auto-font-size __width-total"><span>@Model.ARTotal.ToString("0.00")</span></div></td>
                        <td class="w-6 text-right"><div class="auto-font-size __width-total"><span>@Model.APTotal.ToString("0.00")</span></div></td>
                        <td class="w-6 text-right"><div class="auto-font-size __width-total"><span>@Model.DCTotal.ToString("0.00")</span></div></td>
                        <td class="w-8">&nbsp;</td>
                    </tr>
                    <tr class="border-t">
                        <td>&nbsp;</td>
                        <td class="text-right">PROFIT</td>
                        <td class="text-right">USD</td>
                        <td class="text-right" colspan="2"><div class="auto-font-size __width-total-lg"><span>@Model.Total</span></div></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="border-t">
                        <td>&nbsp;</td>
                        <td class="text-right">BALANCE</td>
                        <td class="text-right"></td>
                        <td class="text-right" colspan="2"><div class="auto-font-size __width-total-lg"><span>@Model.Total</span></div></td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr class="border-t">
                        <td></td>
                        <td class="text-right">
                            <span class="item-edit">
                                <input type="checkbox" name="is_show_profit_percentage" hc-user-preference="acct_profit_mbl_is_show_profit_percentage" ng-model="vm.isShowProfitPercentage" id="id_is_show_profit_percentage" checked="" class="ng-untouched ng-valid ng-dirty ng-not-empty">
                            </span> PROFIT PERCENTAGE
                        </td>
                        <td class="text-right">@Convert.ToDouble((Model.Total * 100) / Model.APTotal).ToString("0.00") %</td>
                        <td colspan="3"></td>
                    </tr>
                    

                    
                    <tr class="border-t">
                        <td>&nbsp;</td>
                        <td class="text-right">
                            <span class="item-edit">
                                <input type="checkbox" name="is_show_profit_margin" hc-user-preference="acct_profit_mbl_is_show_profit_margin" ng-model="vm.isShowProfitMargin" id="id_is_show_profit_margin" checked="" class="ng-untouched ng-valid ng-dirty ng-not-empty">
                            </span>
                            PROFIT MARGIN
                        </td>
                        <td class="text-right"></td>
                        <td colspan="3"></td>
                    </tr>
                    

                </tbody></table>
            
        </div>
    </div>
</form>
</div>