4
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Reports
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.ImportExport.OceanExports.OceanExportDetails
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<style>
    .btn {
        background-color: black;
        border: none;
        /*color: white;*/
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: gray;
        }

        .container{
           display:flex; /*一開始需要在父層宣告為 flex 才有效*/
        }
        ​
        .item-right, .item-center, .item-left{
         flex:1;
        }

        .btn-sm, .btn-xs {
            padding: 4px 10px 5px 10px;
            font-size: 13px;
            line-height: 1.5;
        }

        body {
            background-color: #364150;
        }

        .edit .wrap {
    width: 816px;
    margin: auto;
    background: #fff;
    padding: 20pt;
    position: relative;
    margin-top: 34px;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #111;
    background: #222;
    z-index: 1049;
    text-align: center;
    font-size: 12px;
}
.edit {
    background: #333;
    padding-bottom: 20px;
}

.text-center {
    text-align: center!important;
}

.edit h5 {
    font-size: 12px;
}

.header h5 {
    font-size: 11px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 5px;
    font-weight: 400;
}

._padding-0 {
    padding: 0!important;
}

.text-grey {
    color: #757575;
}

.edit .wrap table {
    width: 100%;
    border-collapse: collapse;
}

.margin-b-sm {
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}
.col-bg-grey {
    background: silver;
    padding-top: 3px;
    padding-bottom: 0;
}
.w-10 {
    width: 10%;
}
.w-40 {
    width: 40%!important;
}
table td {
    padding: 0;
}
</style>
<script>
    $(document).ready(function () {
      $('#id_show_container_info').change(function () {

     if($("#id_show_container_info").prop("checked"))
     {         
         $('#container-table').show();
         $('.show_container').attr('rows', 19)
     }
     else
     {
         $('#container-table').hide();
         $('.show_container').attr('rows', 28)
     }
 });
    });
    
</script>
<abp-style src="/Pages/Reports/Reports.css" />
<script>
    var zoom = 1;
    $(document).ready(function(){

        document.getElementById('zin').onclick = function() {
            zoom += 0.1;
            document.getElementById('myForm').style.transform = 'scale('+zoom+')';
            document.getElementById('zout').disabled = false;
        }

        document.getElementById('zout').onclick = function() {
            if(zoom > 1){
                zoom -= 0.1;
                document.getElementById('myForm').style.transform = 'scale('+zoom+')';
            }
        }

        document.getElementById("reportLink").onclick = function() {
            document.getElementById("myForm").submit();
        }

        document.getElementById('chkCustomerRef').addEventListener('change', function(val){ 
            var display = (this.checked)? 'block' : 'none';
            document.getElementById('txtCustomerRef').style.display = display;
            document.getElementById('txtCustomerRef').style.marginLeft='40px';
        })
    });
</script>

@if (!Model.IsPDF)
        {
        <div class="nav">
           <ul>
                <li>
                    <button type="button" style="width:120px; color:white" id="reportLink"><i class="fa fa-print">儲存PDF或列印</i></button>
                </li>
            </ul>
            <div class="view-setting">
                <div class="btn-group">
                    <button class="button btn btn-sm" title="Zoom Out" id="zout" disabled="disabled"><i class="fa fa-search-minus"></i>
                    </button>
                    <button class="button btn btn-sm" title="Zoom In" id="zin"><i class="fa fa-search-plus"></i>
                    </button>
                </div>
            </div>
         </div>
    }

<form id="myForm" name="myForm" method="POST">
    <input type="hidden" asp-for="@Model.MblNo" />
    <input type="hidden" asp-for="@Model.PageType" />
    <input type="hidden" asp-for="@Model.MblOperatorName" />
    <input type="hidden" asp-for="@Model.PolName" />
    <input type="hidden" asp-for="@Model.PodName" />
    <input type="hidden" asp-for="@Model.PackageCategoryName" />
    <input type="hidden" asp-for="@Model.MblConsigneeName" />
    <input type="hidden" asp-for="@Model.FilingNo" />
    <input type="hidden" asp-for="@Model.MblNo" />
    <input type="hidden" asp-for="@Model.PackageWeightName" />
    <input type="hidden" asp-for="@Model.ShippingAgentName" />
    <input type="hidden" asp-for="@Model.PodEta" />
    <input type="hidden" asp-for="@Model.PolEtd" />
    <input type="hidden" asp-for="@Model.MblReferralByName" />
    
    <div id="main" class="edit">
     
        <div class="wrap">
            <div class="header">
                <div class="text-center">
                    <h4 class="margin-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PROFIT BY MASTER B/L</font></font></h4>
                </div>
            </div>
            <div>
                <table class="text-sm table-padding single-currency">
                    <tbody>
                        <tr>
                            <td style="width: 10%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">POST DATE</font></font></td>
                            <td style="width: 10%">@DateTime.Now.ToShortDateString()</td>
                            <td style="width: 35%"></td>
                            <td style="width: 15%"></td>
                            <td style="width: 10%"></td>
                            <td style="width: 20%; text-align: center">Air export</td>
                        </tr>
                        <tr style="border-bottom: 2pt solid #000">
                            <td style="width: 10%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CURRENCY</font></font></td>
                            <td style="width: 10%">USD</td>
                            <td style="width: 35%"></td>
                            <td style="width: 15%">PRINT OPTION</td>
                            <td style="width: 10%">SUMMARY</td>
                            <td style="width: 20%; text-align: center">@DateTime.Now.ToShortDateString()</td>
                        </tr>
                    </tbody>
                </table>

                <table class="td text-bold text-md">
                    <tbody>
                        <tr>
                            <td class="w-19" style="width: 20% !important">CONTAINER COUNT :</td>
                            <td class="w-35"></td>

                            <td class="w-12 col-padding">P.O.R:</td>
                            <td class="w-38 col-padding">@Model.PorName</td>
                        </tr>
                        <tr>
                            <td>AGENT NAME:</td>
                            <td>@Model.ShippingAgentName</td>
                            <td>P.O.L / ETD:</td>
                            <td> @string.Concat(@Model.PolName, " / ",  @Model.PolEtd.GetValueOrDefault().ToShortDateString())?.TrimStart('/')</td>
                        </tr>
                        <tr>
                            <td>D.E.L :</td>
                            <td>@Model.DelName</td>
                            <td>P.O.D / ETA :</td>
                            <td>@string.Concat(@Model.PodName, " / ",  @Model.PodEta.GetValueOrDefault().ToShortDateString())?.TrimStart('/')</td>
                        </tr>
                        <tr>
                            <td>CONTAINER NO:</td>
                            <td></td>
                            <td>OP :</td>
                            <td>@Model.MblOperatorName</td>
                            
                        </tr>
                        <tr>
                            <td>FILE NO:</td>
                            <td>@Model.FilingNo</td>
                            <td>SHIP MODE:</td>
                            <td>@Model.ShipModeName</td>
                        </tr>
                        <tr>
                            <td>MASTER B/L NO:</td>
                            <td>@Model.MblNo</td>
                            <td style="white-space:nowrap">SERVICE TERM:</td>
                            <td style="padding-left:20px">@string.Concat(@Model.SvcTermToName, "-",  @Model.SvcTermFromName)?.TrimStart('-')</td>
                        </tr>
                        <tr>
                            <td>WEIGHT:</td>
                            <td>@Model.PackageWeightName</td>
                            <td style="white-space:nowrap">MEASUREMENT :</td>
                            <td>@Model.PackageMeasureId</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="white-space:nowrap"><input type="checkbox" id="chkCustomerRef" asp-for="@Model.IsCustomerRef" /><label>CUSTOMER REF.</label></td>
                            <td><input id="txtCustomerRef" readonly @(Model.IsCustomerRef? "style=display:block;margin-left:40px" : "style=display:none") /></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table-padding single-currency text-md">
                    <colgroup>
                        <col class="w-5"><!-- type -->
                        <col class="w-25"><!-- BL No. -->
                        <col class="w-20"><!-- Company -->
                        <col class="w-10"><!-- Invoice Post Date -->
                        <col class="w-10"><!-- AR AMT -->
                        <col class="w-10"><!-- AP AMT -->
                        <col class="w-10"><!-- DC AMT -->
                        <col class="w-10"><!-- PMT / Balance -->
                    </colgroup>
                    <tbody><tr class="border title-sm text-bold bg-grey">
                        <td class="text-center" rowspan="2">TYPE</td>
                        <td class="text-left border-b">AWB NO</td>
                        <td class="text-left" rowspan="2">COMPANY</td>
                        <td class="text-center" rowspan="2">INV<br>POST DATE</td>
                        <td class="text-right" rowspan="2">A/R AMOUNT</td>
                        <td class="text-right" rowspan="2">A/P AMOUNT</td>
                        <td class="text-right" rowspan="2">D/C AMOUNT</td>
                        <td class="text-right border-b">PMT</td>
                    </tr>
                    <tr class="border title-sm text-bold bg-grey">
                        <td class="text-left">INV NO.</td>
                        <td class="text-right">Balance</td>
                    </tr>
                    <input type="hidden" asp-for="@Model.InvoicesJson" />
                        @foreach (var invoice in Model.Invoices)
                        {
                         <tr>
                            <td class="td text-center">H</td>
                            <td class="td">
                                <div class="auto-font-size __width-bl-no"> <span> @Model.MblNo</span></div>
                                <div class="auto-font-size __width-invoice">
                                    <span class="item-edit">
                                        <a href="/Accounting/Invoice?MethodType=3&MawbId=@invoice.MawbId&Hid=&InvoiceType=@invoice.InvoiceType&InvoiceId=@invoice.Id" target="_blank">@invoice.InvoiceNo</a>
                                    </span>
                                </div>
                            </td>
                            <td class="td" rowspan="1">@invoice.InvoiceCompanyName</td>
                            <td class="td text-center">@invoice.InvoiceDate?.ToShortDateString()</td>
                            
                            <td class="td text-center"><div class="auto-font-size __width-count">
                                <span>@(invoice.InvoiceType == 0 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)</span></div></td>
                            <td class="td text-center"><div class="auto-font-size __width-count">
                                <span>@(invoice.InvoiceType == 2 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)</span></div></td>
                            <td class="td text-center"><div class="auto-font-size __width-count"><span>
                                @(invoice.InvoiceType == 1 ? invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00") : 0)</span></div></td>
                            <td class="td text-right">
                                N
                                <div class="auto-font-size __width-balance"><span>@invoice.InvoiceBillDtos.Sum(c => (c.Rate * c.Quantity)).ToString("0.00")</span></div>
                            </td>
                        </tr>
                       }
                       <tr>
                           <td colspan="2">Express bill of landing</td>
                           <td colspan="4"></td>
                           <td colspan="2" class="text-right"></td>
                       </tr>
                    </tbody>
                </table>

                <table class="text-bold border bg-grey text-md table-padding single-currency">
                    <tbody>
                        <tr>
                            <td class="w-60"></td>
                            <td class="w-14 text-right">TOTAL</td>
                            <td class="w-7 text-right">@Model.ARTotal.ToString("0.00") <input type="hidden" asp-for="@Model.ARTotal" /></td>
                            <td class="w-7 text-right">@Model.APTotal.ToString("0.00") <input type="hidden" asp-for="@Model.APTotal" /></td>
                            <td class="w-7 text-right">@Model.DCTotal.ToString("0.00") <input type="hidden" asp-for="@Model.DCTotal" /></td>
                            <td class="w-5"></td>
                        </tr>
                        <tr class="border-t">
                            <td>&nbsp;</td>
                            <td class="text-right">PROFIT</td>
                            <td class="text-right">USD</td>
                            <td class="text-right" colspan="2">
                                <div class="auto-font-size __width-total-lg">
                                    <span>@Model.Total.ToString("0.00") <input type="hidden" asp-for="@Model.Total" /></span>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="border-t">
                            <td>&nbsp;</td>
                            <td class="text-right">BALANCE</td>
                            <td class="text-right"></td>
                            <td class="text-right" colspan="2"><div class="auto-font-size __width-total-lg"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.Total.ToString("0.00")</font></font></span></div></td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr class="border-t">
                        <td></td>
                        <td class="text-right">
                            <span class="item-edit">F
                                <input type="checkbox" name="is_show_profit_percentage" checked="">
                            </span> PROFIT PERCENTAGE
                        </td>
                        <td class="text-right">@Convert.ToDouble((Model.Total * 100) / Model.APTotal).ToString("0.00")%</td>
                        <td colspan="3"></td>
                    </tr>
                    

                    
                    <tr class="border-t">
                        <td>&nbsp;</td>
                        <td class="text-right">
                            <span class="item-edit">
                                <input type="checkbox" name="is_show_profit_margin" checked="">
                            </span>
                            PROFIT MARGIN
                        </td>
                        <td class="text-right"></td>
                        <td colspan="3"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
   
</form>