@using Dolphin.Freight.Web.CommonService;
@using Volo.Abp.Users
@using Dolphin.Freight.AirExports;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Web.Pages.Components;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@inject ICurrentUser _currentUser
@inject IDropdownService _dropdown
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@using Dolphin.Freight.AirImports;

@inject IStringLocalizer<FreightResource> L

<script>
    $('#checkboxHawbCancelled').change(function () {
        if (this.checked) {
            console.log("here");
            $("#HawbCancelledDate").removeAttr("disabled");
            $("#HawbCanceledBy").val($('#operator').val());
        } else {
            $("#HawbCancelledDate").attr("disabled", "disabled");
         //   $("#HawbCanceledBy").removeAttr("disabled");
            $("#HawbCanceledBy").val('');
        }
    })

</script>


<!-- HABL Card -->
<abp-card class="card board-item" id="hblCard">
    <!-- 標題區域 -->
    <abp-card-header style="background:#555555;color:#FFFFFF;">
        <abp-card-title>
            @{
                Model.Title = string.IsNullOrEmpty(Model.AirExportHawbDto.HawbNo) ? (_currentUser.Name + " " + _currentUser.SurName) : Model.AirExportHawbDto.HawbNo;
            }
            HAWB Information - @Model.Title
        </abp-card-title>
        <div class="btn-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                @L["Display:Function"]
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-lock"></i> @L["Btn:Lock"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-files-o"></i> @L["Btn:Copy"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-trash-o"></i> @L["Btn:Delete"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["GoFreight EDI"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-files-o"></i> @L["Btn:File Package"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Print MAWB"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Cargo Manifest (Comprehensive)"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Cargo Manifest (by agent)"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:S/O Confirmation"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:MAWB Packaging Label"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:All HAWB Packaging Labels"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label List"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Dispatch List"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Security Endorsement"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:On Hand Report"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Summary"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Detailed"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                </a>
            </div>
        </div>
        <button type="button" id="btnHawbCollapse" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hawbDiv" aria-expanded="true" aria-controls="hawbDiv">
        </button>
    </abp-card-header>
    <!-- Mawb資訊欄 -->
    <abp-card-body id="hawbDiv" class="card-body collapse show">
        <!--第一列-->
        <abp-row>
            <abp-input asp-for="@Model.Id" type="hidden" />
            <abp-input asp-for="@Model.AirExportHawbDto.Id" type="hidden" />
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.HawbNo" required size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.BookingNo" readonly="true">
                </abp-input>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.BookingDate" size="Small" type="text" abp-data-datepicker="false" readonly="true" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.ITNNo" size="Small" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <!--第二列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.QuotationId" size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ActualShippedr", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["ActualShippedr"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ActualShippedr) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Customer", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Customer"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Customer) })
                @*<abp-input asp-for="@Model.AirExportHawbDto.Customer" size="Small" />*@
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.BillTo" size="Small" />
            </abp-column>
        </abp-row>
        <!--第三列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["ConsigneeId"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ConsigneeId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Notify", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Notify"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Notify) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.IssuingCarrier", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["IssuingCarrier"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.IssuingCarrier) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.OverseaAgent", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["OverseaAgent"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.OverseaAgent) })
            </abp-column>
        </abp-row>
        <!--第四列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Trucker", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Trucker"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Trucker) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.Sales" label="@L["sales"].Value"  />
            </abp-column>
            <abp-column size-md="_3">
                <label asp-for="@Model.AirExportHawbDto.OPId" class="form-label">OP</label>
                <input class="form-control form-control-sm" id="operator" type="text" value="@(_currentUser.Name + " " + _currentUser.SurName)" disabled />
            </abp-column>
            <abp-column size-md="_3" class="align-self-center">
                <abp-input asp-for="@Model.AirExportHawbDto.SubAgentAwb" label="@L["subAgentawb"].Value" />
            </abp-column>
        </abp-row>
        <!--第五列-->
        <abp-row class="pb-5">
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DepartureId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Departure"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DepartureId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DestinationId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Destination"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DestinationId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoPickup", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "Truck Receipt", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoPickup) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DeliveryTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "Truck Delivery Place", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DeliveryTo) })
            </abp-column>
        </abp-row>
        <!--第六列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoType", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = @L["CargoType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoType) })
               @* <abp-input asp-for="@Model.AirExportHawbDto.CargoType" size="Small" label="@L["CargoType"].Value" />*@
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.SalesType", AspItems = Html.GetEnumSelectList(typeof(SalesType)).ToList(), IsShowLabel = true, FieldName = @L["SalesType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.SalesType) })
               @* <abp-input asp-for="@Model.AirExportHawbDto.SalesType" size="Small" label="@L["SalesType"].Value" />*@
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ShipType", AspItems = Html.GetEnumSelectList(typeof(ShipType)).ToList(), IsShowLabel = true, FieldName = @L["ShipType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ShipType) })
               @* <abp-input asp-for="@Model.AirExportHawbDto.ShipType" size="Small" label="@L["ShipType"].Value" />*@
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.FinalEta" size="Small" label="@L["FinalEta"].Value" />
            </abp-column>
        </abp-row>
        <!--第七列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.DVCarriage" size="Small"/>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.DVCustoms" size="Small" label="@L["DVCustoms"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>

                    <abp-column>
                        @L["WT/VAL"]
                        <abp-radio asp-for="@Model.AirExportHawbDto.WTVAL" asp-items="@Model.WtValOtherList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>

                    <abp-column>
                        @L["Other"]
                        <abp-radio asp-for="@Model.AirExportHawbDto.Other" asp-items="@Model.WtValOtherList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
        </abp-row>
        <!--第八列-->
        @*<abp-row>
        <abp-column size-md="_3">
        <abp-input asp-for="@Model.AirExportHawbDto.Insure" size="Small" />
        </abp-column>
        </abp-row>*@
        <!--Route區塊-->
        <!--第九列 Package, Weight Settings Area-->
        <abp-row>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@L["Package"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.Package" class="form-control"/></td>
                                    <td colspan="3">
                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.PackageUnitLookupList", AspItems = _dropdown.PackageUnitLookupList, FieldName = "PackageUnit", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.PackageUnit) })

                                    </td>
                                </tr>
                                <tr>
                                    <th>@L["BuyingRate"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.BuyingRate" class="form-control" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.BuyingRateUnit", AspItems = Html.GetEnumSelectList(typeof(RateUnitType)).ToList(), IsShowLabel = false, IsRequired = true, FieldName = @L["BuyingRateUnit"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.BuyingRateUnit) })
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>@L["SellingRate"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.SellingRate" class="form-control" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.SellingRateUnit", AspItems = Html.GetEnumSelectList(typeof(RateUnitType)).ToList(), IsShowLabel = false, IsRequired = true, FieldName = @L["SellingRateUnit"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.SellingRateUnit) })
                                    </td>
                                    <td></td> 
                                </tr>
                                <tr>
                                    <th>@L["VolumeWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeKG" class="form-control" /></td>
                                    <td>@L["KG"]</td>
                                    <td>
                                        <input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeLB" class="form-control" />
                                    </td>
                                    <td>@L["CBM"]</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td colspan="4"><abp-button size="Small" button-type="Primary" text="Set Dimensions" disabled="true" icon="pencil-square" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@L["KG"]</th>
                                    <th>@L["LB"]</th>
                                    <th>@L["Amount"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@L["GrossWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprKG" class="form-control" id="GrossWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprLB" class="form-control" id="GrossWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprAmount" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>@L["ChargeableWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprKG" class="form-control" id="ChargeableWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprLB" class="form-control" id="ChargeableWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprAmount" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>@L["AWBChargeableWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeKG" class="form-control" id="AwbChargeableWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeLB" class="form-control" id="AwbChargeableWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeAmount" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </abp-row>
        <!--第10列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Incoterms", AspItems = Html.GetEnumSelectList(typeof(IncotermsType)).ToList(), IsShowLabel = true, IsRequired = true, FieldName = @L["Incoterms"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Incoterms) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermStart", AspItems = Html.GetEnumSelectList(typeof(ServiceTermType)).ToList(), IsShowLabel = true, IsRequired = true, FieldName = @L["ServiceTermStart"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermStart) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermEnd", AspItems = Html.GetEnumSelectList(typeof(ServiceTermType)).ToList(), IsShowLabel = true, IsRequired = true, FieldName = @L["ServiceTermEnd"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermEnd) })
            </abp-column>
        </abp-row>
        <!--第11列 Awb取消Checkbox, IsEcom-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelled" id="checkboxHawbCancelled" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelledDate" class="form-select-sm form-control" value="1/1/11" disabled id="HawbCancelledDate" />
            </abp-column>
            <abp-column size-md="_3">
                <label class="" >CacelledBy</label>
                <input asp-for="@Model.AirExportHawbDto.CanceledBy" class="form-control form-control-sm" id="HawbCanceledBy" type="text" readonly />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ReasonForCancel", AspItems = Html.GetEnumSelectList(typeof(ReasonForCancelType)).ToList(), IsShowLabel = true, IsRequired = true, FieldName = @L["ReasonForCancel"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ReasonForCancel) })
              @*  <abp-input asp-for="@Model.AirExportHawbDto.ReasonForCancel" class="form-select-sm form-control" id="AwbCancelledDate" />*@
            </abp-column>
        </abp-row>


        <!--第12列 Awb取消Area-->
        <abp-row>
            <abp-column size-md="_12">
                <abp-input asp-for="@Model.AirExportHawbDto.PONo" id="AwbCancelledOpId" label="@L["PONo"].Value" />
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_2">
                <h3>@L["Commodity"]</h3>
            </abp-column>
            <abp-column size-md="_1">
                <button class="btn btn-success me-md-2" type="button" id="addCommodityBtn" data-busy-text="Processing...">+</button>
            </abp-column>
            <abp-column size-md="_1">
                <button class="btn btn-danger me-md-2" type="button" id="deleteBtn">-</button>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                        <thead border="1">
                        <th></th>
                        <th>@L["CommodityDescription"]</th>
                        <th>@L["HTSCode"]</th>
                        <th>@L["PONo"]</th>
                        </thead>
                        <tbody id="commodityBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_12">
                <h3>@L["WarhouseReceiptList"]</h3>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                    <thead border="1">
                    <th><input type="checkbox" />
                        <th>@L["ReceiptNo"]</th>
                        <th>@L["Length"]</th>
                        <th>@L["Width "]</th>
                        <th>@L["Height "]</th>
                        <th>@L["Dimention"]</th>
                        <th>@L["TOTALPCS"]</th>
                        <th>@L["AvailablePCS"]</th>
                        <th>@L["AllocatedPCS"]</th>
                        <th>@L["Unit"]</th>
                        <th>@L["GrossWeight"]</th>
                        <th>@L["Volume"]</th>
                        <th>@L["Measurement"]</th>
                    </th>
                    </thead>
                    <tbody id="warhouseBody">
                        <tr>
                            <td>Load from warhouse</td>
                            <td><input type="checkbox" />Auto-sync package, weight and measuremennts</td>
                            <td><input type="checkbox" />Auto-sync dimentions</td>
                        </tr>
                    </tbody>
                </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_6">
                <h3>@L["Mark"]</h3>
                <abp-input asp-for="@Model.AirExportHawbDto.Mark" />
            </abp-column>
            <abp-column size-md="_6">
                <h3>@L["NatureAndQuantityOfGoods"]</h3>
                <abp-input asp-for="@Model.AirExportHawbDto.NatureAndQuantityOfGoods" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <h3>@L["HandlingInformation"]</h3>
                <abp-input asp-for="@Model.AirExportHawbDto.HandlingInformation"  />
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_3">
                <h3> @L["OtherCharges"]</h3>
            </abp-column>
            <abp-column size-md="_1">
                <button class="btn btn-success me-md-2" type="button" id="addOtherChargesBodyBtn" data-busy-text="Processing...">+</button>
            </abp-column>
            <abp-column size-md="_1">
                <button class="btn btn-danger me-md-2" type="button" id="deleteOtherChargesBtn">-</button>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                        <thead border="1">
                        <th><input type="checkbox" /></th>
                        <th>@L["CarrierAgent"]</th>
                        <th>@L["Collect/Prepaid"]</th>
                        <th>@L["ChargeItem"]</th>
                        <th>@L["Description"]</th>
                        <th>@L["ChargeAmount"]</th>
                        </thead>
                        <tbody id="otherChargesBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column>
                <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                    @L["More"]
                </abp-card-header>
                <abp-card>
                    <abp-card-body>
                        <div class="table-responsive">
                            <abp-table>
                            <thead>
                            <th></th>
                                <th>@L["Valuation"]</th>
                                <th>  @L["Tax"]</th>
                                <th> @L["CurrencyConversionRate"]</th>
                                <th>@L["CCChargesinDestCurrency"]</th>
                                <th>@L["ChargesatDestination"]</th>
                            </thead>
                            <tbody>
                                <tr>
                                        <td> @L["Prepaid"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                        <td> @L["Collect"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                            </tbody>
                        </abp-table>
                        </div>
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>