@using Dolphin.Freight.Web.CommonService;
@using Volo.Abp.Users
@using Dolphin.Freight.AirExports;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Web.Pages.Components;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@inject ICurrentUser _currentUser
@inject IDropdownService _dropdown
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@using Dolphin.Freight.AirImports;

@inject IStringLocalizer<FreightResource> L

<script>

    $(document).ready(function () {
        if ($('#HawbCancelledDate').val() == '0001-01-01T00:00') {
            $('#HawbCancelledDate').val('');
        }
    });

    // Hawb Cancel Area
    $("#checkboxHawbCancelled").change(function () {
        if (this.checked) {
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = String(currentDate.getMonth() + 1).padStart(2, '0');
            var day = String(currentDate.getDate()).padStart(2, '0');
            var hours = String(currentDate.getHours()).padStart(2, '0');
            var minutes = String(currentDate.getMinutes()).padStart(2, '0');
            var formattedDateTime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
            $("#HawbCancelledDate").removeAttr("disabled").val(formattedDateTime);
            $("#HawbCanceledBy").attr("disabled", "disabled").val('@(_currentUser.Name + " " + _currentUser.SurName)');
            $("#AirExportHawbDto_ReasonForCancel").removeAttr("disabled");
        } else {
            $("#HawbCancelledDate").attr("disabled", "disabled").val('');
            $("#HawbCanceledBy").attr("disabled", "disabled").val('');
            $('#AirExportHawbDto_ReasonForCancel').val(null).trigger('change');
            $("#AirExportHawbDto_ReasonForCancel").attr("disabled", "disabled");
        }
    });

    function OpenInTrackTrace(){
        var url = new URL(window.location.href);
        var mawbId = url.searchParams.get('Id');
        dolphin.freight.importExport.airExports.airExportMawb.get(mawbId).done(function (res) {
            myWindow = window.open('https://www.track-trace.com/bol#' + res.mawbNo, '_blank', 'width=1200,height=1000');
            myWindow.focus();
        });
    }

    function getPackingListAirExportHawb() {
        myWindow = window.open("@Url.Action("PackagingListAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })", 'PackingListAirExportHawb', 'width=1200,height=800');
        myWindow.focus()
    }

    function ProfitReport(){
        var url = '@Url.Action("HawbProfitReport", "Docs", new { hawbId = Model.AirExportHawbDto.Id })';
        myWindow = window.open(url, "PROFIT BY HAWB", 'width=1200,height=800')
        myWindow.focus()
    }


    function DangerousGoods() {
        var url = '@Url.Action("DangerousGoods", "Docs", new { hawbId = Model.AirExportHawbDto.Id })';
        myWindow = window.open(url, "Dangerous Goods", 'width=1200,height=800')
        myWindow.focus()
       }
    
    function getCertificateOfOrigin() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("CertificateOfOriginAirExportHawb", "Docs")" + "?id=" + idNo, 'CertificateOfOrigin', 'width=1200,height=800');
        myWindow.focus()
    }
    function getPackageLabelAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("PackageLabelAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })", 'Empty', 'width=1200,height=800');
        myWindow.focus()
    }
    function getPreAlertAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("PreAlertAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
    function getPackageLabelListAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("PackageLabelListAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
    function getBankDraftAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("BankDraftAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
    function getPickupDeliveryOrderAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("PickupDeliveryOrderAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
    function getCommercialInvoiceAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("CommercialInvoiceAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
    function getBookingConfirmationAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("BookingConfirmationAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }

    function getCommercialInvoiceAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("CommercialInvoiceAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }

    function getHawbPrintAirExportHawb() {
        var idNo = '@Model.AirExportHawbDto.Id';
        myWindow = window.open("@Url.Action("HawbPrintAirExportHawb", "Docs")", 'width=1200,height=800');
        myWindow.focus()
    }
</script>


<!-- HABL Card -->
<abp-card class="card board-item" id="hblCard">
    <!-- 標題區域 -->
    <abp-card-header style="background:#555555;color:#FFFFFF;">
        <abp-card-title>
            @{
                Model.Title = string.IsNullOrEmpty(Model.AirExportHawbDto.HawbNo) ? (_currentUser.Name + " " + _currentUser.SurName) : Model.AirExportHawbDto.HawbNo;
            }
            HAWB Information - @Model.Title
        </abp-card-title>
        <div class="btn-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                @L["Display:Function"]
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-lock"></i> @L["Btn:Lock"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-files-o"></i> @L["Btn:Copy"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="deleteHawb()">
                    <i class="fa fa-trash-o"></i> @L["Btn:Delete"]
                </a>
                <p class="dropdown-divider"></p>
            @*    <a class='dropdown-item' href='#'>
                    <i class="fa fa-files-o"></i> @L["Btn:Document Package"]
                </a>*@
                <a class='dropdown-item' href='javascript:void(0)' onclick="getHawbPrintAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Print HAWB"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getCommercialInvoiceAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Commercial Invoice"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPackingListAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package List"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getCertificateOfOrigin()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Certdificate Of Origin"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getBookingConfirmationAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Booking Confirmation"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getBankDraftAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Bank Draft"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPackageLabelAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPackageLabelListAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label List"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPreAlertAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pre-Alert"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPickupDeliveryOrderAirExportHawb()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pickup/Delivery Order"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="DangerousGoods()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Dangerous Goods"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='javascript:void(0)' onclick="ProfitReport()">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='javascript:void(0)' onclick="OpenInTrackTrace()">
                    <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                </a>
            </div>
        </div>
        <button type="button" id="btnHawbCollapse" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hawbDiv" aria-expanded="true" aria-controls="hawbDiv">
        </button>
    </abp-card-header>
    <!-- Mawb資訊欄 -->
    <abp-card-body id="hawbDiv" class="card-body collapse show customForm">
        <!--第一列-->
        <abp-row>
            <abp-column size-md="_3">
                <label class="redStar" asp-for="AirExportHawbDto.HawbNo">@L["HawbNo"].Value</label>
                <abp-input asp-for="AirExportHawbDto.HawbNo" suppress-label="true" required size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.BookingNo" size="Small" >
                </abp-input>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.BookingDate" size="Small" class="form-select-sm form-control" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.ITNNo" size="Small" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <!--第二列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.QuotationId" size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ActualShippedr", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["ActualShippedr"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ActualShippedr) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Customer", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Customer"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Customer) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.BillTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["BillTo"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.BillTo) })
            </abp-column>
        </abp-row>
        <!--第三列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Receiver"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ConsigneeId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Notify", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Notify"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Notify) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.OverseaAgent", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["OverseaAgent"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.OverseaAgent) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.IssuingCarrier", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["IssuingCarrierId"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.IssuingCarrier) })
            </abp-column>
        </abp-row>
        <!--第四列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Trucker", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Trucker"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Trucker) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Sales", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Sales"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Sales) })
            </abp-column>
            <abp-column size-md="_3">
                <label asp-for="AirExportHawbDto.OPId" class="form-label"></label>
                <input class="form-control form-control-sm" id="operator" type="text" value="@(_currentUser.Name + " " + _currentUser.SurName)" disabled />
            </abp-column>
            <abp-column size-md="_3" class="align-self-center">
                <abp-input asp-for="@Model.AirExportHawbDto.SubAgentAwb" label="@L["subAgentawb"].Value" />
            </abp-column>
        </abp-row>
        <!--第五列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DepartureId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Departure"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DepartureId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DestinationId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Destination"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DestinationId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoPickup", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CargoPickup", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoPickup) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DeliveryTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "DeliveryTo", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DeliveryTo) })
            </abp-column>
        </abp-row>
        <!--第六列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoType", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = @L["CargoType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoType) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.SalesType", AspItems = Html.GetEnumSelectList(typeof(SalesType)).ToList(), IsShowLabel = true, FieldName = @L["SalesType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.SalesType) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ShipType", AspItems = Html.GetEnumSelectList(typeof(ShipType)).ToList(), IsShowLabel = true, FieldName = @L["ShipType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ShipType) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.FinalEta" size="Small" />
            </abp-column>
        </abp-row>
        <!--第七列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.DVCarriage" size="Small"/>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.DVCustoms" size="Small" label="@L["DVCustoms"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>

                    <abp-column>
                        @L["WT/VAL"]
                        <abp-radio asp-for="AirExportHawbDto.WTVAL" asp-items="@Model.WtValOtherList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>

                    <abp-column>
                        @L["Other"]
                        <abp-radio asp-for="@Model.AirExportHawbDto.Other" asp-items="@Model.WtValOtherList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
        </abp-row>
      
        <abp-row>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@L["Package"]</th>
                                    <td><input asp-for="AirExportHawbDto.Package" class="form-control form-control-sm"/></td>
                                    <td colspan="3">
                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.PackageUnitLookupList", AspItems = _dropdown.PackageUnitLookupList, FieldName = "PackageUnit", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.PackageUnit) })
                                    </td>
                                </tr>
                                <tr>
                                    <th>@L["BuyingRate"]</th>
                                    <td><input asp-for="AirExportHawbDto.BuyingRate" class="form-control form-control-sm" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        <abp-select asp-for="AirExportHawbDto.BuyingRateUnit" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>@L["SellingRate"]</th>
                                    <td><abp-input asp-for="AirExportHawbDto.SellingRate" suppress-label="true" size="Small" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        <abp-select asp-for="AirExportHawbDto.SellingRate" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                    </td>
                                    <td></td> 
                                </tr>
                                <tr>
                                    <th>@L["VolumeWeight"]</th>
                                    <td><input asp-for="AirExportHawbDto.ChargeableWeightCneeKG" class="form-control form-control-sm" /></td>
                                    <td>@L["KG"]</td>
                                    <td>
                                        <input asp-for="AirExportHawbDto.ChargeableWeightCneeLB" class="form-control form-control-sm" />
                                    </td>
                                    <td>@L["CBM"]</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td colspan="4"><abp-button size="Small" button-type="Primary" text="Set Dimensions" disabled="true" icon="pencil-square" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@L["KG"]</th>
                                    <th>@L["LB"]</th>
                                    <th>@L["Amount"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@L["GrossWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprKG" class="form-control form-control-sm" id="GrossWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprLB" class="form-control form-control-sm" id="GrossWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.GrossWeightShprAmount" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <th>@L["ChargeableWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprKG" class="form-control form-control-sm" id="ChargeableWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprLB" class="form-control form-control-sm" id="ChargeableWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprAmount" class="form-control form-control-sm" /></td>
                                </tr>
                                <tr>
                                    <th>@L["AWBChargeableWeight"]</th>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeKG" class="form-control form-control-sm" id="AwbChargeableWeightKg" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeLB" class="form-control form-control-sm" id="AwbChargeableWeightLb" /></td>
                                    <td><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeAmount" class="form-control form-control-sm" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </abp-row>
        <!--第10列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Incoterms", AspItems = _dropdown.IncotermsLookupList, IsShowLabel = true, FieldName = @L["Incoterms"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Incoterms) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermStart", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = @L["ServiceTermStart"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermStart) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermEnd", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true,  FieldName = @L["ServiceTermEnd"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermEnd) })
            </abp-column>
        </abp-row>
        <!--第11列 Awb取消Checkbox, IsEcom-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelled" id="checkboxHawbCancelled" />
            </abp-column>
        </abp-row>
        <abp-row>
            @if(Model.AirExportHawbDto.AWBCancelled == true)
            {
                <abp-column size-md="_3">
                    <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelledDate" class="form-select-sm form-control" id="HawbCancelledDate" />
                </abp-column>
                <abp-column size-md="_3">
                    <label class="">CancelledBy</label>
                    <input asp-for="@Model.AirExportHawbDto.CanceledBy" class="form-control form-control-sm" id="HawbCanceledBy" value="@(_currentUser.Name + " " + _currentUser.SurName)" type="text" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ReasonForCancel", AspItems = Html.GetEnumSelectList(typeof(ReasonForCancelType)).ToList(), IsShowLabel = true, IsRequired = false, FieldName = @L["ReasonForCancel"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ReasonForCancel) })
                </abp-column>
            }
            else
            {
                <abp-column size-md="_3">
                    <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelledDate" class="form-select-sm form-control" value="" id="HawbCancelledDate" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    <label class="">CancelledBy</label>
                    <input asp-for="@Model.AirExportHawbDto.CanceledBy" class="form-control form-control-sm" id="HawbCanceledBy" type="text" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ReasonForCancel", AspItems = Html.GetEnumSelectList(typeof(ReasonForCancelType)).ToList(), Disabled = "disabled", IsShowLabel = true, IsRequired = false, FieldName = @L["ReasonForCancel"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ReasonForCancel) })
                </abp-column>
            }
            
        </abp-row>


        <!--第12列 Awb取消Area-->
        <abp-row>
            <abp-column size-md="_12">
                <abp-input asp-for="AirExportHawbDto.PONo" id="AwbCancelledOpId" />
            </abp-column>
        </abp-row>
        <div class="mt-4 mb-2 d-flex">
            <h3 class="me-md-2">@L["Commodity"]</h3>
            <button class="btn btn-success me-md-2" type="button" id="addCommodityBtn" onclick="onAddCommodity()" data-busy-text="Processing...">+</button>
            <button class="btn btn-danger me-md-2" type="button" id="deleteBtn" onclick="onRemoveCommodity()">-</button>
        </div>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                        <thead border="1">
                        <th></th>
                        <th>@L["CommodityDescription"]</th>
                        <th>@L["HTSCode"]</th>
                        <th>@L["PONo"]</th>
                        </thead>
                        <tbody id="commodityBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_12">
                <h3>@L["WarhouseReceiptList"]</h3>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                    <thead border="1">
                    <th><input type="checkbox" />
                        <th>@L["ReceiptNo"]</th>
                        <th>@L["Length"]</th>
                        <th>@L["Width"]</th>
                        <th>@L["Height"]</th>
                        <th>@L["Dimention"]</th>
                        <th>@L["TOTALPCS"]</th>
                        <th>@L["AvailablePCS"]</th>
                        <th>@L["AllocatedPCS"]</th>
                        <th>@L["Unit"]</th>
                        <th>@L["GrossWeight"]</th>
                        <th>@L["Volume"]</th>
                        <th>@L["Measurement"]</th>
                    </th>
                    </thead>
                    <tbody id="warhouseBody">
                        <tr>
                                <td>@L["LoadFromWarehouse"]</td>
                                <td><input type="checkbox" />@L["ASPWM"]</td>
                                <td><input type="checkbox" />@L["AutoSyncDimentions"]</td>
                        </tr>
                    </tbody>
                </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_6">
                <h3>@L["Mark"]</h3>
                <abp-input asp-for="AirExportHawbDto.Mark" id="AirExportHawbDto_Mark" value="@Model.AirExportHawbDto.Mark" suppress-label="true" />
            </abp-column>
            <abp-column size-md="_6">
                <h3>@L["Description"]</h3>
                <abp-input asp-for="AirExportHawbDto.NatureAndQuantityOfGoods" suppress-label="true" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <h3>@L["HandlingInformation"]</h3>
                <abp-input asp-for="@Model.AirExportHawbDto.HandlingInformation" suppress-label="true" />
            </abp-column>
        </abp-row>
        <div class="mt-4 d-flex mb-2">
            <h3 class="me-md-2"> @L["OtherCharges"]</h3>
             <button class="btn btn-success me-md-2" type="button" id="addOtherChargesBodyBtn" onclick="onAddOtherCharges()" data-busy-text="Processing...">+</button>
            <button class="btn btn-danger me-md-2" type="button" id="deleteOtherChargesBtn" onclick="onRemoveOtherCharges()">-</button>
        </div>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table border="1" class="w-100">
                        <thead border="1">
                        <th></th>
                        <th>@L["CarrierAgent"]</th>
                        <th>@L["Collect/Prepaid"]</th>
                        <th>@L["ChargeItem"]</th>
                        <th>@L["Description"]</th>
                        <th>@L["ChargeAmount"]</th>
                        </thead>
                        <tbody id="otherChargesBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column>
                <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                    @L["More"]
                </abp-card-header>
                <abp-card>
                    <abp-card-body>
                        <div class="table-responsive">
                            <abp-table>
                            <thead>
                            <th></th>
                                <th>@L["Valuation"]</th>
                                <th>  @L["Tax"]</th>
                                <th> @L["CurrencyConversionRate"]</th>
                                <th>@L["CCChargesinDestCurrency"]</th>
                                <th>@L["ChargesatDestination"]</th>
                            </thead>
                            <tbody>
                                <tr>
                                        <td> @L["Prepaid"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                        <td> @L["Collect"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                            </tbody>
                        </abp-table>
                        </div>
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
        <abp-row class="d-none">
            <abp-column size="_12">
                <abp-input asp-for="@Model.Id" type="hidden" />
                <abp-input asp-for="AirExportHawbDto.ExtraProperties" value="@Json.Serialize(Model.AirExportHawbDto.ExtraProperties)" type="hidden" />
                <abp-input asp-for="@Model.AirExportHawbDto.Id" type="hidden" />
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>