@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Web.Pages.Shared.Memos;
@using Volo.Abp.Users
@using Dolphin.Freight.AirExports;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Web.Pages.Components;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@inject ICurrentUser _currentUser
@inject IDropdownService _dropdown
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@using Dolphin.Freight.AirImports;
@inject IStringLocalizer<FreightResource> L

@section styles {
    <style>
        .form-control + span {
            margin-left: 5px;
        }
    </style>
}
<abp-script src="/Pages/AirExports/AirExportHawb.js" />
<script>
    $(document).ready(function () {
        if ($('#HawbCancelledDate').val() == '0001-01-01T00:00') {
            $('#HawbCancelledDate').val('');
        }
        $('#HawbCancelledDate').removeAttr('type');

        if ($('#AirExportHawbDto\\.OtherRadioPPD').val() == '@Model.AirExportHawbDto.Other') {
            $('#AirExportHawbDto\\.OtherRadioPPD').prop('checked', true);
        } else if ($('#AirExportHawbDto\\.OtherRadioCOLL').val() == '@Model.AirExportHawbDto.Other') {
            $('#AirExportHawbDto\\.OtherRadioCOLL').prop('checked', true);
        }
    });

    // Hawb Cancel Area
    $("#checkboxHawbCancelled").change(function () {
        if (this.checked) {
            $('#HawbCancelledDate').removeAttr('type').datetimepicker({
                format: 'Y-m-d H:i',
                step: 15,
                allowInput: false,
                value: new Date()
            });

            let currentDate = $('#HawbCancelledDate').val();
            if (currentDate.includes('T')) {
                $('#HawbCancelledDate').val(currentDate.replace('T', ' '));
            }

            $("#HawbCancelledDate").removeAttr("disabled").val($('#HawbCancelledDate').val());
            $("#HawbCanceledBy").attr("disabled", "disabled").val('@(_currentUser.Name + " " + _currentUser.SurName)');
            $("#AirExportHawbDto_ReasonForCancel").removeAttr("disabled");
        } else {
            $("#HawbCancelledDate").attr("disabled", "disabled").val('');
            $("#HawbCanceledBy").attr("disabled", "disabled").val('');
            $('#AirExportHawbDto_ReasonForCancel').val(null).trigger('change');
            $("#AirExportHawbDto_ReasonForCancel").attr("disabled", "disabled");
        }
    });
    
    isHawbLocked;
</script>


<!-- HABL Card -->
<abp-card class="card board-item" id="hblCard">
    <!-- 標題區域 -->
    <abp-card-header style="background:#555555;color:#FFFFFF;">
        <abp-card-title class="col-9">
            @{
                Model.Title = string.IsNullOrEmpty(Model.AirExportHawbDto.HawbNo) ? (_currentUser.Name + " " + _currentUser.SurName) : Model.AirExportHawbDto.HawbNo;
            }
            HAWB @Model.Title
                     &nbsp;&nbsp;
            @if (Model.AirExportHawbDto.Customer != null)
            {
                     <span class="title-span">
                        
                     <i class="fa fa-users"></i>
                             @(Model.AirExportHawbDto.Customer!=null?"Customer: "+_dropdown.TradePartnerLookupList.Where(x=>x.Value==Model.AirExportHawbDto?.Customer).Select(x=>x.Text.Split('/')[0]).FirstOrDefault():"")
                             </span>
                         }
                             &nbsp;&nbsp;
                @if (Model.AirExportHawbDto.SalesId != null)
                {
                             <span class="title-span">
                                
                                 <i class="fa fa-user"></i>
                             @(Model.AirExportHawbDto.SalesId!=null?"Sales: "+_dropdown.TradePartnerLookupList.Where(x=>x.Value==Model.AirExportHawbDto?.SalesId.ToString()).Select(x=>x.Text.Split('/')[0]).FirstOrDefault():"")
                             </span>
                                  }
                             &nbsp;&nbsp;
                              @if(Model.AirExportHawbDto.CreatorId!=null){
                             <span class="title-span">
                                 <i class="fa fa-user"></i>
                    @(Model.AirExportHawbDto.CreatorId != null ? "OP: " + _dropdown.OperatorLookupList.Where(x => x.Value == Model.AirExportHawbDto?.CreatorId.ToString()).Select(x => x.Text.Split('/')[0]).FirstOrDefault() : "")
                            </span>
                              }
                        
        </abp-card-title>
        <div class="btn-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                 @if(@Model.AirExportHawbDto.IsLocked)
                                        {
                                            <i class="fa fa-lock"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-lock-open"></i>
                                        }
                @L["Display:Function"]
            </button>
            <input asp-for="@Model.AirExportHawbDto.IsLocked" type="hidden" />
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                 <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.setHawbLockUnlock('@Model.AirExportHawbDto.IsLocked')">
                    @if(@Model.AirExportHawbDto.IsLocked)
                    {
                        <i class="fa fa-lock-open"></i> @L["Btn:UnLock"]
                    }
                    else
                    {
                        <i class="fa fa-lock"></i> @L["Btn:Lock"]
                    }
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="copyHawb('@Model.AirExportHawbDto.Id', 'AirExportHawbDto_Id')">
                    <i class="fa fa-files-o"></i> @L["Btn:Copy"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="deleteHawb()">
                    <i class="fa fa-trash-o"></i> @L["Btn:Delete"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='javascript:void(0)' onclick="DocumentPackage('@Url.Action("DocumentPackage", "Docs", new { id = Model.AirExportHawbDto.Id, pageType = Dolphin.Freight.Common.FreightPageType.AEHBL })')">
                    <i class="fa fa-files-o"></i> @L["Btn:Document Package"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getHawbPrintAirExportHawb('@Url.Action("HawbPrintAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Print HAWB"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getCommercialInvoiceAirExportHawb('@Url.Action("CommercialInvoiceAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Commercial Invoice"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getPackingListAirExportHawb('@Url.Action("PackagingListAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package List"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getCertificateOfOrigin('@Url.Action("CertificateOfOriginAirExportHawb", "Docs")', '@Model.AirExportHawbDto.Id')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Certdificate Of Origin"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getBookingConfirmationAirExportHawb('@Url.Action("BookingConfirmationAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Booking Confirmation"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getBankDraftAirExportHawb('@Url.Action("BankDraftAirExportHawb", "Docs", new { hawbId = @Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Bank Draft"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getPackageLabelAirExportHawb('@Url.Action("PackageLabelAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.getPackageLabelListAirExportHawb('@Url.Action("PackageLabelListAirExportHawb", "Docs")', '@Model.AirExportHawbDto.Id')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Package Label List"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPreAlertAirExportHawb('@Url.Action("PreAlertAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pre-Alert"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="getPickupDeliveryOrderAirExportHawb('@Url.Action("PickupDeliveryOrderAirExportHawb", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Pickup/Delivery Order"]
                </a>
                <a class='dropdown-item' href='javascript:void(0)' onclick="DangerousGoods('@Url.Action("DangerousGoods", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Dangerous Goods"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.ProfitReport('@Url.Action("HawbProfitReport", "Docs", new { hawbId = Model.AirExportHawbDto.Id })')">
                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='javascript:void(0)' onclick="AirExportHawb.OpenInTrackTrace()">
                    <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                </a>
            </div>
        </div>
        <button type="button" id="btnHawbCollapse" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hawbDiv" aria-expanded="true" aria-controls="hawbDiv">
        </button>
    </abp-card-header>
    <!-- Mawb資訊欄 -->
    <abp-card-body id="hawbDiv" class="card-body collapse show customForm">
        <!--第一列-->
        <abp-row>
            <abp-column size-md="_3">
                <label class="" asp-for="AirExportHawbDto.HawbNo">@L["HawbNo"].Value</label>
                <abp-input asp-for="AirExportHawbDto.HawbNo" suppress-label="true" size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.BookingNo" size="Small" >
                </abp-input>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.BookingDate" size="Small" class="form-select-sm form-control" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.ITNNo" size="Small" type="text" abp-data-datepicker="false" />
            </abp-column>
        </abp-row>
        <!--第二列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.QuotationId" size="Small" />
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ActualShippedr", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["ActualShippedr"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ActualShippedr) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Customer", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Customer"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Customer) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.BillTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["BillTo"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.BillTo) })
            </abp-column>
        </abp-row>
        <!--第三列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Receiver"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ConsigneeId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Notify", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Notify"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Notify) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.OverseaAgent", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["OverseaAgent"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.OverseaAgent) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.IssuingCarrier", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["IssuingCarrierId"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.IssuingCarrier) })
            </abp-column>
        </abp-row>
        <!--第四列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Trucker", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Trucker"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Trucker) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.SalesId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = @L["Sales"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.SalesId) })
            </abp-column>
            <abp-column size-md="_3">
                <label asp-for="AirExportHawbDto.OPId" class="form-label"></label>
                <input class="form-control form-control-sm" id="operator" type="text" value="@(_currentUser.Name + " " + _currentUser.SurName)" disabled />
            </abp-column>
            <abp-column size-md="_3" class="align-self-center">
                <abp-input asp-for="@Model.AirExportHawbDto.SubAgentAwb" label="@L["subAgentawb"].Value" />
            </abp-column>
        </abp-row>
        <!--第五列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DepartureId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Departure"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DepartureId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DestinationId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = @L["Destination"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DestinationId) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoPickup", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CargoPickup", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoPickup) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.DeliveryTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "DeliveryTo", ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.DeliveryTo) })
            </abp-column>
        </abp-row>
        <!--第六列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.CargoType", AspItems = _dropdown.CargoTypeLookupList, IsShowLabel = true, FieldName = @L["CargoType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.CargoType) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.SalesType", AspItems = Html.GetEnumSelectList(typeof(SalesType)).ToList(), IsShowLabel = true, FieldName = @L["SalesType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.SalesType) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ShipType", AspItems = Html.GetEnumSelectList(typeof(ShipType)).ToList(), IsShowLabel = true, FieldName = @L["ShipType"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ShipType) })
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.FinalEta" abp-data-datepicker="false" size="Small" />
            </abp-column>
        </abp-row>
        <!--第七列-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.DVCarriage" size="Small"/>
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="AirExportHawbDto.DVCustoms" size="Small" label="@L["DVCustoms"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>
                    <abp-column>
                        @L["WT/VAL"]
                        <abp-radio asp-for="@Model.AirExportHawbDto.WTVAL" asp-items="@_dropdown.WtValOtherLookupList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
            <abp-column size-md="_3">
                <abp-row>
                    <abp-column>
                        @L["Other"]
                        <abp-radio asp-for="@Model.AirExportHawbDto.Other" asp-items="@_dropdown.OtherLookupList" inline="true" />
                    </abp-column>
                </abp-row>
            </abp-column>
        </abp-row>
      
        <abp-row>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="packageTable">@L["Package"]</th>
                                    <td><input asp-for="AirExportHawbDto.Package" class="form-control form-control-sm"/></td>
                                    <td colspan="3">
                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.PackageUnit", AspItems = _dropdown.PackageUnitLookupList, FieldName = "PackageUnit", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.PackageUnit) })
                                    </td>
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["BuyingRate"]</th>
                                    <td><input asp-for="AirExportHawbDto.BuyingRate" class="form-control form-control-sm" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        <abp-select asp-for="AirExportHawbDto.BuyingRateUnit" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["SellingRate"]</th>
                                    <td><abp-input asp-for="AirExportHawbDto.SellingRate" suppress-label="true" size="Small" /></td>
                                    <td>@L["per"]</td>
                                    <td>
                                        <abp-select asp-for="AirExportHawbDto.SellingRate" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                    </td>
                                    <td></td> 
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["VolumeWeight"]</th>
                                    <td><input asp-for="AirExportHawbDto.VolumeWeightKG" class="form-control form-control-sm" /></td>
                                    <td>@L["KG"]</td>
                                    <td>
                                        <input asp-for="AirExportHawbDto.VolumeWeightCBM" class="form-control form-control-sm" />
                                    </td>
                                    <td>@L["CBM"]</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td colspan="4"><abp-button size="Small" button-type="Primary" text="@L["SetDimensions"]" onclick="checkforId()" icon="pencil-square" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-7 pl-0 grossWeightTable">
                        <table class="table table-borderless">
                            @*<thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>*@
                            <br />
                            <tbody>
                                <tr>
                                    <th class="packageTable">@L["GrossWeight(SHPR)"]</th>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightShprKG" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'KG')" /><span>@L["KG"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightShprLB" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'LB')" /><span>@L["LB"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightShprAmount" class="form-control form-control-sm mr-1" /><span>@L["Amount"]</span></div></td>
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["GrossWeight(CNEE)"]</th>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightCneeKG" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'KG')" /><span>@L["KG"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightCneeLB" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'LB')" /><span>@L["LB"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.GrossWeightCneeAmount" class="form-control form-control-sm mr-1" /><span>@L["Amount"]</span></div></td>
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["ChargeableWeight(SHPR)"]</th>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprKG" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'KG')" /><span>@L["KG"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprLB" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'LB')" /><span>@L["LB"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightShprAmount" class="form-control form-control-sm mr-1" /><span>@L["Amount"]</span></div></td>
                                </tr>
                                <tr>
                                    <th class="packageTable">@L["ChargeableWeightCNEE"]</th>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeKG" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'KG')" /><span>@L["KG"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeLB" class="form-control form-control-sm mr-1" onkeyup="AirExportHawb.KgLbConversion(event, 'LB')" /><span>@L["LB"]</span></div></td>
                                    <td><div class="d-flex align-items-center"><input asp-for="@Model.AirExportHawbDto.ChargeableWeightCneeAmount" class="form-control form-control-sm mr-1" /><span>@L["Amount"]</span></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </abp-row>
        <!--第10列-->
        <abp-row>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.Incoterms", AspItems = _dropdown.IncotermsLookupList, IsShowLabel = true, FieldName = @L["Incoterms"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.Incoterms) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermStart", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true, FieldName = @L["ServiceTermStart"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermStart) })
            </abp-column>
            <abp-column size-md="_3">
                @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ServiceTermEnd", AspItems = _dropdown.SvgTermLookupList, IsShowLabel = true,  FieldName = @L["ServiceTermEnd"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ServiceTermEnd) })
            </abp-column>
        </abp-row>
        <!--第11列 Awb取消Checkbox, IsEcom-->
        <abp-row>
            <abp-column size-md="_3">
                <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelled" id="checkboxHawbCancelled" />
            </abp-column>
        </abp-row>
        <abp-row>
            @if(Model.AirExportHawbDto.AWBCancelled == true)
            {
                <abp-column size-md="_3">
                    <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelledDate" class="form-select-sm form-control" id="HawbCancelledDate" abp-data-datepicker="false" />
                </abp-column>
                <abp-column size-md="_3">
                    <label class="">CancelledBy</label>
                    <input asp-for="@Model.AirExportHawbDto.CanceledBy" class="form-control form-control-sm" id="HawbCanceledBy" value="@(_currentUser.Name + " " + _currentUser.SurName)" type="text" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ReasonForCancel", AspItems = Html.GetEnumSelectList(typeof(ReasonForCancelType)).ToList(), IsShowLabel = true, IsRequired = false, FieldName = @L["ReasonForCancel"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ReasonForCancel) })
                </abp-column>
            }
            else
            {
                <abp-column size-md="_3">
                    <abp-input asp-for="@Model.AirExportHawbDto.AWBCancelledDate" class="form-select-sm form-control" value="" id="HawbCancelledDate" abp-data-datepicker="false" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    <label class="">CancelledBy</label>
                    <input asp-for="@Model.AirExportHawbDto.CanceledBy" class="form-control form-control-sm" id="HawbCanceledBy" type="text" disabled />
                </abp-column>
                <abp-column size-md="_3">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "AirExportHawbDto.ReasonForCancel", AspItems = Html.GetEnumSelectList(typeof(ReasonForCancelType)).ToList(), Disabled = "disabled", IsShowLabel = true, IsRequired = false, FieldName = @L["ReasonForCancel"], ShowFiledContentValue = Convert.ToString(Model.AirExportHawbDto.ReasonForCancel) })
                </abp-column>
            }
            
        </abp-row>


        <!--第12列 Awb取消Area-->
        <abp-row>
            <abp-column size-md="_12">
                <abp-input asp-for="AirExportHawbDto.PONo" id="AwbCancelledOpId" />
            </abp-column>
        </abp-row>
        <div class="mt-4 mb-2 d-flex">
            <h3 class="me-md-2">@L["Commodity"]</h3>
            <button class="btn btn-success me-md-2" type="button" id="addCommodityBtn" onclick="onAddCommodity()" data-busy-text="Processing...">+</button>
            <button class="btn btn-danger me-md-2" type="button" id="deleteBtn" onclick="onRemoveCommodity()">-</button>
        </div>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table class="nowrap" border="1" class="w-100">
                        <thead border="1">
                        <th></th>
                        <th>@L["CommodityDescription"]</th>
                        <th>@L["HTSCode"]</th>
                        <th>@L["PONo"]</th>
                        </thead>
                        <tbody id="commodityBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_12">
                <h3>@L["WarhouseReceiptList"]</h3>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table class="nowrap" border="1" class="w-100">
                    <thead border="1">
                    <th><input type="checkbox" />
                        <th>@L["ReceiptNo"]</th>
                        <th>@L["Length"]</th>
                        <th>@L["Width"]</th>
                        <th>@L["Height"]</th>
                        <th>@L["Dimention"]</th>
                        <th>@L["TOTALPCS"]</th>
                        <th>@L["AvailablePCS"]</th>
                        <th>@L["AllocatedPCS"]</th>
                        <th>@L["Unit"]</th>
                        <th>@L["GrossWeight"]</th>
                        <th>@L["Volume"]</th>
                        <th>@L["Measurement"]</th>
                    </th>
                    </thead>
                    <tbody id="warhouseBody">
                        <tr>
                                <td>@L["LoadFromWarehouse"]</td>
                                <td><input type="checkbox" />@L["ASPWM"]</td>
                                <td><input type="checkbox" />@L["AutoSyncDimentions"]</td>
                        </tr>
                    </tbody>
                </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column size-md="_6">
                <h3>@L["Mark"]</h3>
                <textarea asp-for="AirExportHawbDto.Mark" id="AirExportHawbDto_Mark" name="AirExportHawbDto.Mark" class="form-control">@Model.AirExportHawbDto.Mark</textarea>
               @*  <abp-input asp-for="AirExportHawbDto.Mark" id="AirExportHawbDto_Mark" value="@Model.AirExportHawbDto.Mark" suppress-label="true" /> *@
            </abp-column>
            <abp-column size-md="_6">
                <h3>@L["Description"]</h3>
                 <textarea asp-for="AirExportHawbDto.NatureAndQuantityOfGoods" id="AirExportHawbDto_NatureAndQuantityOfGoods" name="AirExportHawbDto.NatureAndQuantityOfGoods" class="form-control">@Model.AirExportHawbDto.NatureAndQuantityOfGoods</textarea>
               @*  <abp-input asp-for="AirExportHawbDto.NatureAndQuantityOfGoods" suppress-label="true" /> *@
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                <h3>@L["HandlingInformation"]</h3>
                   <textarea asp-for="AirExportHawbDto.HandlingInformation" id="AirExportHawbDto_HandlingInformation" name="AirExportHawbDto.HandlingInformation" class="form-control">@Model.AirExportHawbDto.HandlingInformation</textarea>
              
              @*   <abp-input asp-for="@Model.AirExportHawbDto.HandlingInformation" suppress-label="true" /> *@
            </abp-column>
        </abp-row>
        <div class="mt-4 d-flex mb-2">
            <h3 class="me-md-2"> @L["OtherCharges"]</h3>
             <button class="btn btn-success me-md-2" type="button" id="addOtherChargesBodyBtn" onclick="onAddOtherCharges()" data-busy-text="Processing...">+</button>
            <button class="btn btn-danger me-md-2" type="button" id="deleteOtherChargesBtn" onclick="onRemoveOtherCharges()">-</button>
        </div>
        <abp-row>
            <abp-column size-md="_12">
                <div class="table-responsive">
                    <abp-table class="nowrap" border="1" class="w-100">
                        <thead border="1">
                        <th></th>
                        <th>@L["CarrierAgent"]</th>
                        <th>@L["Collect/Prepaid"]</th>
                        <th>@L["ChargeItem"]</th>
                        <th>@L["Description"]</th>
                        <th>@L["ChargeAmount"]</th>
                        </thead>
                        <tbody id="otherChargesBody">
                        </tbody>
                    </abp-table>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-4">
            <abp-column>
                <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                    @L["More"]
                </abp-card-header>
                <abp-card>
                    <abp-card-body>
                        <div class="table-responsive">
                            <abp-table class="nowrap">
                            <thead>
                            <th></th>
                                <th>@L["Valuation"]</th>
                                <th>  @L["Tax"]</th>
                                <th> @L["CurrencyConversionRate"]</th>
                                <th>@L["CCChargesinDestCurrency"]</th>
                                <th>@L["ChargesatDestination"]</th>
                            </thead>
                            <tbody>
                                <tr>
                                        <td class="packageTable"> @L["Prepaid"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                        <td class="packageTable"> @L["Collect"]</td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                            </tbody>
                        </abp-table>
                        </div>
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                <abp-card>
                    <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                        @L["Title:Memo"]
                    </abp-card-header>
                    <abp-card-body>
                        <partial name="Memos/_memo" model="new _MemoModel(Model.AirExportHawbDto.Id, Dolphin.Freight.Common.FreightPageType.AEHBL)" />
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
        <abp-row class="d-none">
            <abp-column size="_12">
                <abp-input asp-for="@Model.Id" type="hidden" />
                <abp-input asp-for="AirExportHawbDto.ExtraProperties" value="@Json.Serialize(Model.AirExportHawbDto.ExtraProperties)" type="hidden" />
                <abp-input asp-for="@Model.AirExportHawbDto.Id" type="hidden" />
                <abp-input asp-for="@Model.AirExportHawbDto.CurrentHawbNo" type="hidden" />
                <abp-input asp-for="@Model.AirExportHawbDto.HawbDimensionsJSON" type="hidden" value="@Convert.ToString(@Model.AirExportHawbDto?.ExtraProperties?.GetValueOrDefault("Dimensions"))" />
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>

<div class="modal fade" id="HCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Item</h5>
                <button type="button" class="close" onclick="$('#HCreateModal').modal('hide')" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="portlet-tool">
                    <div class="btn-group" role="group" aria-label="Basic outlined example" style="cursor: no-drop;">
                        <button type="button" class="btn btn-outline-success fa fa-plus" onclick="AirExportHawb.createNewDimension()" id="newDimensionBtn"></button>
                        <button type="button" class="btn btn-outline-danger fa fa-trash" onclick="AirExportHawb.deleteDimension()" id="HdeleteDimensionBtn" disabled></button>
                    </div>
                </div>

                <table class="table-responsive" width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                    <tr border="1" style="border-block-color:#333333;padding-left:10px;margin-left:4px;">
                        <th width="5%" style="background: #888888; color: #fff"><input type="checkbox" name="dimensionCheckbox" /></th>
                        <th width="20%" style="background: #888888; color: #fff">@L["Length"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["Width"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["Height"]</th>
                        <th width="15%" style="background: #888888; color: #fff">@L["PCS"]</th>
                        <th colspan="2" width="20%" style="text-align: center; background: #888888; color: #fff">@L["Volume"]</th>
                        <th colspan="2" width="20%" style="text-align: center; background: #888888; color: #fff">@L["Measurement"]</th>
                    </tr>
                    <tr border="1" style="border-block-color:#333333;padding-left:10px;margin-left:4px;">
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th width="10%">@L["KG"]</th>
                        <th width="10%">@L["LB"]</th>
                        <th width="10%">@L["CBM"]</th>
                        <th width="10%">@L["CFT"]</th>
                    </tr>
                    <tbody id="Hpopuptrtbody">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" align="right"><strong>Total:</strong></td>
                            <td id="HtotalPCS">0</td>
                            <td id="HtotalKG">0.00</td>
                            <td id="HtotalLB">0.00</td>
                            <td id="HtotalCBM">0.00</td>
                            <td id="HtotalCFT">0.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#HCreateModal').modal('hide')" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="HapplyDimensions">Apply</button>
            </div>
        </div>
    </div>
</div>

