@page
@using Dolphin.Freight.AirExports
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Web.Pages.Components;
@using Microsoft.Extensions.Localization
@using Volo.Abp.Users;
@model Dolphin.Freight.Web.Pages.AirExports.CreateMawbModel
@inject IStringLocalizer<FreightResource> L
@inject IDropdownService _dropdown;
@inject ICurrentUser _currentUser;
@section styles
    {
    <style>
        .redStar::before {
            content: "* ";
            color: red;
        }
    </style>
}
@section scripts
    {
    <abp-script src="/Pages/AirExports/CreateMawb.js" />
    <script src="https://cdn.jsdelivr.net/npm/jquery-templates@1.0.0/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Awb Cancel Area
            $("#checkboxAwbCancelled").change(function () {
                if (this.checked) {
                    console.log("here");
                    $("#AwbCancelledDate").removeAttr("disabled");
                    $("#AwbCancelledOpId").removeAttr("disabled");
                    $("#ReasonForCancel").removeAttr("disabled");
                    $("#AwbCancelledDate").val(getDate());
                } else {
                    $("#AwbCancelledDate").attr("disabled", "disabled");
                    $("#AwbCancelledOpId").attr("disabled", "disabled");
                    $("#ReasonForCancel").attr("disabled", "disabled");
                    $("#AwbCancelledDate").val('');
                    $("#AwbCancelledOpId").val('');
                    $("#ReasonForCancel").val('');

                }
            });

            // Calculate Weight Kg to Lb
            $("#GrossWeightKg").on('keyup', function () {
                $("#GrossWeightLb").val(Math.round($("#GrossWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#AwbGrossWeightKg").on('keyup', function () {
                $("#AwbGrossWeightLb").val(Math.round($("#AwbGrossWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#ChargeableWeightKg").on('keyup', function () {
                $("#ChargeableWeightLb").val(Math.round($("#ChargeableWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#AwbChargeableWeightKg").on('keyup', function () {
                $("#AwbChargeableWeightLb").val(Math.round($("#AwbChargeableWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            // Calculate Weight Lb to Kg
            $("#GrossWeightLb").on('keyup', function () {
                $("#GrossWeightKg").val(Math.round($("#GrossWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#AwbGrossWeightLb").on('keyup', function () {
                $("#AwbGrossWeightKg").val(Math.round($("#AwbGrossWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#ChargeableWeightLb").on('keyup', function () {
                $("#ChargeableWeightKg").val(Math.round($("#ChargeableWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#AwbChargeableWeightLb").on('keyup', function () {
                $("#AwbChargeableWeightKg").val(Math.round($("#AwbChargeableWeightLb").val() * 0.45359237 * 100) / 100);
            });

            var commodityTemplate = $.template("#commodityTemplate");
        });

        $('#createForm').on('abp-ajax-success', function () {
            event.preventDefault();
            abp.message.success('Successfully saved.');
        });
        
        var chkIndex = 0;
        function onAddCommodity()
        {
            var newRowData = {
                chkIndex: chkIndex
            };

            var newRow = $('#commodityTemplate').tmpl(newRowData);

            $('#commodityBody').append(newRow);

            chkIndex += 1;

            resetCommodityIndex();
        }

        var chkOtherChargesIndex = 0;
        function onAddOtherCharges() {

            var newRowData = {
                chkIndex: chkOtherChargesIndex
            };

            var newRow = $('#otherChargesTemplate').tmpl(newRowData);

            $('#otherChargesBody').append(newRow);

            chkOtherChargesIndex += 1;

            resetOtherChargesIndex();
        }

        function onRemoveCommodity(){
            $('[name="chk_commodity"]:checked').each(function (i, elem) { 
                $(elem).closest('tr').remove();
            });

            resetCommodityIndex();
        }

        function onRemoveOtherCharges() {
            $('[name="chk_otherCharges"]:checked').each(function (i, elem) {
                $(elem).closest('tr').remove();
            });

            resetOtherChargesIndex();
        }

        function getDate() {
            var date = new Date();
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var yyyy = date.getFullYear();
            var todayDate = mm + "-" + dd + "-" + yyyy;
            return todayDate;
        }

        function createHawbCard() {
            let abpCard = '<div class="{{divClass}}"><div class="card-header pointer"><h5 class="card-title hblCardTitle" id="title_{{hawbNo}}"' +
                ' onclick="onHawbCardClick(event,{{hblCardId}})">{{hawbNo}}</h5>' +
                ' <button type="button" class="btn d-none btn-collapse collapsed btnHawbCardCollapse" data-val="{{index}}" data-bs-toggle="collapse" id="btnHawbCardCollapse_{{hawbNo}}" data-bs-target="#{{cardBodyId}}" aria-expanded="false" aria-controls="mawbDiv">' +
                ' <i class="fa fa-caret-down" style="color:#FFFFFF;"></i></button > </div><div class="card-body collapse" id="{{cardBodyId}}" style="min-height:150px !important"></div>';
            return abpCard;
        }

        function setHawbCardValues(abpcard, cardId, hawbNo, index) {
            let apbCardClass = 'card board-item hbl-sm-' + index;
            let cardBodyId = 'hawbCard_' + index;
            cardId = "'" + cardId + "'";

            hawbNo = hawbNo || index;

            abpcard = abpcard.replaceAll("{{divClass}}", apbCardClass);
            abpcard = abpcard.replaceAll("{{hawbNo}}", hawbNo);
            abpcard = abpcard.replaceAll("{{hblCardId}}", cardId);
            abpcard = abpcard.replaceAll("{{index}}", index);
            abpcard = abpcard.replaceAll("{{cardBodyId}}", cardBodyId);

            return abpcard;
        }

        function onHawbCardClick(e, hawbId) {
            var element = e.currentTarget || e.target || e.srcElement;
            var hawbNo = element.id.split('_')[1];

            if ($('#btnHawbCardCollapse_0').length && hawbNo != 0) {
                HAWBNO = hawbNo;
                showAlert(alertConfirmation, 'Continue');
            }
            else {

                var color = getComputedStyle(element.parentElement.parentElement).backgroundColor;

                if (!$('#btnHawbCardCollapse_' + hawbNo).attr('class').includes('collapsed')) {
                    $('.hblCardHawbNo').addClass('d-none');
                    $('#hblCard_' + hawbNo).removeClass('d-none');
                }
                else {

                    var ajaxParams = undefined;

                    Swal.fire({
                        title: 'Loading...',
                        didOpen: () => {
                            Swal.showLoading()
                        }
                    })

                    abp.ajax($.extend(true, {
                        url: abp.appPath + 'api/ImportExport/AirExportBasicHawb?Id=' + hawbId,
                        type: 'GET',
                        dataType: "html",
                    }, ajaxParams)).done(function (partial) {
                        $('#partialContainer').html('');
                        $('#partialContainer').html(partial);
                        setFilteredDropdown();
                        $('#hblCard').find('.card-header').attr('style', 'background:' + color + ';color:white');
                        window.location.href.toLowerCase().includes('createmawb') && $('#hblCard').find('#ActionDrop').hide();
                        Swal.clickCancel();
                    })

                    $('.btnHawbCardCollapse').each(function (i, e) {
                        let tempHawbNo = e.id.split('_')[1];
                        if (tempHawbNo == hawbNo) {
                            $('#btnHawbCardCollapse_' + hawbNo).click();
                        }
                        else {
                            $('#btnHawbCardCollapse_' + tempHawbNo).addClass('collapsed');
                            $('#btnHawbCardCollapse_' + tempHawbNo).attr('aria-expanded', 'false');
                            $('#hawbCard_' + i).removeClass('show');
                        }
                    })
                }
            }
        }

        function showAlert(funName, buttonName) {
            Swal.fire({
                icon: 'error',
                text: 'The data has not been saved, are you sure you want to ' + buttonName.toLowerCase() + '?',
                showCancelButton: true,
                confirmButtonText: buttonName,
            }).then(funName)
        }

        function alertConfirmation(result) {
            if (result.isConfirmed) {
                let indx = $('.hbl_sm_area').find('.card').length;
                $('#btnHawbCardCollapse_0').parent().parent().remove();
                if (HAWBNO) {
                    $('#title_' + HAWBNO).click()
                }
                else {
                    $('#hawbCard_' + (indx - 2)).parent().find('.card-title').click();
                }
            }
        }

        function alertConfirmation2() {
            $('#saveBtn').click();
        }

        $('#addHBtn').on('click', function () {
            if ($('#mawbDiv')[0].classList.contains('show')) {
                $('#btnMawbCollapse').click();
            }
            if ($('#btnHawbCardCollapse_0').length) {
                showAlert(alertConfirmation2, 'Store');
            }
            else {

                let hawbcard = createHawbCard();

                let index = $('.hbl_sm_area').find('.card').length;
                hawbcard = setHawbCardValues(hawbcard, '00000000-0000-0000-0000-000000000000', '0', index);

                $('#hblCards').append(hawbcard);

                setTimeout(() => {
                    $('.hblCardTitle')[index].click();
                }, 500);
            }
        })

        function resetCommodityIndex()
        {
            $('#commodityBody > tr').each(function (e, elem) {
                $(elem).find('td').each(function (a, aelem) {
                    var attrName = $(aelem).find('input').attr('name').replace(/[0-9]/, e);
                  
                    $(aelem).find('input').attr('name', attrName);
                    if ($(aelem).hasClass('d-none')) { 
                        var aelemVal = $(aelem).find('input').val(); 
                        $(aelem).find('input').val(aelemVal.replace(/[0-9]/, e)); 
                    }
                })
            })
        }

        function resetOtherChargesIndex() 
        {
            $('#otherChargesBody > tr').each(function (e, elem) {
                $(elem).find('td').each(function (a, aelem) {
                    var attrName = $(aelem).find('input').attr('name').replace(/[0-9]/, e);

                    $(aelem).find('input').attr('name', attrName);
                    if ($(aelem).hasClass('d-none')) {
                        var aelemVal = $(aelem).find('input').val();
                        $(aelem).find('input').val(aelemVal.replace(/[0-9]/, e));
                    }
                })
            })
        }
    </script>

    <!-- Define the template -->
    <script id="commodityTemplate" type="text/x-jQuery-tmpl">
        <tr>
          <td>
              <input type="checkbox" name="chk_commodity" id="chk_Commodity_${chkIndex}" />
          </td>
          <td><input type="text" name="AirExportHawbDto.Commodities[${chkIndex}].Description" id="desc_${chkIndex}" /></td>
          <td><input type="text" name="AirExportHawbDto.Commodities[${chkIndex}].HTSCode" id="htscode_${chkIndex}" /></td>
          <td><input type="text" name="AirExportHawbDto.Commodities[${chkIndex}].PONumber"  disabled /></td>
          <td class="d-none"><input type="hidden" name="AirExportHawbDto.Commodities[${chkIndex}].Id" value="commodity_${chkIndex}" id="hidden_Commodity_${chkIndex}" /></td>
        </tr>
    </script>

    <script id="otherChargesTemplate" type="text/x-jQuery-tmpl">
        <tr>
          <td>
              <input type="checkbox" name="chk_otherCharges" id="chk_OtherCharges_${chkIndex}" />
          </td>
          <td><input type="text" name="AirExportHawbDto.OtherCharges[${chkIndex}].CarrierAgent" id="desc_${chkIndex}" /></td>
          <td><input type="text" name="AirExportHawbDto.OtherCharges[${chkIndex}].CollectPaid" id="htscode_${chkIndex}" /></td>
          <td><input type="text" name="AirExportHawbDto.OtherCharges[${chkIndex}].ChargeItem" /></td>
          <td><input type="text" name="AirExportHawbDto.OtherCharges[${chkIndex}].Description"  /></td>
          <td><input type="text" name="AirExportHawbDto.OtherCharges[${chkIndex}].ChargeAmount"  /></td>
        </tr>
    </script>
}

<div class="page-header">
    <abp-breadcrumb>
        <abp-breadcrumb-item href="#" title=@L["Menu:Home"] />
        <abp-breadcrumb-item title=@L["Menu:AirExport"] />
        <abp-breadcrumb-item title=@L["Menu:AirExport.CreateMawb"] />
    </abp-breadcrumb>
    <nav class="submenu">
        <ol>
            <li class="menu-item">
                <a class="nav-link active" href="#">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item">
                <a class="nav-link disabled" href="#">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item">
                <a class="nav-link disabled" href="#">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <div class="board-wrap">
    <div class="board-wrap">
        <form abp-model="MawbModel" submit-button="true" data-ajaxForm="true" id="createForm">
            <abp-row>
                <abp-column size-md="_9" id="parentCard">
                    <!-- MBL Card-->
                    <abp-card border="Dark" id="mawbCard" style="margin-bottom: 1.2rem;">
                        <!-- 標題區域 -->
                        <abp-card-header style="background:#555555;color:#FFFFFF;">
                            <abp-card-title>
                                @L["MAWBInformation"]
                            </abp-card-title>

                            <button type="button" id="btnMawbCollapse" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#mawbDiv" aria-expanded="true" aria-controls="mawbDiv">
                            </button>
                        </abp-card-header>
                        <!-- Mawb資訊欄 -->
                        <abp-card-body class="collapse show" id="mawbDiv">
                            <!--第一列-->
                            <abp-row>
                                <abp-input asp-for="MawbModel.Id" type="hidden" />
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.FilingNo" readonly="true" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.MawbCarrierId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "MawbCarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.MawbCarrierId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.IssuingCarrierId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "IssuingCarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.IssuingCarrierId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.AwbType", AspItems = Html.GetEnumSelectList(typeof(AWBType)).ToList(), IsRequired = true, IsShowLabel = true, FieldName = "AwbType", ShowFiledContentValue = Convert.ToString(Model.MawbModel.AwbType) })
                                </abp-column>
                            </abp-row>
                            <!--第二列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label asp-for="MawbModel.MawbNo" class="redStar" >@L["MawbNo"].Value</label>
                                    <abp-input asp-for="MawbModel.MawbNo" size="Small" suppress-label="true" required />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.AwbDate" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.ItnNo" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.ShipperId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "ShipperId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.ShipperId) })
                                </abp-column>
                            </abp-row>
                            <!--第三列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.ConsigneeId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "ConsigneeId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.ConsigneeId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.NotifyId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "NotifyId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.NotifyId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.PostDate" size="Small" type="text" abp-data-datepicker="false" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.OfficeId", AspItems = _dropdown.SubstationLookupList, IsRequired = true, IsShowLabel = true, FieldName = "OfficeId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.OfficeId) })
                                    <span asp-validation-for="MawbModel.OfficeId" class="text-danger"></span>
                                </abp-column>
                            </abp-row>
                            <!--第四列-->
                            <abp-row>
                                <abp-column size-md="_3" class="align-self-center">
                                    <abp-input asp-for="MawbModel.IsDirectMaster" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.AwbAcctCarrierId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "AwbAcctCarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.AwbAcctCarrierId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.CoLoaderId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "CoLoaderId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.CoLoaderId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label asp-for="@Model.MawbModel.MawbOperatorId" class="form-label">@L["OP"]</label>
                                    <input class="form-control form-control-sm" type="text" value="@(_currentUser.Name + " " + _currentUser.SurName)" disabled />
                                </abp-column>
                            </abp-row>
                            <!--第五列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.DepatureId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "DepatureId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.DepatureId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label asp-for="MawbModel.DepatureDate" class="redStar form-label">@L["DepatureDate"]</label>
                                    <abp-input asp-for="MawbModel.DepatureDate" suppress-label="true" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.FlightNo" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3" class="align-self-center">
                                    <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseRoute" role="button" aria-expanded="false" aria-controls="collapseRoute">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                       @L["AddConnectingFlight"] 
                                    </a>
                                </abp-column>
                            </abp-row>
                            <!--第六列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.DestinationId", AspItems = _dropdown.PortsManagementLookupList, IsShowLabel = true, FieldName = "DestinationId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.DestinationId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.ArrivalDate" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.DVCarriage" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.DVCustomer" size="Small" />
                                </abp-column>
                            </abp-row>
                            <!--第七列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.Insurance" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.CarrierSpotNo" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-row>
                                        <abp-column>
                                            @L["WT/VAL"]
                                            <abp-radio asp-for="MawbModel.WtVal" asp-items="_dropdown.WtValOtherLookupList" inline="true" />
                                        </abp-column>
                                    </abp-row>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-row>
                                        <abp-column>
                                                @L["Other"]
                                            <abp-radio asp-for="MawbModel.Other" asp-items="_dropdown.WtValOtherLookupList" inline="true" />
                                        </abp-column>
                                    </abp-row>
                                </abp-column>
                            </abp-row>
                            <!--第八列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.DeliveryId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = true, FieldName = "DeliveryId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.DeliveryId) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.ShippingInfo" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.ShipperLoad" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.Sci" size="Small" />
                                </abp-column>
                            </abp-row>
                            <!--Route區塊-->
                                <abp-row>
                                <div class="collapse" id="collapseRoute">
                                    <div class="card card-body table-responsive">
                                        <h3>Route</h3>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Airport</th>
                                                    <th>Arrival Date/Time</th>
                                                    <th>Depature Date/Time</th>
                                                    <th>Flight No.</th>
                                                    <th>Carrier</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Trans1</th>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans1Id", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans1Id", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans1Id) })
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans1CarrierId", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans1CarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans1CarrierId) })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Trans2</th>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans2Id", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans2Id", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans2Id) })
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans2CarrierId", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans2CarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans2CarrierId) })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Trans3</th>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans3Id", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans3Id", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans3Id) })
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.RouteTrans3CarrierId", AspItems = _dropdown.AirportLookupList, IsShowLabel = false, FieldName = "RouteTrans3CarrierId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.RouteTrans3CarrierId) })
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </abp-row>
                            <!--第九列 Package, Weight Settings Area-->
                            <abp-row>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>@L["Package"]</th>
                                                        <td><input asp-for="MawbModel.Package" class="form-control form-control-sm" /></td>
                                                        <td colspan="3">
                                                            @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.PackageUnitLookupList", AspItems = _dropdown.PackageUnitLookupList, FieldName = "MawbPackageUnitId", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.MawbPackageUnitId) })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                            <th class="redStar">@L["BuyingRate"]</th>
                                                        <td><input asp-for="MawbModel.BuyingRate" class="form-control form-control-sm" /></td>
                                                        <td>@L["per"]</td>
                                                        <td>
                                                                <abp-select asp-for="MawbModel.BuyingRate" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                            <th class="redStar">@L["SellingRate"]</th>
                                                        <td><input asp-for="MawbModel.SellingRate" class="form-control form-control-sm" /></td>
                                                        <td>@L["per"]</td>
                                                        <td>
                                                                <abp-select asp-for="MawbModel.SellingRate" suppress-label="true" class="form-control-sm" asp-items="Html.GetEnumSelectList(typeof(RateUnitType))" />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                            <th>@L["VolumeWeight"]</th>
                                                        <td><input asp-for="MawbModel.VolumeWeightKg" class="form-control form-control-sm" /></td>
                                                        <td>@L["KG"]</td>
                                                        <td>
                                                                <input asp-for="MawbModel.VolumeWeightCbm" class="form-control form-control-sm" />
                                                        </td>
                                                        <td>@L["CBM"]</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td colspan="4"><abp-button size="Small" button-type="Primary" text="@L["SetDimensions"]" disabled="true" icon="pencil-square" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>@L["KG"]</th>
                                                        <th>@L["LB"]</th>
                                                        <th>@L["Amount"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>@L["GrossWeight"]</th>
                                                        <td><input asp-for="MawbModel.GrossWeightKg" class="form-control form-control-sm" id="GrossWeightKg" /></td>
                                                            <td><input asp-for="MawbModel.GrossWeightLb" class="form-control form-control-sm" id="GrossWeightLb" /></td>
                                                        <td><input asp-for="MawbModel.GrossWeightAmount" class="form-control" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th>@L["AwbGrossWeight"]</th>
                                                        <td><input asp-for="MawbModel.AwbGrossWeightKg" class="form-control form-control-sm" id="AwbGrossWeightKg" /></td>
                                                        <td><input asp-for="MawbModel.AwbGrossWeightLb" class="form-control form-control-sm" id="AwbGrossWeightLb" /></td>
                                                        <td><input asp-for="MawbModel.AwbGrossWeightAmount" class="form-control form-control-sm" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th>@L["ChargeableWeight"]</th>
                                                        <td><input asp-for="MawbModel.ChargeableWeightKg" class="form-control form-control-sm" id="ChargeableWeightKg" /></td>
                                                        <td><input asp-for="MawbModel.ChargeableWeightLb" class="form-control form-control-sm" id="ChargeableWeightLb" /></td>
                                                        <td><input asp-for="MawbModel.ChargeableWeightAmount" class="form-control form-control-sm" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th>@L["AwbChargeableWeight"]</th>
                                                        <td><input asp-for="MawbModel.AwbChargeableWeightKg" class="form-control form-control-sm" id="AwbChargeableWeightKg" /></td>
                                                        <td><input asp-for="MawbModel.AwbChargeableWeightLb" class="form-control form-control-sm" id="AwbChargeableWeightLb" /></td>
                                                            <td><input asp-for="MawbModel.AwbChargeableWeightAmount" class="form-control form-control-sm" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td colspan="3"><abp-button size="Small" button-type="Primary" text="@L["SunPackageWeight"]" disabled="true" icon="pencil-square" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </abp-row>
                            <!--第10列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.IncotermsType", AspItems = Html.GetEnumSelectList(typeof(IncotermsType)).ToList(), IsRequired = true, IsShowLabel = true, FieldName = "IncotermsType", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.IncotermsType) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.ServiceTermTypeFrom", AspItems = Html.GetEnumSelectList(typeof(ServiceTermType)).ToList(), IsRequired = true, IsShowLabel = true, FieldName = "ServiceTermTypeFrom", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.ServiceTermTypeFrom) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.ServiceTermTypeTo", AspItems = Html.GetEnumSelectList(typeof(ServiceTermType)).ToList(), IsRequired = true, IsShowLabel = true, FieldName = "ServiceTermTypeTo", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.ServiceTermTypeTo) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.DisplayUnit", AspItems = Html.GetEnumSelectList(typeof(DisplayUnitType)).ToList(), IsRequired = true, IsShowLabel = true, FieldName = "DisplayUnit", ShowFiledContentValue = Convert.ToString(Model.MawbModel.DisplayUnit) })
                                </abp-column>
                            </abp-row>
                            <!--第11列 Awb取消Checkbox, IsEcom-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.IsAwbCancelled" id="checkboxAwbCancelled" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.IsECom" />
                                </abp-column>
                            </abp-row>
                            <!--第12列 Awb取消Area-->
                            <abp-row>
                                <abp-column size-md="_3">
                                        <abp-input asp-for="MawbModel.AwbCancelledDate" size="Small" readonly="true" id="AwbCancelledDate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.AwbCancelledOpId" readonly="true" id="AwbCancelledOpId" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.ReasonForCancel", AspItems = _dropdown.CancelReasonLookupList, IsShowLabel = true, Disabled= "disabled", FieldName = "ReasonForCancel", SelectType = 0, ShowFiledContentValue = Convert.ToString(Model.MawbModel.ReasonForCancel) })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "MawbModel.BusinessReferredId", AspItems = _dropdown.CancelReasonLookupList, IsShowLabel = true, FieldName = "BusinessReferredId", ShowFiledContentValue = Convert.ToString(Model.MawbModel.BusinessReferredId) })
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <!-- HBL Card-->
                    <div id="partialContainer">
                    </div>
                </abp-column>
                <abp-column size-md="_3">
                    <div class="card-wrap">
                        <button class="btn btn-block btn-add" type="button" id="addHBtn">
                                <i class="fa-solid fa-plus"></i>@L["AddHAWB"]
                        </button>
                        <div id="hblCards" class="hbl_sm_area">
                        </div>
                    </div>
                </abp-column>
            </abp-row>
            <!-- 下方Save按鈕 -->
            <abp-row class="mt-3">
                <abp-column>
                        <abp-button class="btn btn-primary me-md-2 cursor-pointer" type="button" id="saveBtn">@L["Display:Button:Submit"]</abp-button>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    &nbsp;
                </abp-column>
            </abp-row>

        </form>
    </div>
</div>
