@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.CommonService;
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.Payment.IndexModel
@inject IStringLocalizer<FreightResource> L
@inject IDropdownService _dropdown 
@section scripts
    {
    <abp-script src="/Pages/Accounting/Payment/Payment/Index.js"></abp-script>
    <abp-script src="/Pages/Accounting/Inv/_InvoiceList.js"></abp-script>
    <script type="text/javascript">
        $(document).ready(function () {
                    var l = abp.localization.getResource('Freight');
                                       const ids = [
            "Payment_Clear",
            "Payment_Invalid",
            "Payment_ReleaseDate"
        ];

        ids.forEach(function (id) {
            let dateElem = $('#' + id);

            if (dateElem.length === 0) {
                return;
            }

            dateElem.removeAttr('type').datetimepicker({
                format: 'Y-m-d H:i',
                step: 15,
                allowInput: false
            });

            let currentVal = dateElem.val();
            if (currentVal.includes('T')) {
                dateElem.val(currentVal.replace('T', ' '));
            }
        });
    

    $(".cdatetime").change(function () {
        checkDateTime($(this).attr("id"), $(this).val())
    })
                    

                      if ('@Model.Payment.Clear' != null&&'@Model.Payment.Clear' != '') { 
            
             document.getElementById("Payment_Clear").disabled = false;
             document.getElementById("PDck").checked = true;

            }else{
            document.getElementById("Payment_Clear").disabled = true;
            }
            if ('@Model.Payment.Invalid' != null&&'@Model.Payment.Invalid' != '') {

              document.getElementById("Payment_Invalid").disabled = false;
                document.getElementById("PIck").checked = true;
                document.getElementById("PDck").disabled = true;
            } else {
           document.getElementById("Payment_Invalid").disabled = true;
            } 
                });
                function checkDateTime(id,checkdate )
{
    var startdate = '2023-02-01';
    var enddate = '2023-04-01';
    var d = checkdate.toString().split(" ");
    var checkIndex = 0;
    if (d.length == 2) {
        var d2 = d[0].split("-");
        if (d2.length == 3) {
            if (d2[0].length == 4 ) {
                var date1 = new Date(d2[0], d2[1], d2[3]);
                var date2 = new Date(startdate);
                var date3 = new Date(enddate);
                var dateCheck1 = date2 > date1;
                var dateCheck2 = date1 > date3;
                var dateCheck3 = date2.getTime() - date3.getTime();
                if (dateCheck1) checkIndex = 1;
                if (dateCheck2) checkIndex = 1;

            } else {
                checkIndex = 1;
            }
            
           
        } else {
            console.log("2");
            checkIndex = 1;
        }
    } else {
        console.log("1");
        checkIndex = 1;
    }
    if (checkIndex > 0) {
        var date = new Date(startdate);
        $("#" + id).val(startdate+" 00:00");
    }
}
        function PD_disable() {
            if(document.getElementById("Payment_Clear").disabled)
            {
                  var now = new Date();
                    var year = now.getFullYear();
                    var month = String(now.getMonth() + 1).padStart(2, '0');
                    var day = String(now.getDate()).padStart(2, '0');
                    var hours = String(now.getHours()).padStart(2, '0');
                    var minutes = String(now.getMinutes()).padStart(2, '0');

                    var formattedDate = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes;
                document.getElementById("Payment_Clear").disabled = false;
                 document.getElementById("Payment_Clear").value = formattedDate;
            }
            else
            {
                document.getElementById("Payment_Clear").disabled = true;
                document.getElementById("Payment_Clear").value = null;
            }
        }

        function PI_disable() {
            if(document.getElementById("Payment_Invalid").disabled)
            {
                var now = new Date();
                    var year = now.getFullYear();
                    var month = String(now.getMonth() + 1).padStart(2, '0');
                    var day = String(now.getDate()).padStart(2, '0');
                    var hours = String(now.getHours()).padStart(2, '0');
                    var minutes = String(now.getMinutes()).padStart(2, '0');

                    var formattedDate = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes;
                document.getElementById("Payment_Invalid").disabled = false;
               document.getElementById("Payment_Invalid").value = formattedDate;
                document.getElementById("PDck").disabled = true;
            }
            else
            {
                document.getElementById("Payment_Invalid").disabled = true;
                 document.getElementById("Payment_Invalid").value = null;
                document.getElementById("PDck").disabled = false;
            }
        }
         $('#createForm').on('abp-ajax-success', function (result, rs) {
                event.preventDefault();
                location.href = '/Accounting/Payment/Payment?Id=' + rs.responseText.id+'&edit=Y'
            });
    </script>
    <style type="text/css">
        .container{
           display:flex; /*一開始需要在父層宣告為 flex 才有效*/
        }
        ​
        .item-right, .item-center, .item-left{
         flex:1;
        }
           #ejo .btn-primary {
    color: #fff;
    background-color: rgb(25 28 32 / 52%);
    border-color: #000000;
}
    </style>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Accounting"] />
            <abp-breadcrumb-item title=@L["Menu:Payment"] />
            <abp-breadcrumb-item title=@L["Menu:MakePayment"] href="#"/>
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>            
            <li class="menu-item">
                <a class="nav-link active" href="javascript:void(0)">@L["Tab:Basic"]</a>
            </li>
           @{
                if(Model.Id != Guid.Empty){
                    <li class="menu-item">
                        <a class="nav-link" href="Payment/DocCenter?Id=@Model.Id">@L["Tab:Doc"]</a>
                    </li>
                } else
                {
                    <li class="menu-item">
                        <a class="nav-link disabled" href="DocCenter">@L["Tab:Doc"]</a>
                    </li>
                }
            }
        </ol>
    </nav>
</div>
<form submit-button="true" data-ajaxForm="true" id="createForm">
    <abp-row>
        <abp-column>
            <abp-card border="Dark">
                <abp-card-header style="background:#555555;color:#FFFFFF;">
                    <abp-row>
                        <abp-column size="_12">
                            <abp-card-title>
                               @L["Menu:MakePayment"]<span id="title0"></span>
                            </abp-card-title>
                        </abp-column>
                    </abp-row>                        
                </abp-card-header>
                <abp-card-body>
                <abp-row>
                                 <abp-column size="_4">
                       <div class="form-group row mt-2">
    <label class="col-4 col-form-label ml-3">@L["PaymentLevel"]</label>
    <div class="col-4"> 
        <abp-select suppress-label asp-for="Payment.PaymentLevel" asp-items="@Model.PLList" style="width:200px;" />
    </div>
    </div>
    </abp-column>
                </abp-row>
                      <abp-row>  
                           <abp-column size="_4">
                    <abp-card  >
                        <abp-card-body style="background:#eeeeee;">
                        <abp-row>
                                <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label "><span class="text-danger">*</span>@L["ReceivablesSources"]</label>
                             <div class="col-7">
                                   @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "Payment.PaidTo", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = false, FieldName = "PaidTo",IsRequired=true, /*SelectType = 1,*/ ShowFiledContentValue = Convert.ToString(Model.Payment.PaidTo) })
                                 @* <abp-select suppress-label asp-for="Payment.PaidTo" asp-items="@Model.PTList" /> *@
                              
                                <abp-input asp-for="Payment.ShowPartyOnCheck" />
                                </div>
                                </div>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                              <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label "><span class="text-danger">*</span>@L["ReleaseDate"]</label>
                             <div class="col-7">
                                <abp-input required suppress-label  asp-for="Payment.ReleaseDate"   />
                                </div>
                                </div>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                             <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["Category"]</label>
                             <div class="col-7">
                                 <abp-select suppress-label asp-for="Payment.Category" asp-items="@Model.CategoryList"  />
                                 </div>
                                 </div>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                              <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["CheckNo"]</label>
                             <div class="col-7">
                                <abp-input asp-for="Payment.CheckNo"  suppress-label />
                                </div>
                                </div>
                            </abp-column>
                        </abp-row>
                        
                        <br/>
                        <abp-row class="row g-0">                               
                              <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["Clear"]<input type="checkbox" name="PDck" id="PDck" onclick="PD_disable()"/></label>
                             <div class="col-7">
                                
                                    <input asp-for="Payment.Clear"  class="form-control"/>
                              </div>
                                </div>
                            </abp-column>
                        </abp-row>
                        <br/>
                        <br/>
                        <abp-row class="row g-0">                              
                              <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["Invalid"]<input type="checkbox" name="PIck" id="PIck" onclick="PI_disable()"/></label>
                             <div class="col-7">
                              
                                    <input asp-for="Payment.Invalid"  class="form-control"/>
                                </div>
                                </div>
                            </abp-column>
                        </abp-row>
                        </abp-card-body>
                    </abp-card>
                    </abp-column>
                      <abp-column size="_4">
                    <abp-card>
                        <abp-card-body style="background:#eeeeee;">
                        <abp-row>
                               <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label "><span class="text-danger">*</span>@L["OfficeId"]</label>
                             <div class="col-7">
                                 <abp-select required suppress-label asp-for="Payment.OfficeId" asp-items="@Model.SubstationList"  />
                           </div>
                           </div> 
                             </abp-column>
                        </abp-row>
                        <abp-row>
                               <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["Bank"]</label>
                             <div class="col-7">
                                 <abp-select suppress-label asp-for="Payment.Bank" asp-items="@Model.BankList" />
                                 </div>
                                 </div>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column size-md="_12">
                             <div class="form-group row ">
                             <label class="col-5 col-form-label ">@L["BankCurrency"]</label>
                             <div class="col-7">
                                 <abp-input suppress-label asp-for="Payment.BankCurrency"  readonly="true" value="TWD"/>
                                 </div>
                                 </div>
                            </abp-column>
                        </abp-row>
                       
                        </abp-card-body>
                    </abp-card>
                    </abp-column>
                     <abp-column size="_4">
                    <abp-card >
                        <abp-card-body style="background:#eeeeee;">
                    <abp-row>
                                 <abp-column size-md="_12">
                                         <div class="form-group row ">
                             <label class="col-3 col-form-label ">@L["Remark"]</label>
                             <div class="col-9"> 
                                 <textarea asp-for="Payment.Memo" style="width:100%;height:150px"></textarea>
                               </div>
                               </div>
                            </abp-column>
                    </abp-row>
                    </abp-card-body>
                    </abp-card>
                    </abp-column>
               </abp-row> 
               </abp-card-body>
            </abp-card>
            <br />
        </abp-column>
    </abp-row>
    <abp-input asp-for="Payment.Id" type="hidden"/>
    <abp-input asp-for="Payment.GU" type="hidden"/>
    <abp-input asp-for="Payment.Edit" type="hidden"/>
    @*<input type="hidden" name="GU" id="GU" value="@Model.Payment.GU" />*@
    <input type="hidden" name="datatablelist" id="datatablelist" value="" />
    @await Html.PartialAsync("~/Pages/Accounting/Inv/_InvoiceList.cshtml", "")
    <abp-row class="mt-3" id="ejo">
        <abp-column>
                <div style="position: fixed; bottom: 55px; left: 0; right: 0; text-align:center;">
                  @*   <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Display:Button:New"].Value</abp-button> *@
                 <button class="btn btn-primary me-md-2 rounded-circle" type="button" id="saveBtn" style="width: 60px; height: 60px;">
  <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-save fa-w-14 fa-2x">
    <path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"></path>
  </svg>
</button>
                </div>
        
        </abp-column>
    </abp-row>        
</form>