@page
@using Dolphin.Freight.Localization
@using Microsoft.Extensions.Localization
@using Dolphin.Freight.AirExports
@using Dolphin.Freight.Web.Pages.Components

@using Dolphin.Freight.Web.CommonService
@model Dolphin.Freight.Web.Pages.AirImports.MawbListModel
@inject IStringLocalizer<FreightResource> L
@inject IDropdownService _dropdown;
@section styles
{

    <style>
       /* th, td { white-space: nowrap; }*/
    /*div.dataTables_wrapper {
        width: 1100px;
        margin: 0 auto;
    }*/
    </style>
}
@section scripts
{
    <abp-script src="/Pages/AirImports/MawbList.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item href="#" title=@L["Menu:Home"] />
            <abp-breadcrumb-item title=@L["Menu:AirImport"] />
            <abp-breadcrumb-item title=@L["Menu:AirImport.MawbList"] />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
               <abp-row class="w-100">
                <abp-column size-md="_6">
                    <abp-card-title>@L["Menu:AirImport.MawbList"]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-end">
                       <abp-button id="FilterGlCodeButton"
                            text="@L["Filter"].Value"
                            icon="filter"
                            button-type="Primary"
                            data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="true" aria-controls="mblDiv" />
                             <abp-button id="btnConfiguration"
                                text="@L["Configuration"].Value"
                                icon="gear"
                                button-type="Primary" />
                    <abp-button id="AddMawbButton"
                                text=@L["Display:Button:New"]
                                icon="plus"
                                button-type="Outline_Secondary" />
                    <abp-button id="ExportMawbExcelButton"
                                text=@L["Display:Button:Excel"]
                                icon="file-excel"
                                button-type="Outline_Secondary" />
                </abp-column>
            </abp-row>
        </abp-card-header>
             <abp-card-body class="collapse hide" id="mblDiv">
            <abp-row class="mb-3">
                <abp-column size-md="_1">
                    <label>@L["Keyword"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    <input class="form-control" id="Keyword" />
                </abp-column>
                
                 <abp-column size-md="_1">
                    <label>@L["Consignee"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.ConsigneeId", AspItems = Model.TradePartnerLookupList, IsShowLabel = false, FieldName = "ConsigneeId", SelectType = 2,ShowFiledContentValue=null})
                </abp-column>
               
                  <abp-column size-md="_1">
                    <label>@L["Carrier"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                  @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.CarrierId", AspItems = Model.TradePartnerLookupList, IsShowLabel = false, FieldName = "CarrierId", SelectType = 0,  })
            </abp-column>
                 <abp-column size-md="_1">
                    <label>@L["FlightNo"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    <input type="text" class="form-control" id="FlightNo" />
                </abp-column>
            </abp-row>
         <abp-row class="mb-3">
                
              
              
                <abp-column size-md="_1">
                    <label>@L["Depature"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.DepatureId", AspItems = _dropdown.PortsManagementLookupList,  IsShowLabel = false, FieldName = "DepatureId", SelectType = 0, ShowFiledContentValue =null })
                                </abp-column>
 <abp-column size-md="_1">
                    <label>@L["Destination"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                 @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.DestinationId", AspItems = _dropdown.PortsManagementLookupList,  IsShowLabel = false, FieldName = "DepatureId", SelectType = 0, ShowFiledContentValue =null })
                    </abp-column>
                    <abp-column size-md="_1">
                    <label>@L["DepatureDate"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    <input type="date" class="form-control" id="DepatureDate" />
                </abp-column>
                <abp-column size-md="_1">
                    <label>@L["ArrivalDate"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    <input type="date" class="form-control" id="ArrivalDate" />
                </abp-column>
             
            </abp-row>
           
          
               
               
               
                
            
          
                  <abp-row class="mb-3">
                <abp-column size-md="_1">
                    <label>@L["PostDate"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                    <input class="form-control" type="date" id="PostDate" />
                </abp-column>
               
                    <abp-column size-md="_1">
                    <label>@L["Office"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                  @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.OfficeId", AspItems =  _dropdown.SubstationLookupList, IsShowLabel = false, FieldName = "OfficeId", SelectType = 0,  })
            </abp-column>
             <abp-column size-md="_1">
                    <label>@L["FreightLocationId"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
                 @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "VesselSchedule.FreightLocationId", AspItems = _dropdown.TradePartnerLookupList, IsShowLabel = false, FieldName = "FreightLocationId", SelectType = 0, ShowFiledContentValue = null })
                     </abp-column>  
                      <abp-column size-md="_1">
                    <label>@L["AwbType"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
               <abp-select suppress-label id="AwbType" asp-for="@Model.AwbType" class="form-control form-control-sm" size="Small" >
               <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
               </abp-select>
               </abp-column>
            </abp-row>

                <abp-row class="mb-3">
                         <abp-column size-md="_1">
                    <label>@L["DirectMaster"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
               <select id="DirectMaster" class="form-control" />
                <option value=""></option>
                   <option value="true">Yes</option>
                    <option value="false">No</option>
               </select>
                
                </abp-column>
                  <abp-column size-md="_1">
                    <label>@L["CreationDate"].Value</label>
                </abp-column>
                <abp-column size-md="_2">
              <input type="date" id="CreationDate" class="form-control" />
                
                </abp-column>
                 </abp-row>
            <abp-row>
                <abp-abp-column class="text-center">
               
                    <abp-button type="button" id="CancelFilter" text="@L["Cancel"]" button-type="Danger" />

                    <abp-button type="button" id="Search" text="@L["Search"]" button-type="Primary" />
               
                </abp-abp-column>
            </abp-row>
            </abp-card-body>
        <abp-card-body>
        
            <abp-table class="nowrap" striped-rows="true" id="MawbListTable" class="stripe row-border order-column" style="width:100%"></abp-table>
        </abp-card-body>
    </abp-card>
</div>
<style>
    .filterDiv div {
        display: flex;
        padding: 0 !important;
    }
</style>

